{{extend 'layout.html'}}
{{k1=1}}
<a href={{=URL(r=request,f="rating",args=[k[0],'1',k[0]])}}><img src="/Musiclibrary/static/12.jpg" title="RATING: 1" border=0></a><br/>
<a href={{=URL(r=request,f="rating",args=[k[0],'2',k[0]])}}><img src="/Musiclibrary/static/rating/2_s.gif" title="RATING: 2" width="50%" border=0></a><br/>
<a href={{=URL(r=request,f="rating",args=[k[0],'3',k[0]])}}><img src="/Musiclibrary/static/rating/3_s.gif" title="RATING: 3" border=0></a><br/>
<a href={{=URL(r=request,f="rating",args=[k[0],'4',k[0]])}}><img src="/Musiclibrary/static/rating/4_s.gif" title="RATING: 4" border=0></a><br/>
<a href={{=URL(r=request,f="rating",args=[k[0],'5',k[0]])}}><img src="/Musiclibrary/static/rating/5_s.gif" title="RATING: 5" border=0></a><br/>
</br>
