<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<title> Greenie Template by Xeonfx.com</title> 
<meta name="keywords" content="Free Template By Ace." />
<meta name="description" content="Descripton" />
<link rel="shortcut icon" href="/favicon.png" />  
<link rel="stylesheet" type="text/css" href="default.css" />
</head>
<body>
<!-- default margin = default layout -->




<div id="header"><a href="#">your site.com</a>
<div id="slogan">your slogan.</div></div>
<div id="nav">
<a href="#">Home</a>
<a href="#">Downloads</a>
<a href="#">Files</a>
<a href="#">Forum</a>
<a href="#">Staff</a>
<a href="#">Affiliates</a>
<a href="#">Contact us</a>
</div>


<div id="main">
<br></br>
<div class="heading">heading goes here </div>

<div class="details"><br></br>HI guys some of you might know me but most might not. I am a designer and make templates , ( one example is in front of you ) and work on different gfx using photoshop. I have gone through alot , but i dont think that my coding and designing skills are enough so i am rearning alot.
This template has took a lot of time in the making so please dont remove the copyright :D . and remember to find out more templates at  <a href="http://www.xeonfx.com">Xeonfx.com</a><br></br>If you need any help please contact me through the site , youll find my contact there.<br></br><br></br>



text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text  
text  text  text  text  text  text  text  text  text  text  text  text 
</div>


<div class="heading">Affiliates etc.</div>
 
<br></br>
</div>
<div id="footer"><a href="http://jigsaw.w3.org/css-validator/check/referer">Valid Css</a> and <a href="http://validator.w3.org/check?uri=referer">Valid Xhtml</a>  
	© 2006-2007 yoursite.com  .Template design by Ace @ <a href="http://www.xeonfx.com">Xeonfx.com</a> </div>

</body>
</html>