<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Sitename.com by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<div id="menu">
		<ul>
			<li><a href="#" accesskey="1" title="">Home</a></li>
			<li><a href="#" accesskey="2" title="">Services</a></li>
			<li><a href="#" accesskey="3" title="">Information</a></li>
			<li><a href="#" accesskey="4" title="">About</a></li>
			<li><a href="#" accesskey="5" title="">Contact</a></li>
		</ul>
	</div>
	<div id="search">
		<form id="form1" method="get" action="">
			<div>
				<input type="text" name="textfield1" id="textfield1" />
				<input type="submit" name="submit1" id="submit1" value="Search" />
			</div>
		</form>
	</div>
</div>
<div id="content">
	<div id="colOne">
		<div id="logo">
			<h1><a href="#">Differential</a></h1>
			<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
		</div>
		<div class="boxed">
			<h3>Lorem ipsum dolor</h3>
			<ul>
				<li class="first"><a href="#">Sed accumsan congue</a></li>
				<li><a href="#">Nulla dignissim nec augue</a></li>
				<li><a href="#">Nunc ante elit nulla</a></li>
				<li><a href="#">Aliquam suscipit consequat</a></li>
				<li><a href="#">Cursus sed arcu sed</a></li>
				<li><a href="#">Nulla dignissim nec augue</a></li>
			</ul>
		</div>
		<div class="boxed">
			<h3>Mauris cras libero</h3>
			<ul>
				<li class="first"><a href="#">Sed accumsan congue</a></li>
				<li><a href="#">Nulla dignissim nec augue</a></li>
				<li><a href="#">Nunc ante elit nulla</a></li>
				<li><a href="#">Aliquam suscipit consequat</a></li>
				<li><a href="#">Cursus sed arcu sed</a></li>
				<li><a href="#">Nulla dignissim nec augue</a></li>
			</ul>
		</div>
	</div>
	<div id="colTwo">
		<div id="welcome">
			<h2>Welcome to Sitename.com</h2>
			<img src="images/img5.jpg" alt="" width="109" height="109" class="image" />
			<p><strong>Differential</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo to the left is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use this template for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
			<p>Sed vel quam. Vestibulum pellentesque. Morbi sit amet magna ac lacus dapibus interdum. Donec pede nisl, gravida iaculis, auctor vitae, bibendum sit amet, mauris. Cras adipiscing libero et risus. Donec rutrum tempus massa. Proin at mauris sed elit venenatis porttitor. Morbi quam nisl, fringilla quis, sagittis nec, adipiscing at, elit. Maecenas sed sem sit amet lectus mattis molestie. Integer quis eros lorem ipsum dolor sit amet veroeros consequat.</p>
		</div>
		<div class="post">
			<h3>Fusce quisque condimentum</h3>
			<h4><strong>01.14.2007</strong> | <a href="#">34 Comments</a></h4>
			<p>Morbi sit amet magna ac lacus dapibus interdum. Donec nec risus vel sem dignissim tristique. Sed neque. Fusce in elit. Quisque condimentum, ante id convallis convallis, sapien est dignissim elit, vel pulvinar augue eros quis metus. Suspendisse pede nisl, gravida iaculis, auctor vitae, bibendum sit amet, mauris. Cras adipiscing libero et risus. Donec rutrum tempus massa. Proin at mauris sed elit venenatis porttitor. Morbi quam nisl, fringilla quis, sagittis nec, adipiscing at, elit. Maecenas sed sem sit amet lectus mattis molestie. Integer quis eros.</p>
		</div>
		<div class="post">
			<h3>Maecenas lectus mattis</h3>
			<h4><strong>01.14.2007</strong> | <a href="#">16 Comments</a></h4>
			<p>Morbi sit amet magna ac lacus dapibus interdum. Donec nec risus vel sem dignissim tristique. Sed neque. Fusce in elit. Quisque condimentum, ante id convallis convallis, sagittis nec, adipiscing at, elit. Maecenas sed sem sit amet lectus mattis molestie. Integer quis eros sapien est dignissim elit, vel pulvinar augue eros quis metus. Suspendisse pede nisl, gravida iaculis, auctor vitae, bibendum sit amet, mauris. Cras adipiscing libero et risus. Donec rutrum tempus massa. Proin at mauris sed elit venenatis porttitor. Morbi quam nisl, fringilla quis, sagittis nec, adipiscing at, elit.</p>
		</div>
	</div>
</div>
<div id="footer">
	<p>Copyright (c) 2006 Sitename.com. All rights reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>
