<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>

	<title>One Penny</title>
	
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="author" content="Name of the company goes here" />
	<meta name="design" content="SimplyGold [Sadhana Ganapathiraju]" />
	<meta name="keywords" content="Keywords go here" />
	<meta name="description" content="Description goes here" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
	
</head>

<body id="bhome">

	<div id="container">
	
		<div id="header">
		
			<h1><a href="/" title="Home"><span>One Penny</span></a></h1>
			
		</div>
		
		<div id="navigation">
		
			<ul>
			
				<li id="lhome"><a href="#01" title="Home">Home</a></li>
				<li id="lblog"><a href="#04" title="Blog">Blog</a></li>
				<li id="lproducts"><a href="#05" title="Products">Products</a></li>
				<li id="lsupport"><a href="#06" title="Support">Support</a></li>
				<li id="labout"><a href="#02" title="About">About</a></li>
				<li id="lcontact"><a href="#03" title="Contact">Contact</a></li>
			
			</ul>
		
		</div>
		
		<div id="wrapper">
		
			<div id="content-wrapper">
			
				<div id="content">
				
					<h3>Introduction</h3>
				
					<p><a href="http://showcase.nikhedonia.com/free_templates/onepenny/" title="View Template Online">OnePenny</a> 
					is a free template designed by me, Sadhana Ganapathiraju, aka <a href="http://www.nikhedonia.com/" title="
					SimplyGold">SimplyGold</a>.</p>
					
					<p>Feel free to use it for personal or commercial use. Make any modifications whatever. Just refrain from 
					selling it.</p>
					
					<p>You aren't <strong>required</strong> to attribute the design to me, but a mention and a <a 
					href="http://www.nikhedonia.com/" title="SimplyGold">link</a> would be much appreciated. :-) If you 
					like my designs and want a personalized template, don't <a href="http://notebook.nikhedonia.com/index.php/contact-me/"
					title="Request a Quote">hesitate to contact me.</a></p>
					
					<h4>Ordered List</h4>
					
					<ol>
					
						<li>Considering the popularity</li>
						<li>Creating and documenting</li>
						<li>Schedule extra services</li>
						<li>Wasting paper the easy way</li>
						<li>How many more do I gotta write?</li>
					
					</ol>
					
					<h4>Unordered List</h4>
					
					<ul>
					
						<li>We are</li>
						<li>going to</li>
						<li>keep this</li>
						<li>nice and</li>
						<li>short</li>
					
					</ul>
					
					<blockquote>
					<p>
						Watch for a <code>Wordpress</code> theme based on this template at 						<a href="http://notebook.nikhedonia.com/" title="SimplyNotebook">my 
						blog</a>.
					</p>
					</blockquote>
					
					<p><ins>Newly inserted text.</ins> <del>And here's some deleted text.</del> And some <code>code</code>.</p>

				
				</div>
			
			</div>
			
			<div id="sidebar-wrapper">
			
				<div id="sidebar">
				
					<h3>Sidenotes</h3>
					
					<ul id="sidenotes">
					
						<li>
							<a href="http://www.nikhedonia.com/" title="SimplyGold">
								<span class="title">Free Template: One Penny</span>
								<span class="date">Posted On: 07-21-2006</span>
								<span class="content">One Penny is a free template that focuses on simplicity.</span>
							</a>
						
						</li> 
						
						<li>
							<a href="http://en.wikipedia.org/wiki/Beetles" title="Beetles">
								<span class="title">Beetles</span>
								<span class="date">Posted On: 07-20-2006</span>
								<span class="content">Beetles are yucky and gross. They're also present everywhere.</span>
							</a>
						
						</li> 
						
						<li>
							<a href="http://en.wikipedia.org/wiki/Worms" title="Worms">
								<span class="title">Worms</span>
								<span class="date">Posted On: 07-19-2006</span>
								<span class="content">If we could measure grossness, beetles are 4, snakes are 7, and worms are 10. Ugh.</span>
							</a>
							
						</li> 
						
						<li>
							<a href="http://en.wikipedia.org/wiki/Computer_worm" title="Computer Worm">
								<span class="title">Computer Worms</span>
								<span class="date">Posted On: 07-18-2006</span>
								<span class="content">Suspiciously similar to real-life worms.</span>
							</a>
							
						</li> 
						
						<li>
							<a href="http://en.wikipedia.org/wiki/Angel_Wing" title="Angel Wing">
								<span class="title">Angel Wing</span>
								<span class="date">Posted On: 07-10-2006</span>
								<span class="content">Diseases shouldn't have cute names, and that's all I have to say on the matter.</span>
							</a>
							
						</li>
						
						<li class="more"><a href="#" title="Read More &rarr;">More &rarr;</a></li>
						
					</ul>
					
					<h6>Other Additions</h6>
					
					<p>
						Add whatever you want. Some popular additions include <abbr title="Really Simple Syndication">RSS</abbr>, 
						subscription links, and latest news.
					</p>
				
				</div>
			
			</div>
		
		</div>
		
		<div id="footer">
		
			Copyright &copy; 1999 &ndash; 2006 CompanyName. All rights reserved. | 
			Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a> | 
			<a href="http://validator.w3.org/check/referer" title="Xhtml 1.0 Strict">Xhtml</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="CSS 2.0 Strict">Css</a> | 
			<a href="#" title="Rss">Rss</a>
		
		</div>
	
	</div>

</body>
</html>