<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>School of Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div class="main">
<div class="tophead">
  <h1>Rambling Soul</h1>
</div>
<div class="header"><div id="tabsB">
  <ul>
    <li><a href="#" title="Home"><span>Home</span></a></li>
    <li><a href="#" title="About Us"><span>About Us </span></a></li>
    <li><a href="#" title="Facilities"><span>Facilities</span></a></li>
    <li><a href="#" title="Departments"><span>Departments</span></a></li>
    <li><a href="#" title="IT Centre"><span>IT Centre </span></a></li>
    <li><a href="#" title="Student Life"><span>Students Life </span></a></li>
	<li><a href="#" title="Campus News"><span>Campus News </span></a></li>
	<li><a href="#" title="Reach Us"><span>Reach Us </span></a></li>
  </ul>
</div></div>
<div class="contents"><div class="right">
<div class="rightcontents"><h2>Programmes</h2>
  <ul>
    <li><a href="#1">Computer Science &amp; Engineering</a></li>
    <li><a href="#2">Electronics &amp; Communication Engineering</a></li>
    <li><a href="#">Mechanical Engineering</a></li>
    <li><a href="#">Electrical &amp; Electronic Engineering </a></li>
    <li><a href="#">Production Engineering</a></li>
    <li><a href="#">Civil Engineering</a></li>
    <li><a href="#">Masters in Computer Applications    </a></li>
  </ul>
</div>
<div class="rightcontents">
<h2>Quick Links</h2>
<ul>
  <li><a href="#">Tenders</a></li>
  <li><a href="#">Admission Procedures</a></li>
  <li><a href="#">Students Scholarship </a></li>
  <li><a href="#">Library</a></li>
  <li><a href="#">Campus Dimensions</a></li>
  <li><a href="#">Mandatory Disclosure</a></li>
  <li><a href="#">How to Reach</a></li>
  </ul>
</div>
</div>
<div class="left">
<h1>Welcome</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus viverra, pede vel rutrum luctus, magna tortor suscipit lectus, tempor gravida magna elit in diam. Cras at augue et ligula malesuada iaculis. Etiam metus tortor, sodales sit amet, dapibus id, egestas et, dui. Fusce ultricies accumsan lacus. Sed porta faucibus purus. Aliquam cursus hendrerit purus. Curabitur feugiat eleifend tellus. Duis porttitor, lacus non ultrices iaculis, elit dui vehicula sapien, vitae condimentum quam lectus tempor sapien. Quisque mattis, metus vel vehicula congue, pede enim egestas sapien, vitae dapibus justo dui eu orci. Fusce tempus arcu facilisis justo. </p>
<p>In ac ipsum vitae metus lobortis consectetuer. Nullam dolor. Vivamus nisl augue, vestibulum et, elementum vel, mollis non, magna. Mauris velit pede, facilisis ac, sollicitudin ac, rhoncus ac, purus. Praesent ultricies dignissim urna. Nullam vitae mauris. <a href="about">&raquo; Read More</a> </p>
<p>.</p>
 <div id="news">&raquo; News &amp; Announcements </div>
<h2>Technical talk                 by Dr P M S Nambisian addressed to EEE Assosiation.</h2>
 <div class="date">March,2005</div> 
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus viverra, pede vel rutrum luctus, magna tortor suscipit lectus, tempor gravida magna elit in diam. Cras at augue et ligula malesuada iaculis. Etiam metus tortor, sodales sit amet, dapibus id, egestas et, dui. Fusce ultricies accumsan lacus. Sed porta faucibus purus. Aliquam cursus hendrerit purus. Curabitur feugiat eleifend tellus. Duis porttitor, lacus non ultrices iaculis, elit dui vehicula sapien, vitae condimentum quam lectus tempor sapien. Quisque mattis, metus vel vehicula congue, pede enim egestas sapien, vitae dapibus justo dui eu orci. Fusce tempus arcu facilisis justo. In ac ipsum vitae metus lobortis consectetuer. Nullam dolor. Vivamus nisl augue, vestibulum et, elementum vel, mollis non, magna. Mauris velit pede, facilisis ac, sollicitudin ac, rhoncus ac, purus. Praesent ultricies dignissim urna. Nullam vitae mauris.</p>
  <h2>Seminar on Citizenship.</h2>
  <div id="date">March, 2005</div>
  <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus viverra, pede vel rutrum luctus, magna tortor suscipit lectus, tempor gravida magna elit in diam. Cras at augue et ligula malesuada iaculis. Etiam metus tortor, sodales sit amet, dapibus id, egestas et, dui. Fusce ultricies accumsan lacus. Sed porta faucibus purus. Aliquam cursus hendrerit purus. Curabitur feugiat eleifend tellus. Duis porttitor, lacus non ultrices iaculis, elit dui vehicula sapien, vitae condimentum quam lectus tempor sapien. Quisque mattis, metus vel vehicula congue, pede enim egestas sapien, vitae dapibus justo dui eu orci. Fusce tempus arcu facilisis justo. In ac ipsum vitae metus lobortis consectetuer. Nullam dolor. Vivamus nisl augue, vestibulum et, elementum vel, mollis non, magna. Mauris velit pede, facilisis ac, sollicitudin ac, rhoncus ac, purus. Praesent ultricies dignissim urna. Nullam vitae mauris.</p>
  <h3>Heading 3 </h3>
  <p>Fusce tempus arcu facilisis justo. In ac ipsum vitae metus lobortis consectetuer. Nullam dolor. Vivamus nisl augue, vestibulum et, elementum vel, mollis non, magna. Mauris velit pede, facilisis ac, sollicitudin ac, rhoncus ac, purus. Praesent ultricies dignissim urna. Nullam vitae mauris.</p>
</div>
<div class="spacer">&nbsp;</div>
</div>
<div class="footer">
<div class="footertexts">&copy; Your School Name | All Rights Reserved<br />
Designed by<a href="http://ramblingsoul.com"> Rambling Soul</a> | <a href="http://validator.w3.org/check?uri=referer">XHTML</a> | CSS <br />
</div>
</div>

</div>
</body>
</html>
