<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="www-yourdomain-com">

<head>
  
	<title>Two-Tenths | About Two-Tenths</title>
	
	<meta http-equiv="content-language" content="en-us" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="author" content="Company name goes here" />
	<meta name="design" content="Sadhana Ganapathiraju" />
	<meta name="description" content="Description goes here" />
	<meta name="keywords" content="And the keywords go here" />
	
	<link rel="stylesheet" type="text/css" media="screen,projection" href="screen.css" />
	
	<!--[if lt ie 7]>
	
		<link rel="stylesheet" type="text/css" media="screen,projection" href="ie-win.css" />
	
	<![endif]-->
	
	<link rel="start" title="Home" href="http://www.example.com/" />
	
</head>

<body id="bhome">

	<div id="topnav">
		
		<ul>
				
			<li><a href="#01" title="About">About</a></li>
			<li><a href="#03" title="Preferences">Preferences</a></li>
			<li><a href="#02" title="Upcoming Events">Upcoming Events</a></li>
			<li><a href="#04" title="Mission Statement">Mission Statement</a></li>
			
		</ul>
		
	</div>

	<div id="header">
	
		<h1><a href="#00" title="Home">Two-Tenths</a></h1>
	
	</div>
	
	<div id="navigation">
	
		<ul>
			
			<li id="lhome"><a href="#00" title="Home">Home</a></li>
			<li id="lservices"><a href="#05" title="Services">Services</a></li>
			<li id="lproducts"><a href="#06" title="Products">Products</a></li>
			<li id="lsupport"><a href="#07" title="Support">Support</a></li>
			<li id="lblog"><a href="#08" title="Blog">Blog</a></li>
			<li id="labout"><a href="#09" title="About">About</a></li>
			<li id="lcontact"><a href="#10" title="Contact">Contact</a></li>
		
		</ul>
		
	</div>
	
	<div id="wrapper">
	
		<div id="content-wrapper">
		
			<div id="content">
			
				<h6>Introduction</h6>
				
				<p>
					<a href="http://showcase.nikhedonia.com/free_templates/two-tenths/" title="View Two-Tenths Online">Two-Tenths</a> 
					is a free template designed by me, Sadhana Gaapathiraju, aka <a href="http://www.nikhedonia.com/" title="SimplyGold">
					SimplyGold</a>.
				</p>
				
				<p>Feel free to use it for personal or commercial use. Make any modifications you want. Just refrain from selling it.</p>
				
				<p>You aren't <strong>required</strong> to attribute the design to me, but a mention and a <a href="http://www.nikhedonia.com/" 
				title="SimplyGold">link</a> would be much appreciated. :-) If you like my designs and want me to design a website for you, don't 
				<a href="http://notebook.nikhedonia.com/index.php/contact-me" title="Contact Me">hesitate to contact me</a>.</p>
				
				<table summary="A table of random people" cellspacing="0" border="0">
					
					<caption>Table 1: A Table Of Random People</caption>

						
					<tr>
						<th scope="col">First Name</th>
						<th scope="col">Middle Initial</th>
						<th scope="col">Last Name</th>
						<th scope="col">SSN</th>
						<th scope="col">Boredom Level</th>
					</tr>
						
					<tr>
						<td>Monkey</td>
						<td>&nbsp;</td>
						<td>Man</td>
						<td>xxx-xx-0000</td>
						<td>2</td>
					</tr>
						
					<tr class="alt">
						<td>Donkey</td>
						<td>D.</td>
						<td>Man</td>
						<td>xxx-xx-3832</td>
						<td>10+</td>
					</tr>
					
					<tr>
						<td>Cranky</td>
						<td>&nbsp;</td>
						<td>Man</td>
						<td>xxx-xx-3821</td>
						<td>1</td>
					</tr>
					
					<tr class="alt">
						<td>Franky</td>
						<td>F.</td>
						<td>Manderake</td>
						<td>382-238-2833</td>
						<td>9</td>
					</tr>
					
				</table>
				
				<h6>An Ordered List</h6>
				
				<ol>
					<li>Considering the popularity</li>
					<li>Creating and documenting</li>
					<li>Schedule extra services</li>
					<li>Wasting paper the easy way</li>
					<li>How many more do I gotta write?</li>
				</ol>
				
				<h6>An Unordered List</h6>
				
				<ul>
					<li>We are</li>
					<li>going to</li>
					<li>keep this</li>
					<li>nice and</li>
					<li>short</li>
				</ul>
				
				<blockquote><p>Here's a blockquote for your viewing pleasure. <ins>Newly-inserted text.</ins> <del>And some deleted text.</del></p></blockquote>
			
			</div>
		
		</div>
		
		<div id="sidebar-wrapper">
		
			<div id="sidebar">
			
				<h6>Upcoming Events</h6>
				
				<ul id="upcoming-events">
				
					<li>
					
						<a href="#21" title="Find Out More">
						
							Entries Are Ordered
							(August 10, 2006)
					
						</a>
					
					</li>
					
					<li>
					
						<a href="#22" title="Find Out More">
						
							By Date Or Whatever
							(August 15, 2006)
					
						</a>
					
					</li>
					
					<li>
					
						<a href="#23" title="Find Out More">
						
							You Can Have As Many
							(September 30, 2006)
					
						</a>
					
					</li>
					
					<li>
					
						<a href="#21" title="Find Out More">
						
							As You Want
							(October 10, 2006)
					
						</a>
					
					</li>
					
					<li>
					
						<a href="#21" title="Find Out More">
						
							But I Suggest Less Than 10
							(October 10, 2006)
					
						</a>
					
					</li>
				
				</ul>
				
				<h6>Announcements</h6>
				
				<ul id="announcements">
				
					<li>
					
						<span class="date">07.31.06</span>
						<a href="#23">Something Awesome Just Happened</a>
						<span class="entry">
							Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis ut nunc. Vestibulum quis nulla. Maecenas ac ante.
						</span>
					
					</li>
					
					<li class="alt">
					
						<span class="date">07.25.06</span>
						<a href="#23">Proin Sem Lectus</a>
						<span class="entry">
							Suspendisse ultrices odio quis neque. Pellentesque dui mi, bibendum ac, porta vel, cursus quis, odio. 
						</span>
					
					</li>
					
					<li>
					
						<span class="date">07.21.06</span>
						<a href="#23">Morbi Pretium Nulla</a>
						<span class="entry">
							onec sodales sodales nulla. In hac habitasse platea dictumst. Nulla mollis, leo vel cursus sagittis.
						</span>
					
					</li>
					
					<li class="alt">
					
						<span class="date">07.20.06</span>
						<a href="#23">Pellentesque Tempus</a>
						<span class="entry">
							Elit eros lobortis erat, ut tempor tortor pede vel arcu. Cras congue suscipit orci. 
						</span>
					
					</li>
					
					<li>
					
						<span class="date">07.20.06</span>
						<a href="#23">Vivamus Vitae Lectus</a>
						<span class="entry">
							Vivamus mauris odio, ornare in, ultrices at, commodo vel, metus. Quisque vitae odio at dolor porta suscipit. 
							Ut ullamcorper pretium lorem. Fusce consectetuer sem eu mauris.
						</span>
					
					</li>
				
				</ul>
			
			</div>
		
		</div>
	
	</div>
	
	<div id="footer">
	
		<div id="additional-info">
		
			<div id="recent-blog">
			
					<h6>Recent Entries</h6>
			
					<ul>
					
						<li><a href="#11" title="Read this entry">How to Type Like the Wind</a></li>
						<li><a href="#12" title="Read this entry">Lorem Ipsum Stinks</a></li>
						<li><a href="#13" title="Read this entry">Everyone Knows This, Of course</a></li>
						<li><a href="#14" title="Read this entry">But They Use it Anyway</a></li>
						<li><a href="#15" title="Read this entry">What's Up With That?</a></li>
						
					</ul>
			
			</div>
			
			<div id="recent-news">
			
				<h6>Recent News</h6>
			
				<ul>
					
						<li><a href="#16" title="Read this news item">Stockholder Meeting Report</a></li>
						<li><a href="#17" title="Read this news item">Profits up 20% This Quarter</a></li>
						<li><a href="#18" title="Read this news item">Not that Most Poeple Care</a></li>
						<li><a href="#19" title="Read this news item">But All the Same</a></li>
						<li><a href="#20" title="Read this news item">It Deserved To Be Blogged About</a></li>
						
					</ul>		
			
			</div>
			
			<div id="about">
			
				<h6>About</h6>
			
				<p>
				
					You can include anything here. It's free space up for grabbing. For example, 
					you can write a little about your company or talk about the important people,
					or whatever. 
				
				</p>
				
				<p>
				
					Or, you can include some image. Or you can have your latest product here. Or, 
					you can talk about your awesome support. Whatever you do, keep it short and 
					simple. <a href="#21" title="Read More About Us">Read more &raquo;</a>
				
				</p>
			
			</div>
			
		</div>
		
		<div id="site-info">
		
			<p>
				Copyright &copy; 1990 &mdash; 2006 Two-Tenths. All rights reserved | 
				Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a> | 
				<a href="http://validator.w3.org/check/referer" title="XHTML 1.0 Strict">XHTML</a> | 
				<a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="CSS 2.0 Strict">CSS</a>
			</p>
		
		</div>
	
	</div>

</body>
</html>