<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Natheless | Nevertheless</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="master.css" />
	<!--[if lt ie 8]>
		<link rel="stylesheet" type="text/css" media="screen" href="ie_win.css" />
	<![endif]-->
</head>

<body>
	<div id="header">
		<h1><a href="#">Natheless</a></h1>
		<h2><del>Notwithstanding</del> Nevertheless</h2>
	</div>
	
	<div id="navigation">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Pages</a></li>
			<li class="active"><a href="#">Blog</a></li>
			<li><a href="#">Archives</a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Contact Us</a></li>
			<li><a href="#">My Account</a></li>
		</ul>
	</div>
	
	<div id="wrapper">
		
		<div id="content">
		
			<div class="post">
			
				<h2>Lorem ipsum dolor sit amet</h2>
				
				<div class="post-content">
					<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nunc non odio nonummy 
					tortor luctus imperdiet. Duis justo lacus, ultrices et, pretium et, fermentum vitae, 
					risus. Praesent bibendum dapibus metus. Integer ullamcorper leo quis orci. Mauris 
					mattis ultrices risus. Maecenas pellentesque pellentesque nulla. Integer lacus nisi, 
					convallis a, cursus eu, lacinia vel, dui. Mauris tellus. Cras enim arcu, placerat 
					eu, hendrerit viverra, semper eget, turpis. In eleifend euismod libero. Praesent 
					iaculis dolor vitae mi.</p>
					
					<p>Suspendisse tincidunt. <a href="#">Vestibulum pharetra arcu</a> et orci. Vel aris
					ut libero vestibulum tincidunt. Nunc pretium. Aliquam mi nibh, pretium ut, nonummy 
					ac, rhoncus vitae, nunc. Aliquam sodales. Cras <a href="#">vestibulum</a> congue quam. 
					Metus. Integer placerat. Vestibulum ante ipsum primis in faucibus orci luctus et 
					ultrices posuere cubilia Curae; In nisl lacus, convallis semper, euismod et, dapibus 
					id, nisl.</p>

					<p>Maecenas lacus ligula, sagittis rhoncus, luctus a, gravida ac, dolor. Quisque orci. 
					Curabitur in neque sit amet ante blandit tincidunt. Nulla ultricies, arcu et tincidunt 
					luctus, eros ipsum dignissim tortor, ut luctus justo tortor non arcu. Nam at mauris eu 
					ipsum tincidunt nonummy. In hac habitasse platea dictumst. In erat massa, semper et, 
					semper varius, tempor at, eros. Suspendisse imperdiet libero. Etiam sit amet diam a 
					urna facilisis ultricies. Sed mi. Etiam eget erat. Integer ut lorem. Proin sit amet 
					quam et ligula tincidunt elementum. Pellentesque lobortis nulla at lacus. Curabitur 
					in lacus nec mauris volutpat lobortis. Cras tellus. Sed eget erat. Nunc nec est 
					sollicitudin ipsum malesuada aliquet.</p>
			
					<p>Phasellus aliquet rutrum nibh. Sed ante lectus, commodo non, dapibus sit amet, 
					fringilla vitae, lorem. Curabitur lorem neque, gravida eget, suscipit non, malesu 
					ada non, quam. Phasellus dolor nulla, blandit in, rhoncus eget, aliquet at, metus. 
					Aenean facilisis dui sed nibh. Nunc vel leo. Integer euismod nibh et velit. Phasel 
					lus tempus, turpis a lacinia aliquet, mi risus mattis quam, ac ultricies est odio 
					eu diam. Suspendisse molestie odio quis felis. Phasellus fermentum. Suspendisse id 
					orci sed arcu egestas auctor. Phasellus tristique ante vitae felis. Nulla facilisi. 
					Nam aliquam facilisis augue. Nullam vestibulum. Etiam erat eros, ornare in, ornare 
					nec, ornare nec, risus. Integer scelerisque erat nec libero. Aliquam feugiat.</p>
				</div>
				
				<p class="post-footer">
					29 December 2006 at 2:04PM by <a href="#">-Middle +Name</a>
				</p>
			
			</div>
		
		</div>
		
		<div id="news">
		
			<div class="item">
				<h4><a href="http://en.wikipedia.org/wiki/Antoninus_Pius">Antoninus Pius</a></h4>
				<em>December 29, 2006</em>
				<p>Titus Aurelius Fulvus Boionius Arrius Antoninus Pius, a Roman emperor, died 
				from the Many Middle Names Plague.</p>
			</div>
			
			<div class="item">
				<h4><a href="http://en.wikipedia.org/wiki/Augustus">Augustus</a></h4>
				<em>December 29, 2006</em>
				<p>One of the most important Roman Emperors ever, he at some point went 
				by the name Gaius Julius Caeser <span class="strike">Octopus</span> Octavianus.</p>
			</div>
			
			<div class="item">
				<h4><a href="http://en.wikipedia.org/wiki/Claudius">Claudius</a></h4>
				<em>December 28, 2006</em>
				<p>Fourth emperor of <span class="strike">JC Penny</span> the Julio-Claudian dynasty, 
				he's another one of those people with the "Look at me, I have 208433 
				middle names!" syndrome.</p>
			</div>
			
			<div class="item">
				<h4><a href="http://en.wikipedia.org/wiki/Diocletian">Diocletian</a></h4>
				<em>December 25, 2006</em>
				<p>Otherwise known as Gaius Aurelius Valerius Diocletianus, he bought an 
				end to the <a href="http://en.wikipedia.org/wiki/Crisis_of_the_Third_Century">
				Crisis of <span class="strike">Too Few Middle Names</span> the Third Century</a>.</p>
			</div>
		
		</div>
		
	</div>
	
	<div id="footer">
			
		<div id="meta">
		
			<div class="popular">
			
				<h3>Popular Posts</h3>
				
				<ul>
					<li><a href="#">Lorem ipsum dolor sit amet, consectetuer elit.</a></li>
					<li><a href="#">Etiam id sapien et arcu pharetra fermentum.</a></li>
					<li><a href="#">Nulla ullamcorper hendrerit nunc.</a></li>
					<li><a href="#">Donec semper leo non sem ultrices gravida.</a></li>
					<li><a href="#">Sed suscipit vehicula nunc.</a></li>
					<li><a href="#">Vivamus hendrerit ornare purus.</a></li>
					<li><a href="#">Vivamus sed justo interdum nulla scelerisque.</a></li>
					<li><a href="#">Morbi vehicula scelerisque enim.</a></li>
					<li><a href="#">Curabitur hendrerit tincidunt felis.</a></li>
					<li><a href="#">Praesent luctus interdum augue.</a></li>
				</ul>
			
			</div>
			
			<div class="recent">
			
				<h3>Recent Posts</h3>
				
				<ul>
					<li><a href="#">Ut dignissim mi id metus.</a></li>
					<li><a href="#">Pellentesque volutpat arcu sed.</a></li>
					<li><a href="#">Aaugue malesuada volutpat.</a></li>
					<li><a href="#">Suspendisse interdum malesuada velit.</a></li>
					<li><a href="#">Donec eget massa vel nunc cursus tristique.</a></li>
					<li><a href="#">Nullam blandit ante non dolor.</a></li>
					<li><a href="#">Aenean pretium nisi nec nisi.</a></li>
					<li><a href="#">Donec accumsan varius dolor.</a></li>
					<li><a href="#">Suspendisse viverra augue quis nunc.</a></li>
					<li><a href="#">Sed aliquam libero aliquet erat.</a></li>
				</ul>
			
			</div>
			
			<div class="authors">
			
				<h3>Contributing Authors</h3>

				<ul>
					<li><a href="#">William Shakespeare</a></li>
					<li><a href="#">Aliquam Fermentum</a></li>
					<li><a href="#">Ante Ateros</a></li>
					<li><a href="#">Nullam Vitae</a></li>
					<li><a href="#">Ligula</a></li>
					<li><a href="#">Vel Sapient</a></li>
					<li><a href="#">Dignissim</a></li>
					<li><a href="#">Molestie</a></li>
					<li><a href="#">Nisipharetra</a></li>
					<li><a href="#">Conse Et Erat</a></li>
				</ul>

			</div>
			
			<hr />
		
		</div>
	
		<p id="copyright">
			Natheless Design by <a href="http://www.nikhedonia.com/">Sadhana Ganapathiraju</a> | 
			<a class="valid" href="http://validator.w3.org/check/referer">XHTML</a> | 
			<a class="valid" href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> | 
			<a href="#">RSS</a>
		</p>
	</div>
</body>
</html>