<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <meta name="description" content="Place your page description here." />
  <meta name="keywords" content="put, your, key words, phrases, here" />
  <meta name="author" content="Your Name / Design by: First Light Web Design - http://www.firstlightwebdesign.com/" />

  
  <title>Template 110625</title>

  <link rel="stylesheet" href="style.css" type="text/css" />

</head>

<body>

<div id="container">
<div id="header">
<div id="top">
<a href="index.html"><img id="logo" style="width: 195px; height: 75px;" alt="Your Logo" src="images/logo.jpg" /></a>
<img id="welcome" style="width: 311px; height: 75px;" alt="Welcome" src="images/welcome.jpg" />
</div>
<div id="menuwrapper">
<div id="menu">
<ul>
<li><a href="index.html">Home</a></li>
<li><a href="index.html">About</a></li>
<li><a href="index.html">Contact</a></li>
<li><a href="index.html">Blog</a></li>
<li><a href="index.html">News</a></li>
<li><a href="index.html">Services</a></li>
<li><a id="lastbutton" href="index.html">Gallery</a></li>
</ul>
</div>
</div>
</div>
<div id="content">
<h1>Header</h1>
<p>Nihil cum amicitia possum comparare; di hominibus nihil melius dant. Pecuniam alii malunt; alii, corpora sana; alii, famam gloriamque; alii, voluptates--sed hi viri nimium errant, quoniam illa sunt incerta et ex fortuna veniunt, non ex sapientia. Amicitia enim ex sapientia et amore et moribus bonis et virtute venit; sine virtute amicitia non potest esse. Si nullos amicos habes, habes vitam tyranni; si invenies amicum verum, vita tua erit beata.</p>
<h2>Headline</h2>
<p>Et cum oratis non eritis sicut hypocritae, qui amant in synagogis et in angulis platearum stantes orare ut videantur ab hominibus: amen dico vobis, receperunt mercedem suam. Tu autem cum orabis, intra in cubiculum tuum et, clauso ostio tuo, ora Patrem tuum in abscondito; et Pater tuus qui videt in abscondito reddet tibi . . . Sic ergo vos orabitis: Pater noster qui es in caelis, sanctificetur nomen tuum; adveniat regnum tuum; fiat voluntas tua sicut in caelo et in terra.<br />. . . <a href="index.html">more</a></p>
</div>
<div id="left">
<img style="width: 190px; height: 300px;" alt="Golden Pine Cone" src="images/golden_pine.jpg" />
<h3>Links</h3>
<ul>
<li><a href="index.html">An Unordered List</a></li>
<li><a href="index.html">An Unordered List</a></li>
<li><a href="index.html">An Unordered List</a></li>
</ul>
</div>
<div id="footer">
<p>Copyright &copy; 2006 Your Company. All rights reserved. Design by <a href="http://www.firstlightwebdesign.com">First Light</a>.</p>
</div>
</div>

</body>

</html>
