<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <meta name="description" content="Page description here." />
  <meta name="keywords" content="your,key words,and,phrases,here" />
  <meta name="author" content="Your Name / Design by: Business Website Templates Blog -    http://wbusinesswebsitetemplates.blogspot.com/" />

  <title>BUSINESS SEO FRIENDLY WEBSITE TEMPLATE</title>

<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>

   <!-- Begin Wrapper -->
   <div id="wrapper">
   
         <!-- Begin Header -->

         <div id="header">
                <div class="logo">
		<h1 id="lineone">Free <span>SEO Friendly Website</span> Template</h1> 
		<h2 id="linetwo">provided by: <a href="http://businesswebsitetemplates.blogspot.com">business website templates blog</a></h2>
                </div>
		 <!-- Begin Naviagtion -->
         <div id="navigation">
		 
               <ul>
                <li><a href="#">Link One</a></li>
                <li><a href="#">Link Two</a></li>
                <li><a href="http://businesswebsitetemplates.blogspot.com">Business Website Templates</a></li>
                <li><a href="#">Link Four</a></li>
                <li><a href="#">Link Five</a></li>
               </ul>		 
			   
		 </div>
		 <!-- End Naviagtion -->		 
		  	 
			   
		 </div>
		 <!-- End Header -->
		 

		 
		 <!-- Begin Content -->
		 <div id="content">
		       
                <div id="boxes">
                <div id="box1"> <h2><a href="#">Lorem ipsum</a> </h2><h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Donec rutrum neque eu nisl. Morbi eget felis. </h3><p class="box"><a href="#">Read more</a></p></div>                

               <div id="box3"> <h2><a href="#">Lorem ipsum</a> </h2><h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Donec rutrum neque eu nisl. Morbi eget felis. </h3><p class="box"><a href="#">Read more</a></p></div>

               <div id="box2"> <h2><a href="#">Lorem ipsum</a> </h2><h3>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Donec rutrum neque eu nisl. Morbi eget felis. Donec rutrum neque eu nisl. Morbi eget felis. </h3><p class="box"><a href="#">Read more</a></p></div>
 		 </div>
<div id="doublebox">

<div class="content_left">
<h3>Lorem Ipsum</h3>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis.</p>
<a href="#">read more</a>

</div>

<div class="content_right">

<h3>Lorem Ipsum</h3>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum.</p>
<a href="#">read more</a>
</div>
       <div class="clear"></div>
		<div id="bluebox">
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
			
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>

			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
			</div>
			
			<div class="col">
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</p>
                       </div>
		
		</div>
		<div id="blueboxbottom"></div>

</div>
		 
		 
		 
		 </div>
		 <!-- End Content -->
		 
		 <!-- Begin Footer -->
		 <div id="footer">
		       
                 <p><a href="http://validator.w3.org/">Valid CSS</a> :: <a href="http://validator.w3.org/">Valid XHTML</a>  Copyright &copy; 2007 by Free Templates :: Designed by: <a href="http://businesswebsitetemplates.blogspot.com"title="free templates">FREE BUSINESS TEMPLATES</a> </p>		
			    
	     </div>
		 <!-- End Footer -->
		 
   </div>
   <!-- End Wrapper -->
   
</body>
</html>
