<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>

















  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

















  <meta name="author" content="" />

















  <meta name="Keywords" content="" />

















  <meta name="Description" content="" />


























  <title>Puzzled</title>
  <link href="style.css" rel="stylesheet" type="text/css" />














  <style type="text/css">
<!--
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
a:active {
	text-decoration: none;
}
-->
  </style>
</head>


<body>









<div id="contain">
<div id="header">
<h1 class="style1">PUZZLED </h1>







<div class="topbar">
<div id="icons">
<a href="home.html"><img style="border: 0px solid ; width: 32px; height: 32px;" src="home.gif" alt="home" /></a>
<a href="cart.html"><img style="border: 0px solid ; width: 32px; height: 32px;" src="cart.gif" alt="cart" /></a>
<a href="faq.html"><img style="border: 0px solid ; width: 32px; height: 32px;" src="faq.gif" alt="faq" /></a>
<a href="map.html"><img style="border: 0px solid ; width: 32px; height: 32px;" src="map.gif" alt="map" /></a>
<a href="contact.html"><img style="border: 0px solid ; width: 32px; height: 32px;" src="contact.gif" alt="contact" /></a>
</div>






</div>







</div>









<div id="leftcol">
<h3>Navigation</h3>









<div id="navcontainerr">
<ul>









  <li><a href="#">Side Link 1</a></li>









  <li><a href="#">Side Link 2</a></li>









  <li><a href="#">Side Link 3</a></li>









  <li><a href="#">Side Link 4</a></li>









  <li><a href="#">Side Link 5</a></li>








  <li><a href="#">Side Link 6</a></li>








  <li><a href="#">Side Link 7</a></li>





</ul>











<p>&nbsp;</p>







<p>&nbsp;</p>







<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>
<h4>More content here</h4>









</div>









<div></div>









</div>









<div id="navcontainer">
<ul id="navlist">









  <li id="active"><a href="#" id="current">Link 1</a></li>









  <li><a href="#">Link 2</a></li>









  <li><a href="#">Link 3</a></li>









  <li><a href="#">Link 4</a></li>









  <li><a href="#">Link 5</a></li>









</ul>









</div>









<div id="content">
<h2>Puzzled</h2>







<p><img src="img.gif" alt="image" id="leftImg" />Lorem ipsum dolor
sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas
vehicula. Quisque faucibus, risus id consequat porta, orci ligula
condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in
nibh luctus gravida. Praesent vehicula rhoncus tortor. Donec porta
rutrum dui. Donec dignissim congue mauris. Sed rhoncus laoreet sem. Nam
dui pede, vestibulum convallis, posuere ut, dictum eu, diam. Phasellus
nunc. Ut eget ante a ipsum porttitor scelerisque. Quisque auctor elit
vitae massa. Vestibulum massa risus, gravida quis, hendrerit sit amet,
bibendum sit amet, enim. Fusce nulla. Quisque vulputate metus vitae
orci. Pellentesque at arcu. Ut sed neque.</p>







<p>Lorem ipsum dolor
sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas
vehicula. Quisque faucibus, risus id consequat porta, orci ligula
condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in
nibh luctus gravida. Praesent vehicula rhoncus tortor. Donec.Lorem ipsum dolor
sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas
vehicula. Quisque faucibus, risus id consequat porta, orci ligula
condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in
nibh luctus gravida. Praesent vehicula rhoncus tortor. Donec.</p>











<p>This Page Is Valid XHTML 1.0 Strict&nbsp;</p>











<br />









</div>









<div id="footer">
<p>Images: &nbsp;<a href="http://wfiedler-online.de/">Wolfram Fiedler</a> - Copyright 2007 - Design by <a href="http://www.projectaces.com">LS</a></p>









</div>









</div>









</body>
</html>
