<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Diversity
Description: A two-column, fluid-width design suitable for blogs.
Version    : 1.0
Released   : 20070919

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Diversity by Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start sidebar -->
<div id="sidebar">
	<div id="logo">
		<h1><a href="#">Diversity</a></h1>
		<p>By Free CSS Templates</p>
	</div>
	<div id="widgets">
		<div id="widgets-top"></div>
		<ul>
			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet non molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
			</li>
			<li>
				<h2>Archives</h2>
				<ul>
					<li><a href="#">September</a> (19)</li>
					<li><a href="#">August</a> (31)</li>
					<li><a href="#">July</a> (31)</li>
					<li><a href="#">June</a> (30)</li>
					<li><a href="#">May</a> (31)</li>
					<li><a href="#">April</a> (30)</li>
					<li><a href="#">March</a> (31)</li>
					<li><a href="#">February</a> (28)</li>
					<li><a href="#">January</a> (31)</li>
				</ul>
			</li>
		</ul>
	</div>
</div>
<!-- end sidebar -->
<!-- start page -->
<div id="page">
	<div id="search">
		<form method="get" action="">
			<fieldset>
			<input id="s" type="text" name="s" value="" />
			<input id="x" type="submit" value="Search" />
			</fieldset>
		</form>
	</div>
	<!-- start content -->
	<div id="content">
		<h1 class="pagetitle">Recent Posts</h1>
		<div class="post">
			<div class="ct">
				<div class="l">
					<div class="r"></div>
				</div>
			</div>
			<h2 class="title">Welcome to My Website</h2>
			<p class="byline"><small>Posted on August 25th, 2007 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
			<div class="entry">
				<p><strong>Diversity</strong> is a free template from <a href="http://freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use this template for both commercial or personal use. The photos are from <a href="http://pdphoto.org/">PDPhoto.org</a>. I only ask that you link back to <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
			</div>
			<p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (33)</a></p>
			<div class="cb">
				<div class="l">
					<div class="r"></div>
				</div>
			</div>
		</div>
		<div class="post">
			<div class="ct">
				<div class="l">
					<div class="r"></div>
				</div>
			</div>
			<h2 class="title">Risus Pellentesque Pharetra</h2>
			<p class="byline"><small>Posted on August 25th, 2007 by <a href="#">admin</a> | <a href="#">Edit</a></small></p>
			<div class="entry">
				<blockquote>
					<p>&#8220;Praesent augue mauris, accumsan eget, ornare quis, consequat malesuada, leo.&#8221;</p>
				</blockquote>
				<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante.</p>
			</div>
			<p class="meta"><a href="#" class="more">Read More</a> &nbsp;&nbsp;&nbsp; <a href="#" class="comments">Comments (33)</a></p>
			<div class="cb">
				<div class="l">
					<div class="r"></div>
				</div>
			</div>
		</div>
	</div>
	<!-- end content -->
</div>
<!-- end page -->
<div id="footer">
	<p>&copy;2007 All Rights Reserved.<br />
		Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
</body>
</html>
