<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head profile="http://gmpg.org/xfn/11">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<title>Colorvoid Website Template</title>
<link rel="stylesheet" href="style.css" type="text/css" media="screen" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="ie_fixes.css" media="screen" /><![endif]-->
</head>

<body>

<div id="layout_wrapper">
<div id="layout_edgetop"></div>

<div id="layout_container">

	<div id="site_title">

		<h1 class="left"><a href="#">Website name</a></h1>
		<h2 class="right">Your slogan or perhaps a short introductional text</h2>

		<div class="clearer">&nbsp;</div>

	</div>

	<div id="top_separator"></div>

	<div id="navigation">

		<div id="tabs">
			
			<ul>
				<li><a href="index.html"><span>Posts page</span></a></li>
				<li><a href="comments.html"><span>Post comments</span></a></li>
				<li><a href="page.html"><span>Sample test page</span></a></li>
				<li class="current_page_item"><a href="archives.html"><span>Archives</span></a></li>
				<li><a href="empty.html"><span>Empty page</span></a></li>
			</ul>

			<div class="clearer">&nbsp;</div>

		</div>

	</div>

	<div class="spacer h5"></div>

	<div id="main">

		<div class="left" id="main_left">

			<div id="main_left_content">		

				<div class="pagenavigation">
					<div class="pagenav">
						<div class="left"><a href="#">&laquo; Previous Page</a></div>
						<div class="right"><a href="#">Next Page &raquo;</a></div>
						<div class="clearer">&nbsp;</div>
					</div>
					<div class="pagenav_bottom"></div>
				</div>
			
				<div class="post">
					<div class="post_title">
						<h1>Archive for the &#8216;Two Columns&#8217; Category</h1>
					</div>

					<div class="post_body nicelist">

						<ol>
							<li class="alt">

								<div class="archive_title">
									<a href="http://templates.arcsin.se/winterplain-website-template/">Winterplain</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Thursday 13th December, 2007 in <a href="#">Two Columns</a> - <a href="#">4 comments</a></div>
								</div>

							</li>
							<li>

								<div class="archive_title">
									<a href="http://templates.arcsin.se/deep-blue-website-template/">Deep Blue</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Sunday 17th June, 2007 in <a href="#">Two Columns</a> - <a href="#">5 comments</a></div>
								</div>

							</li>
							<li class="alt">

								<div class="archive_title">
									<a href="http://templates.arcsin.se/decayed-website-template/">Decayed</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Saturday 12th May, 2007 in <a href="#">Two Columns</a> - <a href="#">2 comments</a></div>
								</div>

							</li>
							<li>

								<div class="archive_title">
									<a href="http://templates.arcsin.se/dirtylicious-website-template/">Dirtylicious</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Saturday 10th March, 2007 in <a href="#">Two Columns</a> - <a href="#">4 comments</a></div>
								</div>

							</li>
							<li class="alt">

								<div class="archive_title">
									<a href="http://templates.arcsin.se/natural-essence-website-template/">Natural Essence</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Tuesday 20th February, 2007 in <a href="#">Two Columns</a> - <a href="#">4 comments</a></div>
								</div>

							</li>
							<li>

								<div class="archive_title">
									<a href="http://templates.arcsin.se/beautiful-day-website-template/">Beautiful Day 2.0</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Sunday 18th February, 2007 in <a href="#">Two Columns</a> - <a href="#">5 comments</a></div>
								</div>

							</li>
							<li class="alt">

								<div class="archive_title">
									<a href="http://templates.arcsin.se/pink-sunset-website-template/">Pink Sunset</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Saturday 20th January, 2007 in <a href="#">Two Columns</a> - <a href="#">1 comment</a></div>
								</div>

							</li>
							<li>

								<div class="archive_title">
									<a href="http://templates.arcsin.se/contaminated-website-template/"">Contaminated</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Saturday 6th January, 2007 in <a href="#">Two Columns</a> - <a href="#">1 comment</a></div>
								</div>

							</li>
							<li class="alt">

								<div class="archive_title">
									<a href="http://templates.arcsin.se/shades-of-gray-website-template/">Shades of Gray</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Monday 6th November, 2006 in <a href="#">Two Columns</a> - <a href="#">No Comments</a></div>
								</div>

							</li>
							<li>

								<div class="archive_title">
									<a href="http://templates.arcsin.se/deep-red-website-template/">Deep Red</a>
								</div>

								<div class="archive_postinfo">
									<div class="date">Wednesday 1st November, 2006 in <a href="#">Two Columns</a> - <a href="#">No Comments</a></div>
								</div>

							</li>
						</ol>

					</div>

				</div>
		
				<div class="pagenavigation">
					<div class="pagenav">
						<div class="left"><a href="#">&laquo; Previous Page</a></div>
						<div class="right"><a href="#">Next Page &raquo;</a></div>
						<div class="clearer">&nbsp;</div>
					</div>
					<div class="pagenav_bottom"></div>
				</div>
				
			</div>

		</div>

		<div class="right" id="main_right">
	
			<div id="sidebar">

				<div class="box">
					<div class="box_title">Search</div>
					<div class="box_body">
						<form method="get" id="searchform" action="#">
						<div>
							<table class="search">
							<tr>
								<td><input type="text" value="" name="s" id="s" /></td>
								<td style="padding-left: 10px"><input type="image" src="img/button_go.gif" /></td>
							</tr>
							</table>
						</div>
						</form>
					</div>
					<div class="box_bottom"></div>
				</div>

				<div class="box">
					<div class="box_title">Archives</div>
					<div class="box_body">
						<ul>
							<li><a href="#">December 2007</a> (5)</li>
							<li><a href="#">June 2007</a> (2)</li>
							<li><a href="#">May 2007</a> (6)</li>
							<li><a href="#">March 2007</a> (12)</li>
							<li><a href="#">February 2007</a> (8)</li>
							<li><a href="#">May 2007</a> (10)</li>
						</ul>
					</div>
					<div class="box_bottom"></div>
				</div>

				<div class="box">
					<div class="box_title">Categories</div>
					<div class="box_body">
						<ul>
							<li><a href="#">Single Column</a> (5)</li>
							<li><a href="#">Three Columns</a> (2)</li>
							<li><a href="#">Two Columns</a> (14)</li>
						</ul>
					</div>
					<div class="box_bottom"></div>
				</div>
								
				<div class="box">
					<div class="box_title">Links</div>
					<div class="box_body">
						<ul>
							<li><a href="http://templates.arcsin.se/category/blogger-templates/">Blogger Templates</a></li>
							<li><a href="http://templates.arcsin.se/category/joomla-templates/">Joomla Templates</a></li>
							<li><a href="http://templates.arcsin.se/professional-templates/">Professional Templates</a></li>
							<li><a href="http://templates.arcsin.se/category/website-templates/">Website Templates</a></li>
							<li><a href="http://templates.arcsin.se/category/wordpress-themes/">Wordpress Themes</a></li>
						</ul>
					</div>
					<div class="box_bottom"></div>
				</div>

				<div class="box">
					<div class="box_title">Textbox</div>
					<div class="box_body p10">
						A box with some text.
					</div>
					<div class="box_bottom"></div>
				</div>

			</div>
		</div>

		<div class="clearer">&nbsp;</div>

	</div>

	<div id="footer">

		<div class="left">&#169; 2008 Website name</div>

		<div class="right"><a href="http://templates.arcsin.se/">Website template</a> by <a href="http://arcsin.se/">Arcsin</a></div>

		<div class="clearer">&nbsp;</div>
	
	</div>

</div>
<div id="layout_edgebottom"></div>
</div>

</body>
</html>