<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">

<head>

  <meta content="text/html; charset=ISO-8859-1" http-equiv="content-type" />
  <meta name="description" content="Place your page description here." />
  <meta name="keywords" content="put,your,key words,phrases,here" />
  <meta name="author" content="Your Name / Design by: First Light Web Design - http://www.firstlightwebdesign.com/" />

  <title>Your Page Title</title>

  <link rel="stylesheet" href="style.css" type="text/css" />
  <!--[if IE]>
  <link rel="stylesheet" href="iefixes.css" type="text/css" />
  <![endif]-->

</head>

<body>

<div id="container">

<div id="header">

<h1><a href="#" title="Return To Homepage"><img id="logo" style="width: 760px; height: 112px;" alt="Your Website Name / Company Slogan Tagline" src="images/header.png" /></a></h1>

</div>

<div id="sub-header"></div>

<!--Begin main navigation menu.-->

<div id="menu">

<!--Begin nothing goes here. Leave empty.--><div id="menu-left"></div><div id="menu-right"></div><!--End nothing goes here.-->

<ul>
<li id="first"><span class="access-key">01.</span> <a title="Return to Homepage" accesskey="1" href="#">Home</a></li>
<li><span class="access-key">02.</span> <a title="Learn More About Us" accesskey="2" href="#">About</a></li>
<li><span class="access-key">03.</span> <a title="Company News" accesskey="3" href="#">News</a></li>
<li><span class="access-key">04.</span> <a title="See What We Have Done for Our Other Clients" accesskey="4" href="#">Portfolio</a></li>
<li><span class="access-key">05.</span> <a title="Services We Offer" accesskey="5" href="#">Services</a></li>
<li><span class="access-key">06.</span> <a title="Contact Information" accesskey="6" href="#">Contact Us</a></li>
</ul>

</div>

<!--End main navigation menu.-->

<div id="content">

<!--Place your main content within the following division-->

<div id="right-column">

<h2 class="bottom-border">The Harvest</h2>

<p class="justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse arcu enim, commodo id, auctor id, aliquet sit amet, erat. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque id elit a risus imperdiet luctus. Vestibulum vitae enim sed sapien elementum blandit. Vestibulum vel quam. Morbi tincidunt suscipit.<br /><span class="right"><a title="Learn More About Us" href="#">&raquo; Learn More</a></span></p>

<h2 class="bottom-border">Our Featured Services</h2>

<div id="featured-wrapper">

<div id="featured-top"></div>

<div id="featured-content">

<div class="featured">

<div class="number">01</div>

<h3><strong>Featured Service One</strong></h3>

<p class="justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse arcu enim, commodo id, auctor id . . .<br /><span class="right"><a title="Learn More" href="#">&raquo; Learn More</a></span></p>

</div>

<div class="featured">

<div class="number">02</div>

<h3><strong>Featured Service Two</strong></h3>

<p class="justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse arcu enim, commodo id, auctor id . . .<br /><span class="right"><a title="Learn More" href="#">&raquo; Learn More</a></span></p>

</div>

<div class="featured">

<div class="number">03</div>

<h3><strong>Featured Service Three</strong></h3>

<p class="justify">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse arcu enim, commodo id, auctor id . . .<br /><span class="right"><a title="Learn More" href="#">&raquo; Learn More</a></span></p>

</div>

</div>

<div id="featured-bottom"></div>

</div>

</div>

<!--Place additional secondary content in the next division.-->

<div id="left-column">

<h2 class="bottom-border">Recent Clients</h2>

<div id="recent-clients">
<ul>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_1.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_2.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_3.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_4.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_5.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_6.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_7.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_8.jpg" /></a></li>
<li><a href="#"><img style="width: 64px; height: 64px;" alt="Client Name" src="images/client_thumb_9.jpg" /></a></li>
</ul>
</div>

<h2 class="bottom-border">Recent News</h2>

<h3 class="headline"><span class="date">11 <abbr title="June">JUN</abbr> 07</span>Headline</h3> 

<p class="news">Vestibulum vitae enim sed sapien elementum blandit. Vestibulum vel quam. Morbi tincidunt suscipit . . .<br /><span class="right"><a href="#" title="Read the Full Story">&raquo; Read More</a></span></p>

<p><a href="#"><img class="left" style="width: 32px; height: 32px;" alt="RSS Feed" src="images/rss.png" /></a>Subscribe to the regularly updated <acronym title="Really Simple Syndication">RSS</acronym> news feed.</p> 

</div>

</div>

<div id="footer">

<div id="footer-content">

<div id="footer-right"><a href="#" title="View Our Terms of Use" accesskey="t">Terms of Use </a>&middot; <a href="#" title="Our Privacy Policy" accesskey="p">Privacy Policy </a>&middot; <a href="#" title="View a Map of Our Site" accesskey="s">Sitemap </a>&middot; Design by <a title="Designed by First Light Web Design" href="http://www.firstlightwebdesign.com">First Light</a></div>

<p>Copyright &copy; 2007 Your Site.  All rights reserved.</p>

</div>

</div>

</div>

</body>

</html>
