<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sunny Day</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="main">
<div id="top-nav">
:: <a href="index.html" class="top-menu">link</a> :: <a href="index.html" class="top-menu">link</a> :: <a href="index.html" class="top-menu">link</a> :: <a href="index.html" class="top-menu">link</a> :: <a href="index.html" class="top-menu">link</a> :: <a href="index.html" class="top-menu">link</a> :: 
</div>
<div id="header"><h1>Sunny Day</h1>
</div>
<div id="content">
<h1>A Heading</h1>
<p>Main content starts here.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. </p>
<h1>List Style</h1>
<ul>
<li>Item 1</li>
<li>Item 2</li>
<li>Item 3</li>
</ul>
<h1>Image Styles</h1>
<p><img src="images/sample.gif" alt="Sample Image" class="alignleft" />Left-aligned image...some descriptive text...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in nibh luctus gravida. Praesent vehicula rhoncus tortor.</p>
<p style="clear:left"><img src="images/sample.gif" alt="Sample Image" class="alignright" />Right-aligned image...some descriptive text...Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. Maecenas a ligula in nibh luctus gravida. Praesent vehicula rhoncus tortor.</p>
</div>
<div id="right">
<h2>Right Side Content</h2>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed ut dui ac lacus egestas vehicula. Quisque faucibus, risus id consequat porta, orci ligula condimentum mi, ac commodo leo libero eget tortor. </p>
<h3>Links</h3>
<a href="index.html" class="navigation">link</a><a href="index.html" class="navigation">link</a><a href="index.html" class="navigation">link</a><a href="index.html" class="navigation">link</a><a href="index.html" class="navigation">link</a>
</div>
<div id="footer">
<hr />
All content &copy; You, all rights reserved.<br />
|&nbsp;XHTML template by <a href="http://www.karenblundell.com" target="blank">arwen54</a>&nbsp;|&nbsp;<a href="http://validator.w3.org/check?uri=referer" target="_blank">Valid XHTML</a>&nbsp;|&nbsp;<a href="http://jigsaw.w3.org/css-validator/" target="_blank">Valid CSS</a>&nbsp;|
</div>
</div>
</body>
</html>
