<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/AmericanPatriot/main.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <div class="left">
     <img src="star.gif" alt="star" />
    </div>
    <div class="right">
     <img src="star.gif" alt="star" />
    </div>
    <div class="content">
     <h3>
      American Patriot * Support Our Troops
     </h3>
     <br />
     <ul id="nav">
      <li>
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        News
       </a>
      </li>
      <li>
       <a href="#">
        About
       </a>
      </li>
      <li>
       <a href="#">
        Contact Us
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <div class="left">
     <img src="star.gif" alt="star" />
    </div>
    <div class="right">
     <img src="star.gif" alt="star" />
    </div>
    <div class="content">
     <br />
     Copyright your name, Design by Bryan Lass,
     <a href="http://www.idavista.com">
      IdaVista
     </a>
     , Inc.
     <br />
     Download your free auto maintenance reminder at
     <a href="http://www.idavista.com/transroster">
      www.idavista.com
     </a>
    </div>
   </div>
  </div>
 </body>
</html>