<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/CorporateSleekTemplate/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div class="wrapper">
   <div class="upperhead">
    <div class="tel">
     Tel: 01875  340 573
    </div>
   </div>
   <div class="banner">
    <a href="#">
     <img src="images/logo_10.jpg" alt="free css template" width="279" height="73" border="0" />
    </a>
   </div>
   <div class="underbanner">
    <label>
     <input name="textfield" type="text" class="input" value="Search" />
    </label>
    <label>
     <input type="submit" name="Submit" class="button" value="GO" />
    </label>
   </div>
   <div class="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div class="footer">
    Template By
    <a href="http://www.freecss.info">
     FreeCSS.info
    </a>
   </div>
  </div>
 </body>
</html>
