<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Decayed/default.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="navigation">
    <h2 class="decay-small">
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <ul>
     <li>
      <a href="index.html">
       pellentesque
      </a>
     </li>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
     <li>
      <a href="index.html">
       semper
      </a>
     </li>
     <li>
      <a href="index.html">
       convallis
      </a>
     </li>
    </ul>
    <h2 class="decay-small">
     Another thing
    </h2>
    <ul>
     <li>
      <a href="index.html">
       consequat molestie
      </a>
     </li>
     <li>
      <a href="index.html">
       sem justo
      </a>
     </li>
     <li>
      <a href="index.html">
       semper
      </a>
     </li>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
    </ul>
    <h2 class="decay-small">
     Third and last
    </h2>
    <ul>
     <li>
      <a href="index.html">
       sociis natoque
      </a>
     </li>
     <li>
      <a href="index.html">
       magna sed purus
      </a>
     </li>
     <li>
      <a href="index.html">
       tincidunt
      </a>
     </li>
     <li>
      <a href="index.html">
       consequat molestie
      </a>
     </li>
    </ul>
   </div>
  </div>
 </body>
</html>