<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body id="bhome">
  <div id="container">
   <div id="header-wrapper">
    <div id="header">
     <h1>
      {{=response.title or request.application}}
     </h1>
     <h2>
      {{=response.subtitle or '=response.subtitle'}}
     </h2>
    </div>
    <div id="navigation">
     <ul>
      <li id="home">
       <a href="#home" title="Home">
        Home
       </a>
      </li>
      <li id="about">
       <a href="#about" title="About">
        About
       </a>
      </li>
      <li id="contact">
       <a href="#contact" title="Contact">
        Contact
       </a>
      </li>
      <li id="archives">
       <a href="#archives" title="Archives">
        Archives
       </a>
      </li>
     </ul>
    </div>
   </div>
   <div id="wrapper">
    <div id="latest">
     <div class="entry">
      <h3>
       Lorem Ipsum Dolor Sit Amet
      </h3>
      <div class="entry-body">
       <p>
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Ut venenatis sem sit amet lacus. Praesent sed orci. 
                                Ut laoreet. Integer et nunc. Cras vehicula viverra nulla. Mauris erat nibh, dapibus posuere, semper ac, 
                                porttitor faucibus, arcu. Vivamus risus erat, aliquam sit amet, lobortis vitae, cursus quis, ante. Proin 
                                imperdiet nisi nec tortor. Aliquam risus pede, dictum sit amet, dapibus nec, pharetra vitae, est. Phasellus 
                                pharetra.
       </p>
       <p>
        Ut laoreet justo non diam. Sed ante leo, convallis at, pellentesque nec, vestibulum sed, dui. Nunc 
                                posuere tempor metus. Curabitur metus augue, pulvinar ut, vehicula eget, sodales nec, orci. Maecenas eu lectus 
                                pellentesque justo porta aliquet. Pellentesque nisl. Nam quis ante luctus lectus malesuada placerat.
       </p>
      </div>
      <div class="entry-footer">
       Posted on June 30, 2006 in
       <a href="#21">
        Stuff
       </a>
       ,
       <a href="#22">
        More Stuff
       </a>
       ,
       <a href="#23">
        Even More Stuff
       </a>
       |
       <a href="#">
        Comments(132)
       </a>
       |
       <a href="#">
        Trackbacks(123)
       </a>
       |
       <a href="#">
        Read More &raquo;
       </a>
      </div>
     </div>
    </div>
    <div id="content-wrapper">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div id="sidebar-wrapper">
     <div id="sidebar">
      <div class="sideblock" id="byCat">
       <h3>
        By Category
       </h3>
       <ul>
        <li>
         <a href="#02">
          Magic
         </a>
        </li>
        <li>
         <a href="#03">
          Batmap
         </a>
        </li>
        <li>
         <a href="#04">
          1000 Clowns
         </a>
        </li>
        <li>
         <a href="#05">
          1+1=3
         </a>
        </li>
        <li>
         <a href="#06">
          Woot!
         </a>
        </li>
        <li>
         <a href="#07">
          Woot++
         </a>
        </li>
        <li>
         <a href="#08">
          Odd Man Out
         </a>
        </li>
        <li>
         <a href="#09">
          Just One More
         </a>
        </li>
        <li>
         <a href="#10">
          And Done!
         </a>
        </li>
       </ul>
      </div>
      <div class="sideblock" id="byDate">
       <h3>
        By Date
       </h3>
       <ul>
        <li>
         <a href="#18">
          July 2006
         </a>
        </li>
        <li>
         <a href="#17">
          June 2006
         </a>
        </li>
        <li>
         <a href="#16">
          May 2006
         </a>
        </li>
        <li>
         <a href="#15">
          April 2006
         </a>
        </li>
        <li>
         <a href="#14">
          March 2006
         </a>
        </li>
        <li>
         <a href="#13">
          March 2006
         </a>
        </li>
        <li>
         <a href="#12">
          February 2006
         </a>
        </li>
        <li>
         <a href="#11">
          January 2006
         </a>
        </li>
        <li>
         <a href="#11">
          December 2005
         </a>
        </li>
        <li>
         <a href="#11">
          November 2005
         </a>
        </li>
        <li>
         <a href="#11">
          October 2005
         </a>
        </li>
        <li>
         <a href="#11">
          September 2005
         </a>
        </li>
        <li>
         <a href="#11">
          August 2005
         </a>
        </li>
       </ul>
      </div>
      <div class="sideblock" id="searchBox">
       <form method="post" id="searchForm" action="#">
        <div>
         <input type="text" id="keywordsTextBox" size="20" />
         <input type="submit" value="Search" id="searchButton" />
        </div>
       </form>
      </div>
     </div>
    </div>
   </div>
   <div id="footer">
    <p>
     <a href="http://showcase.nikhedonia.com/free_templates/earthy/">
      Design
     </a>
     Copyright &copy; 2006
     <a href="http://www.nikhedonia.com/" title="SimplyGold">
      SimplyGold
     </a>
     . |
     <a href="http://validator.w3.org/check/referer" title="Xhtml 1.1 Strict">
      Xhtml Happy
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Css 2.0 Strict">
      Css Happy
     </a>
     |
     <a href="#rss" title="Rss Feeds">
      Rss
     </a>
     |
     <a href="#about" title="About">
      About
     </a>
     |
     <a href="#contact" title="Contact">
      Contact
     </a>
    </p>
   </div>
  </div>
 </body>
</html>