<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Fivestar/http://www.nikhedonia.com/'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Fivestar/screen.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="container">
   <div id="header">
    <h1>
     {{=response.title or request.application}}
    </h1>
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
   </div>
   <div id="wrapper">
    <div id="content-wrapper">
     <div id="content">
      <div class="flash">{{=response.flash or ''}}</div>
      {{include}}
     </div>
    </div>
    <div id="sidebar-wrapper">
     <div id="sidebar">
      <ul>
       <li class="title">
        Odd Man Out
       </li>
       <li>
        <a href="#10">
         Duke and Duchess
        </a>
       </li>
       <li>
        <a href="#11">
         Marquess and Marchioness
        </a>
       </li>
       <li>
        <a href="#12">
         Earl and Countess
        </a>
       </li>
       <li>
        <a href="#13">
         Viscount and Viscountess
        </a>
       </li>
       <li>
        <a href="#14">
         Baron and Baroness
        </a>
       </li>
      </ul>
      <ul>
       <li class="title">
        Category Archives
       </li>
       <li>
        <a href="#15">
         100 Greatest Cartoons
        </a>
       </li>
       <li>
        <a href="#16">
         Laptops vs. Actors
        </a>
       </li>
       <li>
        <a href="#17">
         Internet vs. Television
        </a>
       </li>
       <li>
        <a href="#18">
         Characters
        </a>
       </li>
       <li>
        <a href="#19">
         .NET Framework
        </a>
       </li>
       <li>
        <a href="#20">
         Dead Albums
        </a>
       </li>
       <li>
        <a href="#21">
         Antidisestablishmentarianism
        </a>
       </li>
       <li>
        <a href="#22">
         2006 Births
        </a>
       </li>
       <li>
        <a href="#23">
         Charmed
        </a>
       </li>
       <li>
        <a href="#24">
         1324 B.C.E.
        </a>
       </li>
       <li>
        <a href="#25">
         Google
        </a>
       </li>
       <li>
        <a href="#26">
         MSN
        </a>
       </li>
       <li>
        <a href="#27">
         Books
        </a>
       </li>
       <li>
        <a href="#28">
         Establishments
        </a>
       </li>
       <li>
        <a href="#29">
         Technology &amp; What Not
        </a>
       </li>
       <li>
        <a href="#30">
         Processes &amp; Meetings
        </a>
       </li>
      </ul>
      <ul>
       <li class="title">
        Monthly Archives
       </li>
       <li>
        <a href="#31">
         August 2006
        </a>
       </li>
       <li>
        <a href="#32">
         July 2006
        </a>
       </li>
       <li>
        <a href="#33">
         June 2006
        </a>
       </li>
       <li>
        <a href="#34">
         May 2006
        </a>
       </li>
       <li>
        <a href="#35">
         April 2006
        </a>
       </li>
       <li>
        <a href="#36">
         March 2006
        </a>
       </li>
       <li>
        <a href="#37">
         February 2006
        </a>
       </li>
       <li>
        <a href="#38">
         January 2006
        </a>
       </li>
       <li>
        <a href="#39">
         December 2005
        </a>
       </li>
       <li>
        <a href="#40">
         November 2005
        </a>
       </li>
       <li>
        <a href="#41">
         October 2005
        </a>
       </li>
       <li>
        <a href="#42">
         September 2005
        </a>
       </li>
       <li>
        <a href="#43">
         August 2005
        </a>
       </li>
       <li>
        <a href="#44">
         July 2005
        </a>
       </li>
       <li>
        <a href="#45">
         June 2005
        </a>
       </li>
       <li>
        <a href="#46">
         May 2005
        </a>
       </li>
       <li>
        <a href="#47">
         April 2005
        </a>
       </li>
       <li>
        <a href="#48">
         March 2005
        </a>
       </li>
       <li>
        <a href="#48">
         February 2005
        </a>
       </li>
       <li>
        <a href="#50">
         January 2005
        </a>
       </li>
       <li>
        <a href="#51">
         December 2005
        </a>
       </li>
       <li>
        <a href="#52">
         November 2005
        </a>
       </li>
       <li>
        <a href="#53">
         October 2005
        </a>
       </li>
       <li>
        <a href="#54">
         September 2005
        </a>
       </li>
       <li>
        <a href="#55">
         August 2005
        </a>
       </li>
       <li>
        <a href="#56">
         July 2005
        </a>
       </li>
       <li>
        <a href="#57">
         June 2005
        </a>
       </li>
      </ul>
     </div>
    </div>
   </div>
   <div id="footer">
    <p>
     Copyright &copy; 2003 &ndash; 2006 Fivestar Inc. All rights reserved.
    </p>
    <p>
     Design by
     <a href="http://www.nikhedonia.com/" rel="bookmark" title="SimplyGold">
      Sadhana Ganapathiraju
     </a>
     . 
				Try more
     <a href="http://showcase.nikhedonia.com/showcase/category/free_templates/" rel="bookmark" title="Other Free Templates">
      free templates
     </a>
     or
     <a href="http://showcase.nikhedonia.com/showcase/category/commercial_templates/" rel="bookmark" title="Commercial Templates">
      commercial templates
     </a>
     .
    </p>
    <p>
     <a href="#51">
      Legal
     </a>
     |
     <a href="#52">
      Terms of Service
     </a>
     |
     <a href="#53">
      Privacy Statement
     </a>
     |
     <a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">
      Xhtml
     </a>
     |
     <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" title="Valid CSS 2.0 Strict">
      Css
     </a>
    </p>
   </div>
  </div>
 </body>
</html>