<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GlacknGreen//favicon.png'))}}
{{response.files.append(URL(request.application,'static','plugin_layouts/layouts/GlacknGreen/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <!-- default margin = default layout -->
 <div id="container">
  <div id="header">
  </div>
  <div id="navigation">
   <div id="tabs3">
    <ul>
     <!-- CSS Tabs -->
     <li id="current">
      <a href="#">
       <span>
        Home
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Products
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Services
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Support
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        Order
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        News
       </span>
      </a>
     </li>
     <li>
      <a href="#">
       <span>
        About
       </span>
      </a>
     </li>
    </ul>
   </div>
  </div>
  <div id="main">
   <div class="flash">{{=response.flash or ''}}</div>
   {{include}}
  </div>
  <div id="footer">
   <div class="f1">
    <h2>
     New Stuff
    </h2>
    <ul>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
    </ul>
   </div>
   <div class="f2">
    <h2>
     Links
    </h2>
    <ul>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
     <li>
      <a href="#">
       Link
      </a>
     </li>
    </ul>
   </div>
   <div class="f1">
    <h2>
     About
    </h2>
    <ul>
     Info about you and your site.
    </ul>
   </div>
  </div>
  <div id="footer2">
   <center>
    Template created by Ace © 2007-08
    <a href="http://www.xeonfx.com">
     Xeonfx
    </a>
   </center>
  </div>
 </div>
</html>