<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/Puzzled/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="contain">
   <div id="header">
    <h1 class="style1">
     {{=response.title or request.application}}
    </h1>
    <div class="topbar">
     <div id="icons">
      <a href="home.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="home.gif" alt="home" />
      </a>
      <a href="cart.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="cart.gif" alt="cart" />
      </a>
      <a href="faq.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="faq.gif" alt="faq" />
      </a>
      <a href="map.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="map.gif" alt="map" />
      </a>
      <a href="contact.html">
       <img style="border: 0px solid ; width: 32px; height: 32px;" src="contact.gif" alt="contact" />
      </a>
     </div>
    </div>
   </div>
   <div id="leftcol">
    <h3>
     Navigation
    </h3>
    <div id="navcontainerr">
     <ul>
      <li>
       <a href="#">
        Side Link 1
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 2
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 3
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 4
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 5
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 6
       </a>
      </li>
      <li>
       <a href="#">
        Side Link 7
       </a>
      </li>
     </ul>
     <p>
      &nbsp;
     </p>
     <p>
      &nbsp;
     </p>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
     <h4>
      More content here
     </h4>
    </div>
    <div>
    </div>
   </div>
   <div id="navcontainer">
    <ul id="navlist">
     <li id="active">
      <a href="#" id="current">
       Link 1
      </a>
     </li>
     <li>
      <a href="#">
       Link 2
      </a>
     </li>
     <li>
      <a href="#">
       Link 3
      </a>
     </li>
     <li>
      <a href="#">
       Link 4
      </a>
     </li>
     <li>
      <a href="#">
       Link 5
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div id="footer">
    <p>
     Images: &nbsp;
     <a href="http://wfiedler-online.de/">
      Wolfram Fiedler
     </a>
     - Copyright 2007 - Design by
     <a href="http://www.projectaces.com">
      LS
     </a>
    </p>
   </div>
  </div>
 </body>
</html>
