<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <title>
   {{=response.title or request.application}}
  </title>
  {{response.files.append(URL(request.application,'static','plugin_layouts/layouts/RamblingSoul6/style.css'))}}
{{include 'web2py_ajax.html'}}
  <style>
   .flash {
    z-index: 2;
    position: absolute;
    top: 0px;
    right: 20%;
    width: 60%;
    height: 50px;
    opacity: 0.75;
    margin: 0 auto;
    text-align: center;
    clear: both;
    border: 1px #000000 solid;
    color: black;
    font-size: 12pt;
    padding: 100px 10px 10px 10px;
    cursor: pointer;
    background: white;

}
div.error {
    background-color: red;
    color: white;
    padding: 3px;
}
  </style>
 </head>
 <body>
  <div id="wrap">
   <div id="header">
    <div id="topnav">
     <ul>
      <li class="active">
       <a href="#">
        Home
       </a>
      </li>
      <li>
       <a href="#">
        About
       </a>
      </li>
      <li>
       <a href="#">
        Blog
       </a>
      </li>
      <li>
       <a href="#">
        Contact
       </a>
      </li>
     </ul>
    </div>
    <div class="spacer">
    </div>
    <h1>
     {{=response.title or request.application}}
    </h1>
   </div>
   <div class="spacer">
   </div>
   <div class="subnav">
    <h2>
     {{=response.subtitle or '=response.subtitle'}}
    </h2>
    <ul class="cats">
     <li>
      <a href="#">
       Events
      </a>
      (12)
     </li>
     <li>
      <a href="#">
       News
      </a>
      (5)
     </li>
     <li>
      <a href="#">
       Business
      </a>
      (25)
     </li>
     <li>
      <a href="#">
       Government
      </a>
      (15)
     </li>
     <li>
      <a href="#">
       Entertainment
      </a>
      (8)
     </li>
     <li>
      <a href="#">
       Education
      </a>
      (4)
     </li>
    </ul>
    <h2>
     Archives
    </h2>
    <ul>
     <li>
      <a href="#">
       January
      </a>
     </li>
     <li>
      <a href="#">
       February
      </a>
     </li>
     <li>
      <a href="#">
       March
      </a>
     </li>
     <li>
      <a href="#">
       April
      </a>
     </li>
     <li>
      <a href="#">
       May
      </a>
     </li>
     <li>
      <a href="#">
       June
      </a>
     </li>
     <li>
      <a href="#">
       ..more
      </a>
     </li>
    </ul>
    <h2>
     User Menu
    </h2>
    <ul>
     <li>
      <a href="#">
       Register
      </a>
     </li>
     <li>
      <a href="#">
       Subscribe
      </a>
     </li>
     <li>
      <a href="#">
       Login
      </a>
     </li>
     <li>
      <a href="#">
       My Account
      </a>
     </li>
     <li>
      <a href="#">
       Submit Article
      </a>
     </li>
    </ul>
    <h2>
     Links
    </h2>
    <ul>
     <li>
      <a href="http://www.ramblingsoul.com">
       Rambling Soul
      </a>
     </li>
     <li>
      <a href="http://opendesigns.org">
       OpenDesigns
      </a>
     </li>
    </ul>
   </div>
   <div id="content">
    <div class="flash">{{=response.flash or ''}}</div>
    {{include}}
   </div>
   <div class="spacer">
    &nbsp;
   </div>
   <div id="footer">
    Your copy right information | Put | Some | Links | Here
    <br />
    Designed by -
    <a href="#">
     Rambling Soul
    </a>
   </div>
  </div>
 </body>
</html>
