<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
<title>mike01</title>
<meta http-equiv="content-type" content="application/xhtml+xml; charset=iso-8859-1" />
<meta name="author" content="Mike Yarmish" />
<meta name="description" content="Your website description goes here" />
<meta name="keywords" content="your,keywords,goes,here" />
<link rel="stylesheet" href="mike01.css" type="text/css" />
</head>

<body>
<div id="container" >
	<div id="header">
		<h1>mike01: stylish simplicity</h1>
	</div>
	<div id="menu">
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Download</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<div id="menuBottom">
	</div>
	
	<div id="content">

		<div id="main">
			<div class="post">
				<h2>Welcome!</h2>
				<p>That's my first open-source template and I hope you'd like it. Your feedback would be really helpful.</p>
			</div>
			<div class="post">
				<h2>Open Source Template</h2>
				<p>This template is open source web-design, which means that you can use it in any way you like.
				I just kindly ask that you leave the credit text and link in the footer (the one which says "Design
				by <a href="spacer.zoxt.net">Mike Yarmish</a>"). I would really appreciate such support.</p>	
			</div>
			<div class="post">
				<h2>Design Features</h2>
				<p>The design is fully liquid. In 800px it works as fine as in 1024px and 1280px.
				If you want to change columns' places you could edit float and text-align properties in CSS.</p>
				<blockquote><p>Some blockquote text which is showed as an example how it looks like.</p></blockquote>
				Example of an un-ordered list:
				<ul>
					<li>Now</li>
					<li>Hear me out now</li>
					<li>You're gonna listen to me, like it or not</li>
					<li>Right now</li>
					<li>Hear me out now</li>
					<li>You're gonna listen to me, like it or not</li>
					<li>Right now</li>
				</ul>
			</div>
		</div>
		
		<div id="sub">
			<h2>About the designer</h2>
			<p>My name is Mike Yarmish. I'm a 20 years old webdesigner who lives in Rostov-on-Don, Russia.
			If you are interested in more advanced templates or custom design services,
			don't hesitate to contact me for more information!</p>
			<h2>Useful Links</h2>
			<ul>
				<li><a href="http://spacer.zoxt.net">Template author</a></li>
				<li><a href="http://openwebdesign.org/">Open Web Design</a></li>
				<li><a href="http://oswd.org/">OSWD.org</a></li>
			</ul>
			<h2>Some more information</h2>
			<p>
				Current template version: 1.0 (21/05/06)
			</p>
		</div>
	</div>
</div>

<div id="footer">
<p>&copy; 2006 Your or your company name | Design by <a href="http://spacer.zoxt.net">Mike Yarmish</a></p>
</div>
</body>
</html>