<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>
	Cold Day-A simple Template for you to use
	</title>
	<link rel="stylesheet" type="text/css" href="main.css" media="screen" />
</head>
<body>
<div id="container">
	<div id="header">
		<br />
		<h1>Cold Day</h1>
		<br />
		<br />
		<br />
		<br />
		 <div id="tabs">
			<ul>

				<li id="current"><a href="#"><span>Home</span></a></li>
				<li><a href="#"><span>Products</span></a></li>
				<li><a href="#"><span>Services</span></a></li>
				<li><a href="#"><span>Support</span></a></li>
				<li><a href="#"><span>About</span></a></li>
			</ul>
		</div>
	</div>
	<div id="mainCell">
		<div id="content">
			<div class="news">
				<h4>News:</h4>
				Here is a box you can put any news or any other information.
				You can even put ads here if you want.
				<br />
				<a href="http://www.idavista.com">www.idavista.com</a>
				<br />
				<a href="http://www.snappyad.com">Free Classifieds</a>
				<br />
				Do you want to have some fun?
				<br />
				<a href="http://www.findmytwinonline.com">Find your lookalike</a>
				online!

			</div>

			<h3>Cold Day Template</h3>
			<p>This is a template I hope everyone will like. All graphics on the page, including the photograph at the top were designed by me and can be used on your own page if you wish.</p>
			<p>If you use this template please give credit where credit is due. Leave the footer information at the bottom of the page and place a link to one of my websites. You can provide a link to either
			<br /><a href="http://www.idavista.com">www.idavista.com</a>, <a href="http://www.snappyad.com">www.snappyad.com</a> or <a href="http://www.findmytwinonline.com">www.findmytwinonline.com</a></p>
			<br />
			<h3>Lorem ipsum dolor sit amet,</h3>
			<p>Consectetuer adipiscing elit. Pellentesque augue. Suspendisse consectetuer velit nec neque. Duis nec orci quis nulla egestas fermentum. Ut quis eros. Aenean at augue vitae quam posuere vehicula. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. </p>
			<p>Maecenas justo nunc, porta sed, molestie eget, adipiscing id, ante. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Suspendisse potenti. Nunc blandit magna id odio sodales luctus. Nulla quam magna, viverra quis, dignissim blandit, viverra nec, odio. </p>
			<hr />
		</div>
	</div>
	<div id="footer">
			<span style="color:#767B7F">Copyright your name, Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a> Inc.
			<br/>
			</span>
			<a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10" alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
	</div>
</div>
</body>
</html>