<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Surreal | A free css template by Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<div id="header">
<h1 id="sitename"><a href="#">Surreal</a></h1>
</div>
<div id="page">
<div id="menu">
<div id="sidemenu">
<h2>Menu</h2>
<ul>
<li><a href="index.html">Home</a> </li>
<li><a href="tables.html">Tables</a></li>
<li><a href="forms.html">Forms</a></li>
<li class="active"><a href="blog.html">Blog Entries</a></li>
<li><a href="#browse">Browse More</a></li>
</ul>
</div>
</div>
<div id="content">
<h2>Lorem Ipsum <span class="seo">Posted on 01/11/2007</span></h2>


<img class="alignright" src="images/imagesample1.jpg" alt="Surreal Template Image" />
<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam pulvinar arcu sed risus. Etiam odio mauris, mattis non, vestibulum quis, mollis ac, mi. Fusce a nibh. Integer eu quam. Fusce sem nunc, tincidunt et, imperdiet eu, dapibus id, arcu. Sed mollis ligula. Nullam dapibus vestibulum eros. Suspendisse venenatis sodales nulla. Vivamus et magna. Maecenas pellentesque mauris non ipsum. Phasellus ac eros. Integer est. In sit amet lectus a tellus dapibus ultrices. Suspendisse molestie diam nec erat.
</p>
<p>
Aliquam gravida. Sed hendrerit, ante porta euismod hendrerit, nisl velit pharetra ipsum, quis porta justo felis mattis dui. Phasellus elit ligula, cursus vitae, euismod ac, scelerisque non, diam. Maecenas imperdiet. Aliquam egestas, sem eget hendrerit dapibus, mi tellus lacinia ante, ac condimentum nulla magna quis velit. Nullam scelerisque, purus at tempor pretium, neque nulla ullamcorper ante, et imperdiet odio sapien sit amet felis.</p>
<p class="postmetadata">
189 Comments | Add your comment | Filed under Web Design
</p>
<h2> Headings &amp; Lists<span class="seo">Posted on 01/11/2007</span></h2>

<p> Nam a erat. Suspendisse nunc magna, condimentum quis, condimentum non, sollicitudin nec, nisi. In adipiscing justo. Pellentesque non dolor nec purus dignissim fermentum. Donec sit amet dolor id nisi adipiscing ornare. Sed nisl massa, ullamcorper a, pellentesque et, ultricies eu, justo. Duis faucibus diam a neque. 
</p>
<h3>Heading 3</h3>
<p>
Donec vel diam. Maecenas aliquam massa sit amet neque. Duis sodales, felis id tincidunt volutpat, leo orci convallis lacus, ac congue lacus massa eu neque. Sed risus lectus, tempor ac, scelerisque sed, adipiscing sed, urna. Proin mattis ipsum id elit. Fusce orci. </p>

<h4>Heading 4</h4>
<p>Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Maecenas in ipsum vel orci bibendum cursus. Nulla nisi diam, tempor et, auctor vitae, sollicitudin at, arcu. In aliquet placerat ipsum. Duis turpis ipsum, euismod nec, semper nec, posuere et, quam. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse vulputate vestibulum ligula. Donec vestibulum purus et tortor. Sed consequat justo et eros. Aenean dictum, quam egestas sodales feugiat, leo massa gravida neque, in aliquet urna diam dictum nulla. Quisque turpis. Mauris nisi mi, adipiscing et, tempor non, posuere vel, nunc. Donec quis sem. Mauris eget magna eu ante congue tempus. Fusce mattis lorem a arcu. Quisque scelerisque augue at quam.
</p>
<h3>List Example</h3>
<p>
Duis tempor purus in arcu. Sed dapibus, ante eu euismod tristique, ante leo malesuada dui, in ultrices ligula mauris non sapien. Cras nonummy consectetuer enim. Nam magna sem, imperdiet sit amet, pretium in, mollis non, odio. Donec quis arcu. Cras sed sapien vel lorem pulvinar consequat.</p>
<ul>
  <li> Morbi dui augue, volutpat et, consectetuer nec, elementum sed, sem. </li>
  <li>Quisque id risus. Praesent ullamcorper faucibus risus. Nulla ante. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aliquam sapien sem, tincidunt ac, nonummy sed, blandit ac, diam. Quisque adipiscing eros vitae orci. </li>
  <li>Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Duis sit amet metus. </li>
  <li>Aliquam lacus metus, dictum sed, consequat in, euismod vel, mi. Pellentesque faucibus. Morbi varius blandit nulla. Etiam pharetra mauris id sapien. Nullam dignissim. </li>
</ul>
<h3>Ordered List</h3>
<ol>
  <li>
    Duis auctor sem eu ante. Suspendisse potenti.</li>
  <li> Morbi mi. Morbi ut neque ut tellus pretium tristique. </li>
  <li>Aenean nonummy, dolor cursus tristique pretium, sapien pede luctus ipsum, luctus condimentum dui elit eu magna.</li>
  <li> Nam sed orci et purus laoreet fringilla. Nam facilisis lobortis ante. Suspendisse elementum velit at velit. Duis rutrum ante ac tortor. Curabitur nonummy leo mollis tortor. Pellentesque ac pede. </li>
</ol>
</div>
<div class="clear"></div>
<div id="browse">
<h2 class="subhead">Browse</h2>
<div class="browsecat">
<h2 class="categoryhead">Categories</h2>
  <ul>
    <li><a href="#">
      Web Designing</a></li>
    <li><a href="#">Music &amp; Entertainment</a></li>
    <li><a href="#">Electronics &amp; Gadgets</a></li>
    <li><a href="#">Computer Science</a></li>
    <li><a href="#">Educations</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Charity</a></li>
    <li><a href="#">Paranormal Science</a></li>
    <li><a href="#">and more..</a></li>
  </ul>
  </div>

<div class="browsecat">
<h2 class="categoryhead">Archives</h2>
  <ul>
    <li><a href="#">
      January 2007</a></li>
    <li><a href="#">February 2007</a></li>
    <li><a href="#">March 2007</a></li>
    <li><a href="#">April 2007</a></li>
    <li><a href="#">May 2007</a></li>
    <li><a href="#">June 2007</a></li>
    <li><a href="#">July 2007</a></li>
    <li><a href="#">August 2007</a></li>
    <li><a href="#">September 2007</a></li>
  </ul>
  </div>
<div class="browsecat">
<h2 class="categoryhead">Links</h2>
  <ul>
    <li><a href="http://opendesigns.org">
      The Open Designs Community</a></li>
    <li><a href="http://ramblingsoul.com">Rambling Soul - Free CSS Templates</a></li>
    <li><a href="http://cssfreebies.com">CSS Freebies</a></li>
    <li><a href="http://google.com">Google.com</a></li>
    <li><a href="http://alistapart.com">A List Apart</a></li>
  </ul>
  </div>
<div class="clear"></div>
</div>
</div>
<div id="footer">
<div id="footercontent">
<p>Yoursitename.com &copy; All Rights Reserved</p>
<p><a href="#">Put</a> | <a href="#">Some</a> | <a href="#">Links</a> | <a href="#">Here</a></p>
<p id="credit"><a href="http://ramblingsoul.com">CSS Template</a> by Ramblingsoul</p>

</div>
</div>
</div>
</body>
</html>
