<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Surreal | A free css template by Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>

<body>
<div id="wrap">
<div id="header">
<h1 id="sitename"><a href="#">Surreal</a></h1>
</div>
<div id="page">
<div id="menu">
<div id="sidemenu">
<h2>Menu</h2>
<ul>
<li><a href="index.html">Home</a> </li>
<li><a href="tables.html">Tables</a></li>
<li class="active"><a href="forms.html">Forms</a></li>
<li><a href="blog.html">Blog Entries</a></li>
<li><a href="#browse">Browse More</a></li>
</ul>
</div>
</div>
<div id="content">
<h2>Contact Me - Form Example <span class="seo">Example of a simple contact form</span></h2>

<form action="#">
<div class="contactform">
<label for="Name">Name:</label>
<input class="textfield" name="Name" type="text" />
<div class="clear2">&nbsp;</div>
<label for="Email">Email:</label><input class="textfield" name="Email" type="text" />
<div class="clear2">&nbsp;</div>
<label for="Age">Age:</label>
<input class="textfield" name="Age" type="text" />
<div class="clear2">&nbsp;</div>

<label for="Comments">Comments/Questions:</label>
<textarea class="textfield" name="Comments" cols="30" rows="8"></textarea>

<div class="clear2">&nbsp;</div>
<label for="Submit"><span class="hide">Submit</span></label>
<input name="Submit" type="button" class="button" value="Submit" />
<div class="clear2">&nbsp;</div>
</div>
</form>

</div>
<div class="clear"></div>
<div id="browse">
<h2 class="subhead">Browse</h2>
<div class="browsecat">
<h2 class="categoryhead">Categories</h2>
  <ul>
    <li><a href="#">
      Web Designing</a></li>
    <li><a href="#">Music &amp; Entertainment</a></li>
    <li><a href="#">Electronics &amp; Gadgets</a></li>
    <li><a href="#">Computer Science</a></li>
    <li><a href="#">Educations</a></li>
    <li><a href="#">News</a></li>
    <li><a href="#">Charity</a></li>
    <li><a href="#">Paranormal Science</a></li>
    <li><a href="#">and more..</a></li>
  </ul>
  </div>

<div class="browsecat">
<h2 class="categoryhead">Archives</h2>
  <ul>
    <li><a href="#">
      January 2007</a></li>
    <li><a href="#">February 2007</a></li>
    <li><a href="#">March 2007</a></li>
    <li><a href="#">April 2007</a></li>
    <li><a href="#">May 2007</a></li>
    <li><a href="#">June 2007</a></li>
    <li><a href="#">July 2007</a></li>
    <li><a href="#">August 2007</a></li>
    <li><a href="#">September 2007</a></li>
  </ul>
  </div>
<div class="browsecat">
<h2 class="categoryhead">Links</h2>
  <ul>
    <li><a href="http://opendesigns.org">
      The Open Designs Community</a></li>
    <li><a href="http://ramblingsoul.com">Rambling Soul - Free CSS Templates</a></li>
    <li><a href="http://cssfreebies.com">CSS Freebies</a></li>
    <li><a href="http://google.com">Google.com</a></li>
    <li><a href="http://alistapart.com">A List Apart</a></li>
  </ul>
  </div>
<div class="clear"></div>
</div>
</div>
<div id="footer">
<div id="footercontent">
<p>Yoursitename.com &copy; All Rights Reserved</p>
<p><a href="#">Put</a> | <a href="#">Some</a> | <a href="#">Links</a> | <a href="#">Here</a></p>
<p id="credit"><a href="http://ramblingsoul.com">CSS Template</a> by Ramblingsoul</p>

</div>
</div>
</div>
</body>
</html>
