<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Sleek Design</title>
<link rel="stylesheet" type="text/css" href="style.css" />
</head>

<body>
<div class="wrapper">
  <div class="topnav">Design By <a href="http://www.freecss.info">FreeCSS.info </a></div>
<div class="bannerbg"><a href="#"><img src="images/logo_06.gif" alt="logo" width="413" height="89" border="0" /></a></div>
<div class="subbannerbg">
<div class="subbannerbgleft"></div>
  <div class="subbannerbgmiddle">
    <h1>This is Free </h1>
    <p>Thanks to freecss.info this design is now free. It is really easy to edit. </p>
  </div>
  <div class="subbannerbgright"></div>
  <div class="content">
    <div class="leftcolumn">
      <h2>Navigation </h2>
	  <div class="underh2">
	  <div id="navvy">
<ul id="navvylist">
<li><a href="#">Home</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">Templates</a></li>
</ul>
</div>
</div>
<h2> Other Content </h2>
<div class="underh2">Other content can go here like latest news or something like that. If you wanted you can make it into a hosting site and have hosting packages here. You could also have partner links or something like that to fill up the left column. </div>
<h2> Ads </h2>
<div class="underh2" align="center">
<script type="text/javascript"><!--
google_ad_client = "pub-3659470420658779";
google_ad_width = 160;
google_ad_height = 600;
google_ad_format = "160x600_as";
google_ad_type = "text_image";
google_ad_channel = "";
google_color_border = "232323";
google_color_bg = "232323";
google_color_link = "0048B6";
google_color_text = "ffffff";
google_color_url = "ffffff";
//--></script>
<script type="text/javascript"
  src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
</script></div>

    </div>
	<div class="rightcolumn">
	  <div class="mainheadingbg">
	    <div class="date">
	      <div class="month">Jan</div>
		  <div class="day">6th</div>
	    </div>
		<h3> News Update</h3>
	  </div>
	  <div class="writtencontent">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur a  lectus. Integer sed erat eget leo ullamcorper cursus. Morbi eu urna  eget felis sollicitudin egestas. In hac habitasse platea dictumst.  Integer rutrum, diam eleifend imperdiet euismod, odio risus congue  justo, at lobortis nulla massa at turpis. Ut condimentum nisi gravida  nisi. Quisque rutrum, neque sit amet ornare bibendum, odio pede  ultricies felis, at malesuada velit felis semper erat. Nullam vitae  orci. Morbi massa leo, pulvinar volutpat, ullamcorper vel, commodo ac,  odio. In vel orci. Nulla condimentum erat vel risus accumsan fringilla.  Fusce nisi magna, malesuada vitae, posuere nec, ullamcorper eget, erat.  Cras tristique, nibh et vestibulum volutpat, dui leo pulvinar magna, ac  tincidunt ante libero ac sem. Cras ac nunc. Phasellus vulputate magna  ac eros. Donec condimentum. </p>
	    <p>Pellentesque lorem magna, mollis quis, fermentum vel, blandit at,  urna. Donec vestibulum eleifend erat. Maecenas at mauris eget turpis  aliquam congue. Etiam fringilla porttitor tellus. Nullam mattis, elit  vel ornare accumsan, nunc risus fermentum leo, at vehicula lorem enim  ac nibh. Donec venenatis. Suspendisse lectus ante, tristique eget,  ultrices id, iaculis sed, tellus. In consectetuer. Praesent tortor  libero, consequat sit amet, molestie fringilla, bibendum at, orci.  Donec placerat. Aenean dapibus scelerisque nunc. </p>
	    <p>Vestibulum ac est. Cras laoreet. In sagittis pede sed mauris. Nunc  pellentesque. In hac habitasse platea dictumst. Aenean sed massa.  Aenean quis risus quis dolor vehicula luctus. Vestibulum ullamcorper  tellus at tellus. Nullam sit amet enim. Donec sagittis dolor ut magna  faucibus rutrum. Proin tempus orci gravida felis. Quisque risus nisl,  blandit vel, euismod facilisis, suscipit quis, diam. Nam nisl purus,  posuere lobortis, fermentum a, tincidunt mollis, sapien. Aliquam  fringilla tincidunt urna. Praesent risus. Donec gravida, dolor et  lacinia placerat, ligula urna ullamcorper odio, quis lobortis leo eros  quis elit. </p>
	  </div>
	  
	  <div class="mainheadingbg">
        <div class="date">
          <div class="month">Dec</div>
          <div class="day">5th</div>
        </div>
	    <h3>New Template For Sale </h3>
	    </div>
	  <div class="writtencontent">
        <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur a  lectus. Integer sed erat eget leo ullamcorper cursus. Morbi eu urna  eget felis sollicitudin egestas. In hac habitasse platea dictumst.  Integer rutrum, diam eleifend imperdiet euismod, odio risus congue  justo, at lobortis nulla massa at turpis. Ut condimentum nisi gravida  nisi. Quisque rutrum, neque sit amet ornare bibendum, odio pede  ultricies felis, at malesuada velit felis semper erat. Nullam vitae  orci. Morbi massa leo, pulvinar volutpat, ullamcorper vel, commodo ac,  odio. In vel orci. Nulla condimentum erat vel risus accumsan fringilla.  Fusce nisi magna, malesuada vitae, posuere nec, ullamcorper eget, erat.  Cras tristique, nibh et vestibulum volutpat, dui leo pulvinar magna, ac  tincidunt ante libero ac sem. Cras ac nunc. Phasellus vulputate magna  ac eros. Donec condimentum. </p>
	    <p>Pellentesque lorem magna, mollis quis, fermentum vel, blandit at,  urna. Donec vestibulum eleifend erat. Maecenas at mauris eget turpis  aliquam congue. Etiam fringilla porttitor tellus. Nullam mattis, elit  vel ornare accumsan, nunc risus fermentum leo, at vehicula lorem enim  ac nibh. Donec venenatis. Suspendisse lectus ante, tristique eget,  ultrices id, iaculis sed, tellus. In consectetuer. Praesent tortor  libero, consequat sit amet, molestie fringilla, bibendum at, orci.  Donec placerat. Aenean dapibus scelerisque nunc. </p>
	    <p>Vestibulum ac est. Cras laoreet. In sagittis pede sed mauris. Nunc  pellentesque. In hac habitasse platea dictumst. Aenean sed massa.  Aenean quis risus quis dolor vehicula luctus. Vestibulum ullamcorper  tellus at tellus. Nullam sit amet enim. Donec sagittis dolor ut magna  faucibus rutrum. Proin tempus orci gravida felis. Quisque risus nisl,  blandit vel, euismod facilisis, suscipit quis, diam. Nam nisl purus,  posuere lobortis, fermentum a, tincidunt mollis, sapien. Aliquam  fringilla tincidunt urna. Praesent risus. Donec gravida, dolor et  lacinia placerat, ligula urna ullamcorper odio, quis lobortis leo eros  quis elit. </p>
	    </div>
	</div>
	<div class="clear"></div>
  </div>
  <div class="footer">
    <div class="footerlogo"><a href="http://www.freecss.info">Free CSS Templates </a></div>
</div>
  </div></div>

</body>
</html>
