<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--

Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Artistic
Version    : 1.0
Released   : 20070802
Description: A two-column, fixed-width template with pastel color. Suitable for small websites and blogs.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Artistic by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1><a href="#">Artistic</a></h1>
	<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
</div>
<div id="page">
	<div id="content">
		<div class="post">
			<h1 class="title"><a href="#">Welcome to Our Website!</a></h1>
			<p class="date">August 2, 2007</p>
			<div class="entry">
				<p><strong>Artistic</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. You're free to use it for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way. <em>Enjoy :)</em></p>
			</div>
			<p class="meta">Filed under <a href="#">Uncategorized</a> | <a href="#">Comments (8)</a></p>
		</div>
		<div class="post">
			<h2 class="title"><a href="#">Praesent Scelerisque</a></h2>
			<p class="date">July 27, 2007</p>
			<div class="entry">
				<blockquote>
					<p>&ldquo;Integer nisl risus, sagittis convallis, rutrum id, elementum congue, nibh.&rdquo;</p>
				</blockquote>
				<p>In posuere eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula. Pellentesque viverra vulputate enim. Aliquam erat volutpat:</p>
			</div>
			<p class="meta">Filed under <a href="#">Uncategorized</a> | <a href="#">Comments (8)</a></p>
		</div>
	</div>
	<!-- end content -->
	<div id="sidebar">
		<ul>
			<li>
				<h2>Search</h2>
				<form method="get" action="">
					<fieldset>
					<input type="text" id="s" name="s" value="" />
					<br />
					<input name="submit" type="submit" id="searchsubmit" value="Search" />
					</fieldset>
				</form>
			</li>
			<li>
				<h2>Archives</h2>
				<ul>
					<li><a href="#">August 2007</a> (1)</li>
					<li><a href="#">July 2007</a> (31)</li>
					<li><a href="#">June 2007</a> (30)</li>
					<li><a href="#">May 2007</a> (31)</li>
					<li><a href="#">April 2007</a> (30)</li>
				</ul>
			</li>
			<li>
				<h2>Categories</h2>
				<ul>
					<li><a href="#">Ut semper vestibulum</a> (32)</li>
					<li><a href="#">Vestibulum luctus</a> (19)</li>
					<li><a href="#">Integer rutrum nisl</a> (33)</li>
					<li><a href="#">Etiam malesuada</a> (12)</li>
					<li><a href="#">Aenean elementum</a> (41)</li>
					<li><a href="#">Ut tincidunt elit</a> (18)</li>
					<li><a href="#">Sed quis odio</a> (30)</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
	<div style="clear: both;">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
	<p id="legal">&copy;2007 Artistic. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
	<p id="links"><a href="#">Privacy</a> | <a href="#">Terms</a> | <a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Transitional"><abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a> | <a href="http://jigsaw.w3.org/css-validator/check/referer" title="This page validates as CSS"><abbr title="Cascading Style Sheets">CSS</abbr></a></p>
</div>
</body>
</html>
