<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="main.css" media="screen" title="style (screen)" />
<title>Intersection</title>
<!--[if IE]>
<link rel="stylesheet" href='ie_fixes.css' type="text/css" media="screen, projection" />
<![endif]-->
</head>
<body>
	<div id="container">
		<div id="header">
			<img src="img/stop.gif" alt="" style="margin-top:18px;" class="float-right" />
			<h1>Intersection</h1>
			<p>Your Header content can go here...</p>
		</div>
		<div id="content">
			<div id="nav">
				<a href="#" id="current">Home</a>
				<a href="#">About</a>
				<a href="#">Services</a>
				<a href="#">Products</a>
				<a href="#">Contact Us</a>

			</div>
			<h3>Intersection-A CSS Template for the rest of us.</h3>
			<p>
				Here is a template that I hope you will all enjoy. All photos on this page were taken by me and you are free to use them on your own site if you wish. You can see them on <a href="http://www.flickr.com/photos/75319039@N00/">my flickr account</a>.
				<br />
				This template is free to use for both commercial or personal use provided that you give credit where credit is due by leaving the design credit in the footer.
				If you feel particularly generous you can link to <a href="http://www.findmytwinonline.com">http://www.findmytwinonline.com</a> or <a href="http://www.snappyad.com">http://www.snappyad.com</a>.
			</p>
			<div id="pics">
				<h3>Photos:</h3>
				<ul class="gallery">
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/392121165/in/set-72157600012463550/"><img src="img/1.jpg" alt="" /><img src="img/1.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/427500386/in/set-72157600012463550/"><img src="img/2.jpg" alt="" /><img src="img/2.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/"><img src="img/3.jpg" alt="" /><img src="img/3.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/392121165/in/set-72157600012463550/"><img src="img/1.jpg" alt="" /><img src="img/1.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/427500386/in/set-72157600012463550/"><img src="img/2.jpg" alt="" /><img src="img/2.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/"><img src="img/3.jpg" alt="" /><img src="img/3.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/392121165/in/set-72157600012463550/"><img src="img/1.jpg" alt="" /><img src="img/1.jpg" alt="" class="preview" /></a>
					</li>
					<li>
						<a href="http://www.flickr.com/photos/75319039@N00/427500386/in/set-72157600012463550/"><img src="img/2.jpg" alt="" /><img src="img/2.jpg" alt="" class="preview" /></a>
					</li>
				</ul>
			</div>
			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
				erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
				Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
				Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
				pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
				Quisque et neque vitae odio sagittis
				tincidunt.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
				erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
				Sed ac tellus. Nulla vel arcu.
				Proin ac sapien et neque pellentesque mollis.
				Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
				pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
				Quisque et neque vitae odio sagittis
				tincidunt.
			</p>

			<p>
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
				erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
				Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
				Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
				pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
				Quisque et neque vitae odio sagittis
				tincidunt.
			</p>

		</div>
		<br />
		<hr />
		<div id="footer">
			Copyright your name, Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a>, Inc.
			<br />Download your free auto maintenance reminder at <a href="http://www.idavista.com/transroster">www.idavista.com</a>
			<p>
				<a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a>
			</p>

		</div>
	</div>
</body>
</html>