

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title>Something in blue - Web design by Giant Systems</title>
<link rel="stylesheet" type="text/css" href="default.css" media="screen" />
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
</head>




<body>
    <div>
<div class="top">
				
	<div class="header">

		<div class="left">&nbsp;&nbsp;&nbsp;Something in blue </div>
		
		<div class="right">
<div>
			Valid XHTML 1.1 Transitional, Valid CSS 2.</div>
		</div>

	</div>	

</div>

<div class="container">	

	<div class="navigation"><a href="#" title="Home">HOME</a><a href="#" title="Downloads">SOMETHING</a><a href="#" title="Documentation">FAIRGROUND</a><a href="#" title="FAQs">BLUE PAGE</a><a href="#" title="Contact Us">CONTACT US</a> 

<div class="clearer"><span></span></div>
	</div>

	<div class="main">		
		
	  <div class="content">
	  
	    <h1><img class="imgright" src="img/_DSC7372.jpg" alt="Forest Thistle"  />Simple easy to adapt design</h1> <p>This page is a tableless layout which uses valid XHTML transitional and valid CSS 2.</p>
		<p>This design has been provided by Giant Systems Ltd.  Giant Systems also provide a free content management system which allows you to edit templates such as this in a using a WYSIWYG editor</p><p>This system can be viewed downloaded and tested at <a href="http://www.flexcms.co.uk">http://www.flexcms.co.uk</a></p>
		
	
		<p>As it would be a helpful way of supporting my work on open source templates I would be grateful if you could leave the lint at the bottom of the page (the one that says &quot;Design by Giant Systems Ltd&quot; in the footer). However the decision is yours, you may remove this if you wish.</p>
		<h2>Some place holder text</h2>
		
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do  eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip  ex ea commodo consequat. Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt mollit anim id est laborum.</p>
		<p> Duis aute irure dolor in reprehenderit in  voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur  sint occaecat cupidatat non proident, sunt in culpa qui officia  deserunt mollit anim id est laborum.</p>
		<p>&nbsp;</p>
		<p></p>
	    <p>&nbsp;</p>
	  </div>

		<div class="sidenav">

			<h2>FlexCMS</h2>
			<ul>
		<li><a href="#" title="Home">Home </a></li><li><a href="#" title="Downloads">Forest Green </a></li>
		<li><a href="http://www.flexcms.co.uk/FlexCMS_Documentation.aspx" title="Documentation">Trees </a></li>
		<li><a href="#" title="FAQs">About Us </a></li>
		<li><a href="http://www.flexcms.co.uk/FlexCMS_ContactUs.aspx" title="Contact Us">Contact Us </a></li>
		</ul>

			<h2>Membership</h2>
			<ul>
				<li><a href="#">Login / Register</a></li>
				<li><a href="#">Forgot password?</a></li>
			
			</ul>

			<h2>FlexCMS Bespoke versions </h2>
			<ul>
				<li><a href="http://www.giant-systems.co.uk/">FlexCMS </a></li>
				<li><a href="http://www.giant-systems.co.uk/Ecommerce.aspx">FlexEcommerce</a></li>
				<li><a href="http://www.giant-systems.co.uk/casestudies.aspx">FlexCMS portal server </a></li>
                <li><a href="http://www.giant-systems.co.uk/casestudies.aspx">FlexCMS Intranet </a></li>
            </ul>
            <br />
            <br />
  
		
</div>

		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">&copy; Your name here - Design by <a href="http://www.giant-systems.co.uk" title="Giant Systems Web design">Giant Systems Ltd</a>
	</div>

</div>

       
        
        
    </div>
</body>
</html>