<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/> 
<meta name="author" content="author"/> 
<link rel="stylesheet" type="text/css" href="default.css"/>
<title>Deep Blue</title>
</head>

<body>

<div id="main">

	<div id="main_left">
		
		<div id="header">
			<h1><a href="index.html">Deep Blue</a></h1>
		</div>

		<div id="navigation">
			<ul>
				<li><a href="index.html" accesskey="1">Home</a></li>
				<li><a href="index.html" accesskey="2">Archives</a></li>
				<li><a href="index.html" accesskey="3">Links</a></li>
				<li><a href="index.html" accesskey="4">About</a></li>
			</ul>
		</div>

		<div id="content">

			<h1>Porttitor posuere</h1>
			<div class="descr">Jun 13, 2006 by Vulputate</div>

			<div class="post_body">

				<p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor. In bibendum. Aenean ornare, <a href="index.html">nunc eget pretium</a> porttitor, sem est pretium leo, non euismod nulla dui non diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.</p>

				<blockquote><p>Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.</p></blockquote>
				
				<p>Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam.</p>

				<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Nulla non felis sollicitudin urna blandit egestas. Integer et libero varius pede tristique ultricies. Cras nisl. Proin quis massa semper felis euismod ultricies.
				</p>

			</div>

			<div class="post_info">
				<span class="comment"><a href="">2 comments</a></span>			
			</div>

			<h1>Adipiscing</h1>
			<div class="descr">Jun 11, 2006 by Laoreet</div>

			<p>Aliquam risus justo, mollis in, laoreet a, consectetuer nec, risus. Nunc blandit sodales lacus. Nam luctus semper mi. In eu diam. Phasellus rutrum elit vel nisi. Cras mauris nulla, egestas quis, cursus at, venenatis ac, ante. Fusce accumsan enim et arcu. Duis sagittis libero at lacus. Suspendisse lacinia nulla eget urna.</p>

			<ul>
				<li>Tristique</li>
				<li>Aenean</li>
				<li>Pretium</li>
			</ul>

			<p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Nullam posuere tristique tortor.</p>
			
			<ol>
				<li>Nullam</li>
				<li>Porttitor</li>
				<li>Elementum</li>
			</ol>

			<p>Fusce eleifend, dui ut posuere auctor, justo elit posuere sapien, at blandit enim quam fringilla mi.</p>

			<div class="post_info">
				<span class="comment"><a href="">6 comments</a></span>
			</div>

			<h1>Interdum</h1>
			<div class="descr">May 24, 2006 by Lectus</div>

			<p>Praesent nisi sem, bibendum in, ultrices sit amet, euismod sit amet, dui. Donec varius tincidunt nisi. Ut ut sapien. Integer porta. Fusce nibh. Curabitur pellentesque, lectus at <a href="index.html">volutpat interdum</a>, sem justo placerat elit, eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie. Nullam semper massa eget ligula. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Pellentesque a nibh quis nunc volutpat aliquam</p>

			<code>margin-bottom: 12px;
font: normal 1.1em "Lucida Sans Unicode",serif;
background: url(img/quote.gif) no-repeat;
padding-left: 28px;
color: #555;</code>

			<p>Eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie.</p>

			<div class="post_info">
				<span class="comment"><a href="">6 comments</a></span>
			</div>

		</div>

	</div>

	<div id="main_right">
		
		<div class="label">Categories</div>

		<ul class="block">
			<li><a href="index.html">Some category</a></li>
			<li><a href="index.html">Another one</a></li>
			<li><a href="index.html">Third category</a></li>
			<li><a href="index.html">Fourth and last</a></li>
		</ul>

		<div class="label">Recent Posts</div>

			
			<ul class="block">

				<li><a href="http://templates.arcsin.se/wp-demo/2007/05/12/decayed/"rel="bookmark" title="Permanent Link: Decayed">Decayed</a></li><li><a href="http://templates.arcsin.se/wp-demo/2007/03/10/dirtylicious/"rel="bookmark" title="Permanent Link: Dirtylicious">Dirtylicious</a></li><li><a href="http://templates.arcsin.se/wp-demo/2007/02/20/natural-essence/"rel="bookmark" title="Permanent Link: Natural Essence">Natural Essence</a></li><li><a href="http://templates.arcsin.se/wp-demo/2007/02/18/beautiful-day-20/"rel="bookmark" title="Permanent Link: Beautiful Day 2.0">Beautiful Day 2.0</a></li><li><a href="http://templates.arcsin.se/wp-demo/2007/01/20/pink-sunset/"rel="bookmark" title="Permanent Link: Pink Sunset">Pink Sunset</a></li>
			</ul>

			<div class="label">Archives</div>

			<ul class="block">
					<li><a href='http://templates.arcsin.se/wp-demo/2007/05/' title='May 2007'>May 2007</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/03/' title='March 2007'>March 2007</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/02/' title='February 2007'>February 2007</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2007/01/' title='January 2007'>January 2007</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/12/' title='December 2006'>December 2006</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/11/' title='November 2006'>November 2006</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/10/' title='October 2006'>October 2006</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/09/' title='September 2006'>September 2006</a></li>
					<li><a href='http://templates.arcsin.se/wp-demo/2006/08/' title='August 2006'>August 2006</a></li>
			</ul>

			<div class="label">Blogroll</div>

			<ul class="block">
				<li><a href="http://templates.arcsin.se/category/blogger-templates/">Blogger Templates</a></li>
				<li><a href="http://templates.arcsin.se/professional-templates/">Professional Templates</a></li>
				<li><a href="http://templates.arcsin.se/category/website-templates/">Website Templates</a></li>
				<li><a href="http://templates.arcsin.se/category/wordpress-themes/">Wordpress Themes</a></li>
			</ul>

			<div class="label">Search</div>

			<div style="padding: 10px; font-size: 0.8em">

				<form method="get" id="searchform" action="/wp-demo/index.php">
				<div>

					<input type="text" value="" name="s" id="s" size="17" /> <input type="submit" id="sidebarsubmit" value="Search" style="font-size: 10px;" />
				
				</div>
				</form>

			</div>		

	</div>

	<div id="footer">

		<div class="left">&copy; 2007 <a href="index.html">Website</a></div>

		<div class="right"><a href="http://templates.arcsin.se">Website template</a> by <a href="http://arcsin.se">Arcsin</a></div>

		<div class="clearer"></div>

	</div>

</div>

</body>

</html>