<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<title>Amadeus | A Number of Things And People</title>
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link rel="stylesheet" type="text/css" media="screen" href="master.css" />
</head>

<body>
	
	<div id="navigation">
		<ul>
			<li><a href="#">Home</a></li>
			<li class="active"><a href="#">Archives</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	
	<div id="header">
		<h1><a href="#">Amadeus</a></h1>	
		<h2>A Number of people. Royalty, nobilities, stage plays, pseudonyms, take your pick.</h2>
	</div>
	
	<div id="wrapper">
	
		<div id="content">
		
			<div class="post">
			
				<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
				
				<p>Amadeus William Grabau was an German-American paleontologist and geologist who was born on January 9, 
				1870 in Cedarburgh, Wisconsin in the United States and died on March 20, 1946 in Peking, China. He was 
				employed as faculty at MIT and Rensselaer Polytechnic Institute. In 1901 he became a professor at Columbia 
				University in New York and he later become professor at Peking National University in 1919. As part of his 
				life's work, he conducted a geologic survey of China, and is now known as the father of Chinese geology.</p>
				
				<p>He was also a prolific author, publishing at least 10 books in the first half of the 20th century. Grabau 
				developed various theories during his lifetime, among them the theory of rhythms concerning the growth of the 
				earth's crust and a theory concerning mountain building and creation. The Dorsum Grabau, a wrinkle-ridge found 
				on the moon is named after him.</p>
				
				<p>According to <cite title="Wikipedia">Wikipedia</cite></p>
				
				<p class="post-footer">
					<span class="date">April 26, 2007</span> | 
					<span class="cats"><a href="#">Amadeus</a>, <a href="#">Royalty</a></span> | 
					<a href="#" class="permalink">Permalink</a>
				</p>
			
			</div>
			
			<div class="post">
			
				<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
				
				<p>Amadeus William Grabau was an German-American paleontologist and geologist who was born on January 9, 
				1870 in Cedarburgh, Wisconsin in the United States and died on March 20, 1946 in Peking, China. He was 
				employed as faculty at MIT and Rensselaer Polytechnic Institute. In 1901 he became a professor at Columbia 
				University in New York and he later become professor at Peking National University in 1919. As part of his 
				life's work, he conducted a geologic survey of China, and is now known as the father of Chinese geology.</p>
				
				<p>He was also a prolific author, publishing at least 10 books in the first half of the 20th century. Grabau 
				developed various theories during his lifetime, among them the theory of rhythms concerning the growth of the 
				earth's crust and a theory concerning mountain building and creation. The Dorsum Grabau, a wrinkle-ridge found 
				on the moon is named after him.</p>
				
				<p>According to <cite title="Wikipedia">Wikipedia</cite></p>
				
				<p class="post-footer">
					<span class="date">April 26, 2007</span> | 
					<span class="cats"><a href="#">Amadeus</a>, <a href="#">Royalty</a></span> | 
					<a href="#" class="permalink">Permalink</a>
				</p>
			
			</div>
			
			<div class="post">
			
				<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
				
				<p>Amadeus William Grabau was an German-American paleontologist and geologist who was born on January 9, 
				1870 in Cedarburgh, Wisconsin in the United States and died on March 20, 1946 in Peking, China. He was 
				employed as faculty at MIT and Rensselaer Polytechnic Institute. In 1901 he became a professor at Columbia 
				University in New York and he later become professor at Peking National University in 1919. As part of his 
				life's work, he conducted a geologic survey of China, and is now known as the father of Chinese geology.</p>
				
				<p>He was also a prolific author, publishing at least 10 books in the first half of the 20th century. Grabau 
				developed various theories during his lifetime, among them the theory of rhythms concerning the growth of the 
				earth's crust and a theory concerning mountain building and creation. The Dorsum Grabau, a wrinkle-ridge found 
				on the moon is named after him.</p>
				
				<p>According to <cite title="Wikipedia">Wikipedia</cite></p>
				
				<p class="post-footer">
					<span class="date">April 26, 2007</span> | 
					<span class="cats"><a href="#">Amadeus</a>, <a href="#">Royalty</a></span> | 
					<a href="#" class="permalink">Permalink</a>
				</p>
			
			</div>
			
			<div class="post">
			
				<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
				
				<p>Amadeus William Grabau was an German-American paleontologist and geologist who was born on January 9, 
				1870 in Cedarburgh, Wisconsin in the United States and died on March 20, 1946 in Peking, China. He was 
				employed as faculty at MIT and Rensselaer Polytechnic Institute. In 1901 he became a professor at Columbia 
				University in New York and he later become professor at Peking National University in 1919. As part of his 
				life's work, he conducted a geologic survey of China, and is now known as the father of Chinese geology.</p>
				
				<p>He was also a prolific author, publishing at least 10 books in the first half of the 20th century. Grabau 
				developed various theories during his lifetime, among them the theory of rhythms concerning the growth of the 
				earth's crust and a theory concerning mountain building and creation. The Dorsum Grabau, a wrinkle-ridge found 
				on the moon is named after him.</p>
				
				<p>According to <cite title="Wikipedia">Wikipedia</cite></p>
				
				<p class="post-footer">
					<span class="date">April 26, 2007</span> | 
					<span class="cats"><a href="#">Amadeus</a>, <a href="#">Royalty</a></span> | 
					<a href="#" class="permalink">Permalink</a>
				</p>
			
			</div>
			
			<div class="post last">
			
				<h2><a href="#">Lorem Ipsum Dolor Sit Amet</a></h2>
				
				<p>Amadeus William Grabau was an German-American paleontologist and geologist who was born on January 9, 
				1870 in Cedarburgh, Wisconsin in the United States and died on March 20, 1946 in Peking, China. He was 
				employed as faculty at MIT and Rensselaer Polytechnic Institute. In 1901 he became a professor at Columbia 
				University in New York and he later become professor at Peking National University in 1919. As part of his 
				life's work, he conducted a geologic survey of China, and is now known as the father of Chinese geology.</p>
				
				<p>He was also a prolific author, publishing at least 10 books in the first half of the 20th century. Grabau 
				developed various theories during his lifetime, among them the theory of rhythms concerning the growth of the 
				earth's crust and a theory concerning mountain building and creation. The Dorsum Grabau, a wrinkle-ridge found 
				on the moon is named after him.</p>
				
				<p>According to <cite title="Wikipedia">Wikipedia</cite></p>
				
				<p class="post-footer">
					<span class="date">April 26, 2007</span> | 
					<span class="cats"><a href="#">Amadeus</a>, <a href="#">Royalty</a></span> | 
					<a href="#" class="permalink">Permalink</a>
				</p>
			
			</div>
		
		</div>
		
		<div id="sidebar">
		
			<div class="block" id="cat_archives">
			
				<h2>Categories</h2>
				
				<ul>
					<li><a href="#">Amadeus</a></li>
					<li><a href="#">Wikipedia</a></li>
					<li><a href="#">References</a></li>
					<li><a href="#">Sardinia</a></li>
					<li><a href="#">Savoy</a></li>
					<li><a href="#">Dukes</a></li>
					<li><a href="#">Pages</a></li>
					<li><a href="#">Spain</a></li>
					<li><a href="#">Titles</a></li>
					<li><a href="#">Mozart</a></li>
					<li><a href="#">Plays</a></li>
				</ul>
			
			</div>
			
			<div class="block" id="month_archives">
			
				<h2>Months</h2>
				
				<ul>
					<li><a href="#">April 2007</a></li>
					<li><a href="#">March 2007</a></li>
					<li><a href="#">February 2007</a></li>
					<li><a href="#">January 2007</a></li>
					<li><a href="#">December 2006</a></li>
					<li><a href="#">November 2006</a></li>
					<li><a href="#">October 2006</a></li>
					<li><a href="#">September 2006</a></li>
					<li><a href="#">August 2006</a></li>
				</ul>
			
			</div>
			
			<div class="block" id="about_me">
			
				<h2>About Me</h2>
				
				<p>Victor Amadeus II undertook sweeping administrative reforms within Savoy-Piedmont. In 1696 
				he established a system of intendents, based on the French model, responsible for collecting 
				taxes and law enforcement. In 1697 he began a land survey which was largely completed by 1711, 
				the Perequazione, to examine the land holdings and privileges of the Church and nobility. In 
				1717 he reformed the secretariat system in Turin establishing individual secretaries for war, 
				internal affairs and foreign affairs. </p>
				
				<p>From the 1670s he also had a new administrative zone built in Turin, around the ducal palace. 
				This zone included a military academy, the ministry of war, a mint, and a customs house. This 
				work was still ongoing upon his death.</p>
				
				<p>Still getting all information from <cite title="Victor Amadeus II of Sardine">Wikipedia</cite></p>
			
			</div>
		
		</div>
	
	</div>
	
	<div id="footer">
		<p>Design by <a href="http://www.nikhedonia.com/">Sadhana Ganapathiraju</a> | 
		<a href="http://validator.w3.org/check/referer">XHTML</a> | 
		<a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2">CSS</a> | 
		<a href="http://creativecommons.org/licenses/by-sa/2.5/">Creative Commons</a></p>
	</div>
	
</body>
</html>