<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title>Free Alpha Studio Web Templates</title>
    <meta name="keywords" content="" />
    <meta name="description" content="" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="language" content="en" />
    <link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>

<body>
    <div id="main">		
        <div id="top">
            <div id="logo">
                <h1>Your Name</h1>
                <h2>Your website slogan goes here</h2>
            </div>
            <div id="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About Us</a></li>
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Gallery</a></li>
                    <li><a href="#">Contact Us</a></li>
                </ul>
            </div>
        </div>
        <div id="middle">
            <div id="left">
                <div id="search">
                    <form id="formSearch" method="get" action="" accept-charset="utf-8">
                        <p>Search this site:</p>
                        <div id="searchInpTxt">
                        <input type="text" class="text" /></div>                    
                        <div id="searchInpSub">
                        <input type="submit" class="submit" value="" /></div>
                    </form>
                </div>
                <div id="left_mid">
                    <h3>Latest news</h3>
                    <h4>May 15, 2008</h4>
                    <p>Maecenas venenatis rhoncus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos.
                    Proin lobortis nisi nec nisi. Morbi mattis fermentum lectus. Nam vestibulum arcu vulputate ante. Maecenas rutrum dui nec quam. Donec rutrum velit sit amet magna... <a href="#">read&nbsp;more</a></p>
                    <h4>May 12, 2008</h4>
                    <p>Mauris tincidunt, elit sit amet tincidunt malesuada, quam dui consectetuer elit, vel iaculis lorem odio ultricies urna. In ultrices, metus et tincidunt posuere, nunc lectus laoreet massa, aliquam volutpat libero dolor aliquam velit. Cras tellus odio, tincidunt at, posuere mattis, tincidunt eu, enim. Suspendisse in dui... <a href="#">read&nbsp;more</a></p>
                    <h4>May 08, 2008</h4>
                    <p>Pellentesque blandit, arcu et tincidunt tempus, arcu lorem volutpat justo, eu aliquet magna lorem sed nulla. In nec erat. Phasellus iaculis, risus sit amet tempus ultricies, metus nisi tincidunt lectus, vel vehicula justo dui non magna... <a href="#">read&nbsp;more</a></p>
                </div>
                <div id="left_bot">
                    <h3>Useful links</h3>
                    <ul>
                        <li>&raquo; <a href="#">Arcu quis erat</a></li>
                        <li>&raquo; <a href="#">Praesent mollis</a></li>
                        <li>&raquo; <a href="#">Praesent interdum</a></li>
                        <li>&raquo; <a href="#">Suspendisse potenti</a></li>
                        <li>&raquo; <a href="#">Morbi bibendum</a></li>
                        <li>&raquo; <a href="#">Nulla facilisi</a></li>
                    </ul>
                </div>
            </div>		
            <div id="right">
                <div id="right_top">
                    <h3 class="firsth3">Terms of use</h3>
                    <p>The template is released under the <a href="http://creativecommons.org/licenses/by/2.5/" target="_blank">Creative Commons Attribution 2.5</a> license. 
                    This means it can be used for both private and commercial purposes, edited freely or redistributed as long as you keep the link back to Alpha Studio. 
                    However, it can be shortened to "Designed by Alpha Studio" and moved to any other place.</p>
                    <p>Do not use the template in connection with sex, violence, discrimination
                    and for other immoral or illegal purposes.</p>
                    <h3>Info</h3>
                    <p>The image comes from <a href="http://www.pdphoto.org/" target="_blank">PD Photo.org</a>.</p>
                </div>
                <div id="right_mid">
                    <div id="right_mid_1"><img src="images/photo1.jpg" width="162" height="102" alt="" />
                        <h4><a href="#">Sed luctus</a></h4>
                        <p>Sed luctus, nunc eu aliquam egestas, neque ante pulvinar nibh, non consequat pede odio vestibulum augue.</p>
                    </div>
                    <div id="right_mid_2"><img src="images/photo2.jpg" width="162" height="102" alt="" />
                        <h4><a href="#">Cras tellus odio</a></h4>
                        <p>Cras tellus odio, tincidunt at, posuere mattis, tincidunt eu, enim. Suspendisse in dui. Nullam tincidunt laoreet urna.</p>
                    </div>                    
                    <div id="right_mid_3"><img src="images/photo3.jpg" width="162" height="102" alt="" />
                        <h4><a href="#">Quisque convallis</a></h4>
                        <p>Quisque convallis nisl ac augue. Nulla aliquam dui. Etiam convallis enim tincidunt erat dapibus tincidunt.</p>
                    </div>
                    <div id="right_mid_4">
                        &nbsp;
                    </div>  				
                </div>
                <div id="right_bot">
                    <h3 class="firsth3">Lorem ipsum</h3>
                    <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla hendrerit lacus at metus.
                    Maecenas venenatis rhoncus nulla. Class aptent taciti sociosqu ad litora torquent per conubia nostra,
                    per inceptos hymenaeos. Proin lobortis nisi nec nisi. Morbi mattis fermentum lectus.
                    Nam vestibulum arcu vulputate ante. Maecenas rutrum dui nec quam.</p>
                    <h3>Cum sociis natoque</h3>
                    <p>Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    Aenean rutrum tortor a purus. Quisque convallis nisl ac augue. Nulla aliquam dui.
                    Etiam convallis enim tincidunt erat dapibus tincidunt.</p>
                    <p>Pellentesque blandit, arcu et tincidunt tempus, arcu lorem volutpat justo, eu aliquet magna lorem sed nulla. In nec erat. Phasellus iaculis, risus sit amet tempus ultricies, metus nisi tincidunt lectus, vel vehicula justo dui non magna.</p>
                </div>                
            </div>
        </div>
        <div id="bottom">
            <p>Copyright &copy; Your Name, Designed by <a href="http://www.alphastudio.pl" target="_blank">Alpha Studio - darmowe szablony</a></p>
        </div>        
    </div>
</body>
</html>