<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd"><html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />

<link href="tm07f.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div class="container">
<div class="content"><h1>Gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. <a href="#" target="_top">Phasellus porta</a>. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi. <img src="images/p2.jpg" alt="p2" width="200" height="150" style="float:left; margin: 10px 10px 10px 0; border:solid #FFFFFF;" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit.  <img src="images/p4.jpg" alt="p4" width="200" height="132" style="float:right; margin: 10px 0px 10px 10px; border:solid #FFFFFF;" /> Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi.
</p>
<p>&nbsp;</p>
</div>
<table class="border" width="900" border="0" align="center" cellpadding="0" cellspacing="0">
	<tr>
		<td colspan="2">
			<a href="index.html" target="_top">
				<img src="images/header.jpg" width="900" height="100" border="0" alt="site name" /></a></td>
	</tr>
	<tr>
		<td><a href="index.html" target="_top"><img src="images/home.jpg" width="239" height="44" border="0" alt="home" /></a></td>
		<td rowspan="7">
			<img src="images/body.jpg" width="661" height="372" alt="" /></td>
	</tr>
	<tr>
		<td>
			<a href="about.html" target="_top">
				<img src="images/aboutus.jpg" width="239" height="36" border="0" alt="abou us" /></a></td>
	</tr>
	<tr>
		<td>
			<a href="blog.html" target="_top">
				<img src="images/blog.jpg" width="239" height="35" border="0" alt="blog" /></a></td>
	</tr>
	<tr>
		<td>
			<a href="gallery.html" target="_top">
				<img src="images/gallery.jpg" width="239" height="39" border="0" alt="gallery" /></a></td>
	</tr>
	<tr>
		<td>
			<a href="contacts.html" target="_top">
				<img src="images/contacts.jpg" width="239" height="42" border="0" alt="contacts" /></a></td>
	</tr>
	<tr>
		<td class="search"><div class="searchDiv"><form method="post" action="">
		  	      <input type="text" name="textfield" />
				  <input type="button" align="right" alt="Search" class="button" />
	    </form></div></td>
	</tr>
	<tr>
		<td>
			<img src="images/left.jpg" width="239" height="123" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/bottom.jpg" width="900" height="175" alt="" /></td>
	</tr>
	<tr>
		<td colspan="2">
			<img src="images/footer.jpg" width="900" height="54" alt="" /></td>
	</tr>
</table>
<div class="bottom">Copyright &copy; 200X Your Company Name</div>
<div class="designed">Designed by <a href="http://www.ossoba.com" target="_blank">Ossoba Studio</a></div>
</div>
</body>
</html>