<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr">

<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
<meta name="description" content=""/>
<meta name="keywords" content="" />
<meta name="author" content="" />

<link rel="stylesheet" type="text/css" href="reset.css" media="screen" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
<!--[if lte IE 7]><link rel="stylesheet" type="text/css" href="ie_fixes.css" media="screen" /><![endif]-->

<title>Website Template: Grunge Superstar (demo)</title>
</head>

<body>

<div id="paper_left">
<div id="paper_right">
<div id="layout_wrapper">
<div id="layout_container">
<div id="layout_content">

	<div id="site_title">
		<h1><a href="#">Grunge Superstar</a></h1>
		<h2>A dirty, monochrome, single-column website template.</h2>
	</div>

	<div id="header_image"></div>

	<div class="navigation">

		<ul>
			<li><a href="index.html">Posts page</a></li>
			<li><a href="comments.html">Post comments</a></li>
			<li class="current_page_item"><a href="page.html">Sample test page</a></li>
			<li><a href="archives.html">Archives</a></li>
			<li><a href="empty.html">Empty page</a></li>			
		</ul>

		<div class="clearer">&nbsp;</div>

	</div>

<!-- Note: Uncomment this section to display subnavigation

	<div class="clearer">&nbsp;</div>

	<div class="navigation" id="subnav">

		<ul>
			<li><a href="#">Subnav item 1</a></li>
			<li><a href="#">Subnav item 2</a></li>
			<li><a href="#">Subnav item 3</a></li>
		</ul>

		<div class="clearer">&nbsp;</div>

	</div>
-->

	<div id="main">
		
		<div class="post">

			<div class="post_top">
				<div class="post_title"><h2>Sample test page</h2></div>
			</div>

			<div class="post_body">

				<h2>Some text</h2>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse suscipit arcu vitae nunc. Etiam a nunc. Vivamus varius <a href="#">nunc nisl massa</a>, gravida in, tempor id, aliquet in, sapien. Aliquam vel magna.</p>

				<p>Vestibulum interdum vehicula nunc. Donec commodo lacinia est. Duis in augue. Ut accumsan. Aenean ac leo. Suspendisse eleifend interdum leo.</p>

				<h2>Subtitle and lists</h2>

				<p>Donec commodo lacinia est. Duis in augue ut accumsan. Aenean ac leo suspendisse eleifend interdum leo.</p>
				
				<ul>
					<li>Consectetuer</li>
					<li>Adipiscing</li>
					<li>Suspendisse</li>
				</ul>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse suscipit arcu vitae nunc. Etiam a nunc. Vivamus varius.</p>

				<ol>
					<li>Consectetuer</li>
					<li>Adipiscing</li>
					<li>Suspendisse</li>
				</ol>

				<h2>Image test</h2>

				<p><img src="img/sample-thumb.jpg" alt="Sample thumbnail" height="90" width="90" class="bordered" /></p>
				
				<p>Vivamus varius nunc nisl massa <a href="#">gravida in tempor</a> id, aliquet in, sapien. Aliquam vel magna. Vestibulum vitae tortor sed diam dictum elementum. Duis at lectus. Suspendisse quis libero sed orci porttitor imperdiet.</p>

				<h2>Blockquote</h2>

				<p>Felis tempus vestibulum proin in ipsum.</p>

				<blockquote><p>Donec condimentum semper ligula. Phasellus massa nisi, lobortis eget, hendrerit ac, placerat id, pede. In viverra. Vestibulum lacinia justo et magna. Sed eget leo. Donec sit amet erat vel leo pharetra vestibulum. Nullam at magna non</p></blockquote>

				<p>Donec ornare vehicula ipsum. Cras eu velit. Aenean facilisis turpis nec eros. Donec sed nunc id dolor auctor volutpat. Morbi blandit quam eu massa.</p>

				<h2>Code</h2>

				<code>
					margin-bottom: 12px;<br/>
					font: normal 1.1em "Lucida Sans Unicode",serif;<br/>
					background: url(img/quote.gif) no-repeat;<br/>
					padding-left: 28px;<br/>
					color: #555;<br/>
				</code>

			</div>

		</div>

	</div>

	<div id="bottom">

		<div class="left col3">
			
			<h2>Tincidunt</h2>
			<ul>
				<li><a href="index.html">consequat molestie</a></li>
				<li><a href="index.html">sem justo</a></li>
				<li><a href="index.html">semper</a></li>
				<li><a href="index.html">magna sed purus</a></li>
				<li><a href="index.html">tincidunt</a></li>
			</ul>

		</div>

		<div class="left col3">

			<h2>Sed purus</h2>

			<ul>
				<li><a href="index.html">sem justo</a></li>
				<li><a href="index.html">magna sed purus</a></li>
				<li><a href="index.html">tincidunt</a></li>
				<li><a href="index.html">semper</a></li>
				<li><a href="index.html">consequat molestie</a></li>
			</ul>

		</div>

		<div class="right col3last">

			<h2>Praesent</h2>
			
			<ul>
				<li><a href="index.html">semper</a></li>
				<li><a href="index.html">consequat molestie</a></li>				
				<li><a href="index.html">magna sed purus</a></li>
				<li><a href="index.html">sem justo</a></li>
				<li><a href="index.html">tincidunt</a></li>
			</ul>

		</div>

		<div class="clearer">&nbsp;</div>
		
	</div>

	<div id="footer">

		<div class="left">&copy; 2008 Website name</div>

		<div class="right">Design by <a href="http://templates.arcsin.se/">Arcsin Web Templates</a></div>

		<div class="clearer">&nbsp;</div>

	</div>

</div>
</div>
</div>
</div>
</div>

</body>
</html>