<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Pure n' Simple by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="logo" class="center-box">
	<h1><a href="#">Pure n' Simple</a></h1>
	<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
</div>
<div id="content">
	<div id="sidebar">
		<div id="menu" class="left-box">
			<h2 class="title">Menu</h2>
			<div class="content">
				<ul>
					<li class="active"><a href="#" title="">Homepage</a></li>
					<li><a href="#" title="">About Us</a></li>
					<li><a href="#" title="">Products</a></li>
					<li><a href="#" title="">Services</a></li>
					<li><a href="#" title="">Clients</a></li>
					<li><a href="#" title="">Support</a></li>
				</ul>
			</div>
		</div>
		<div id="updates" class="left-box">
			<h2 class="title">Recent Updates</h2>
			<div class="content">
				<ul>
					<li>
						<h3>March 5, 2007</h3>
						<p>In posuere eleifend odio quisque semper augue mattis wisi maecenas ligula. <a href="#">More&#8230;</a></p>
					</li>
					<li>
						<h3>March 3, 2007</h3>
						<p>Quisque dictum integer nisl risus, sagittis convallis, rutrum id, congue, and nibh. <a href="#">More&#8230;</a></p>
					</li>
					<li>
						<h3>February 28, 2007</h3>
						<p>Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue rutrum. <a href="#">More&#8230;</a></p>
					</li>
					<li>
						<h3>February 25, 2007</h3>
						<p>Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam nequea. <a href="#">More&#8230;</a></p>
					</li>
					<li>
						<h3>February 20, 2007</h3>
						<p>Vivamus fermentum nibh in augue. Praesent a lacus at urna congue rutrum. <a href="#">More&#8230;</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div id="main">
		<div id="welcome" class="right-box">
			<h2 class="title">Welcome to Pure n' Simple!</h2>
			<div class="content">
				<p><strong>Pure n' Simple</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em>Enjoy :)</em></p>
			</div>
		</div>
		<div id="example" class="right-box">
			<h2 class="title">Examples of Common Tags</h2>
			<div class="content">
				<p>This is an example of a paragraph followed by a blockquote. In posuere  eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula.  Pellentesque viverra vulputate enim. Aliquam erat volutpat lorem ipsum  dolorem.</p>
				<blockquote>
					<p>&ldquo;Pellentesque tristique ante ut  risus. Quisque dictum. Integer nisl risus, sagittis convallis, rutrum  id, elementum congue, nibh. Suspendisse dictum porta lectus. Donec  placerat odio.&rdquo;</p>
				</blockquote>
				<h3>Heading Level Three</h3>
				<p>This is another example of a paragraph followed by an unordered list. In posuere  eleifend odio. Quisque semper augue mattis wisi. Maecenas ligula.  Pellentesque viverra vulputate enim. Aliquam erat volutpat lorem ipsum  dolorem.</p>
				<p>An ordered list example:</p>
				<ol>
					<li>List item number one</li>
					<li>List item number two</li>
					<li>List item number three</li>
					<li>List item number four</li>
				</ol>
			</div>
		</div>
	</div>
</div>
<div id="footer" class="center-box">
	<p id="legal">Copyright &copy; 2007 Pure n' Simple. All Rights Reserved. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	<p id="links"><a href="#">Privacy Policy</a> | <a href="#">Terms of Use</a></p>
</div>
</body>
</html>
