<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<title>Bucolic | Pastoral and Rural</title>	
	<meta http-equiv="content-language" content="en-us" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<meta name="author" content="Sadhana Ganapathiraju" />
	<meta name="copyright" content="Copyright 2006 Sadhana Ganapathiraju" />
	<meta name="keywords" content="bucolic, xhtml, css, web standards, free templates, blog, personal site" />
	<meta name="description" content="Bucolic is a free template that is beautiful and standards-compliant." />
	<link rel="stylesheet" type="text/css" media="screen,projection" href="master.css" />
	<link rel="start" title="SimplyGold" href="#" />
	<script type="text/javascript" src="caption.js"></script>
</head>

<body>
	
	<div id="header">
		<h1><a href="#" title="Go Home" rel="bookmark">Bucolic</a></h1>
	</div>
	
	<div id="navigation">
		<ul>
			<li class="active"><a href="#" title="SimplyGold">Home</a></li>
			<li><a href="#notebook/">Blog</a></li>
			<li><a href="#showcase/">Our Portfolio</a></li>
			<li><a href="#about/">About Us</a></li>
			<li><a href="#contact/">Contact Us</a></li>
		</ul>
	</div>
	
	<div id="about">
		<dl>
			<dt><strong>bu-col-ic</strong> [<em>byoo-<strong>kol</strong>-ik</em>]</dt>
			<dd>1. of or pertaining to shepherds; pastoral.</dd>
			<dd>2. of, pertaining to, or suggesting an idyllic rural life.</dd>
			<dd>3. a pastoral poem.</dd>
			<dd><a class="offsite" href="http://dictionary.reference.com/search?q=bucolic&amp;x=0&amp;y=0"> &mdash; <cite>dictionary.com</cite></a></dd>
		</dl>
	</div>
	
	<div id="content">
	
		<div class="drop-shadow">
			<a href="#01"><img src="images/china_village.png" width="200" height="150" alt="Chinese village alley [Credit: archartist at stock.xchng]" class="captionated" /></a>
		</div>	
		
		<div class="drop-shadow">
			<a href="#02"><img src="images/pump_it.png" width="200" height="150" alt="A pump in a village [Credit: stock.xchng]" class="captionated" /></a>
		</div>	
		
		<div class="drop-shadow">
			<a href="#02"><img src="images/rusty_lock.png" width="200" height="150" alt="A rusty lock [Credit: stock.xchng]" class="captionated" /></a>
		</div>	
		
		<hr />
		
		<div class="drop-shadow">
			<a href="#02"><img src="images/fresh_eggs.png" width="200" height="150" alt="A pump in a village [Credit: stock.xchng]" class="captionated" /></a>
		</div>	
		
		<div class="drop-shadow">
			<a href="#02"><img src="images/dry_grass.png" width="200" height="150" alt="A pump in a village [Credit: stock.xchng]" class="captionated" /></a>
		</div>	
		
		<div class="drop-shadow">
			<a href="#02"><img src="images/tori.png" width="200" height="150" alt="A pump in a village [Credit: stock.xchng]" class="captionated" /></a>
		</div>	
		
		<hr />
	
	</div>
	
	<div id="footer">
	
		<p>Design by <a href="http://www.nikhedonia.com/" title="SimplyGold">Sadhana Ganapathiraju</a> | Released 
		under <a href="http://creativecommons.org/licenses/by-nc-sa/2.5/" title="Creative Commons Attribution-NonCommercial-ShareAlike 2.5 License">
		Creative Commons</a> license.</p>
		
		<p>Try more <a href="#showcase/free_templates/" rel="bookmark">free templates</a> or 
		<a href="#showcase/commercial_templates/" rel="bookmark">commercial templates</a></p>
		
		<p>
			<a href="#31">Legal</a> | 
			<a href="#32">Terms of Service</a> | 
			<a href="#33">Privacy Statement</a> | 
			<a href="http://validator.w3.org/check/referer" title="Valid XHTML 1.0 Strict">Xhtml</a> | 
			<a href="http://jigsaw.w3.org/css-validator/check/referer" title="Valid CSS 2.0 Strict">Css</a>
		</p>
			
	</div>
	
</body>
</html>