<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<!--
/*
//////////////////////////////////////////
// feng shui
// author: j. newing
// website: http://binslashbash.org
// copyright joseph newing 2006. all rights reserved.
// email: webmaster@binslashbash.org
//
// about: binslashbash.org is a small web design and development company located on the north shores of Ontario, Canada.
//        We build simple, elegant yet highly functional websites, design media and graphics for print or for digital 
//        use, and custom tailor all of our creations to fit the needs of our clients.
//
// this template is free for all however your
// MUST keep this comment intact...
//////////////////////////////////////////
*/
-->
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
    <meta http-equiv="content-language" content="en" />                       
    <meta name="author" content="Joseph Newing" />
    <meta name="description" content="feng shui template" />
    <meta name="keywords" content="web, design, media, css, portfolio, webdesigner, designer, atrist, graphic, gaphics, template, free" />
    <meta name="creation-date" content="01/10/2007" />
    <meta name="revisit-after" content="5 days" />

    <title>..:: feng shui ::.. v1</title>

    <link rel="stylesheet" type="text/css" href="style.css" />
</head>
<body><div id="container">
    


<div id="divider"><img src="images/logo.gif" alt="binslashbash.org" /></div>

<div id="rightcol">
    <h1>(home)</h1>
    <div>
        <h2>my first free template</h2>
        <div class="content">
            <p>Welcome to my fist free template. I have to say thanks to Pat over at fullahead.org who inspired me to do this template, he is an awesome designer you should check his stuff out if you have not yet</p>
            <p>Other than that I really have no idea what made me decided to do this template other than the fact that I have been in the web industry for quite some time and it felt like I needed to give something back, so here it is.</p>
            <p>I call it feng shui, why, I have no idea I really just like to say "fung shui" and think more people should use it in every day sentences. Also on that not be sure to keep up to date on my work at <a href="http://binslashbash.org/about.phtml">binslashbash.org</a> man that was a shameless plug if i've ever seen one.</p>
            
            <div class="foot">(posted: J. Newing on January 09, 2007 @ 11:12am)</div>
        </div>
        
        <h2>free templates by the bushel</h2>
        <div class="content">
            <p>Volutpat at varius sed sollicitudin et, arcu. Vivamus viverra. Nullam turpis. Vestibulum sed etiam. Lorem ipsum sit amet dolore. Nulla facilisi. Sed tortor. Aenean felis. Quisque eros. Cras lobortis commodo metus. Vestibulum vel purus. In eget odio in sapien adipiscing blandit. Quisque augue tortor, facilisis sit amet, aliquam, suscipit vitae, cursus sed, arcu lorem ipsum dolor sit amet.</p>
            <p>Fermentum at, varius pretium, elit. Mauris egestas scelerisque nunc. Mauris non ligula quis wisi laoreet malesuada. In commodo. Maecenas lobortis cursus dolor.</p>
            <div class="foot">(posted: J. Newing on January 10, 2007 @ 2:45pm)</div>
        </div>
    </div>
</div>

<div id="leftcol">
    <div id="nav">
        <ul>
             <li><a href="index.html"><span class="nav_head">home</span></a></li>
             <li><a href="about.html"><span class="nav_head">about</span></a></li>
             <li><a href="weblog.html"><span class="nav_head">weblog</span></a></li>
             <li><a href="contact.html"><span class="nav_head">contact</span></a></li>
        </ul>
    </div>
    
    <div id="copyright">
        &copy; My Website. All rights reserved. Design by <a href="http://binslashbash.org/about.phtml">binslashbash.org</a>.    
    </div>
</div>
    
</div></body>
</html>
