<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>LightSpeed: Design by Enjay for TheWebHub.com</title>
<meta name="keywords" content="free css templates, xhtml, css, templates" />
<meta name="description" content="A two-column, dark-themed design suitable for personal websites and blogs use. Designed by Enjay for The Web Hub." />
<meta name="robots" content="all" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" />
</head>
<body>
<!-- begin wrap -->
<div id="wrap">
	<!-- begin header -->
	<div id="header">
		<h1><a href="#">LightSpeed</a></h1>
		<h2>Designed by <a href="http://aboutenjay.com/">Enjay</a> for <a href="http://thewebhub.com/">The Web Hub</a></h2>
		<ul>
			<li><a href="#">Home</a></li>
			<li><a href="#">Blog</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Videos</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div>
	<!-- end header -->
	<!-- begin page -->
	<div id="page">
		<!-- begin content -->
		<div id="content">
			<div class="post">
				<h2 class="title"><a href="#">About This Free Web Template</a></h2>
				<div class="entry">
					<p class="byline"><i>Posted by <a href="http://aboutenjay.com/">Enjay</a> on Nov. 17th, 2008</i></p>
					<p><strong>LightSpeed</strong> is a free CSS web template coded with valid <strong><a href="http://validator.w3.org/check/referer">XHTML 1.0 Transitional</a></strong> and <strong><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A//www.thewebhub.com/preview/lightspeed/index.html&amp;profile=css21&amp;usermedium=all&amp;warning=1&amp;lang=en">CSS 2.1 standards</a></strong> that uses pure CSS and no tables for layout. This design is released under the <span class="legal"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a></span>, which basically says that:</p>
					<ul>
						<li>You <strong>CAN</strong> use, copy, distribute and transmit this template.</li>
						<li>You <strong>CAN</strong> modify this template however you want.</li>
					</ul>
					<p>In return, we only ask that you keep the attribution link in the footer intact or if you modify it, just add a link back to our site in any way you like.</p>
				</div>
				<div class="meta">
					<p class="tags"><b>Tags:</b> <a href="#">xhtml</a>, <a href="#">css</a>, <a href="#">free templates</a></p>
					<p class="links"><a href="http://www.thewebhub.com/2008/11/lightspeed/#respond" class="comments">99 Comments</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="http://www.thewebhub.com/2008/11/lightspeed/" rel="bookmark" title="Permanent link to LightSpeed Free CSS Template" class="permalink">Permalink</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="#" class="more">Continue Reading</a></p>
				</div>
			</div>
			<div class="post">
				<h2 class="title"><a href="#">Additional Credits</a></h2>
				<div class="entry">
					<p class="byline"><i>Posted by <a href="http://aboutenjay.com/">Enjay</a> on Nov. 17th, 2008</i></p>
					<p>Enjay and TheWebHub.com would like to thank the following:</p>
					<ul>
						<li>Mark James for his very useful 16x16 pixel <a href="http://www.famfamfam.com/archive/silk-icons-thats-your-lot/">Silk Icons</a>.</li>
					</ul>
				</div>
				<div class="meta">
					<p class="tags"><b>Tags:</b> <a href="#">xhtml</a>, <a href="#">css</a>, <a href="#">free templates</a></p>
					<p class="links"><a href="http://www.thewebhub.com/2008/11/lightspeed/#respond" class="comments">99 Comments</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="http://www.thewebhub.com/2008/11/lightspeed/" rel="bookmark" title="Permanent link to LightSpeed Free CSS Template" class="permalink">Permalink</a> &nbsp;&nbsp;&bull;&nbsp;&nbsp; <a href="#" class="more">Continue Reading</a></p>
				</div>
			</div>
		</div>
		<!-- end content -->
		<!-- begin sidebar -->
		<div id="sidebar">
			<ul>
				<li>
					<h2>A Link List</h2>
					<ul>
						<li><a href="#">Sed euismod lacus at magna</a></li>
						<li><a href="#">Donec at felis id eros convallis</a></li>
						<li><a href="#">Aliquam auctor aliquet leo</a></li>
						<li><a href="#">Maecenas facilisis orci a nisi</a></li>
						<li><a href="#">Duis auctor orci vitae enim</a></li>
						<li><a href="#">Etiam scelerisque mauris nec nulla</a></li>
						<li><a href="#">Mauris at nisl et erat volutpat</a></li>
						<li><a href="#">Maecenas bibendum elit quis est</a></li>
						<li><a href="#">Etiam laoreet ligula sed mi</a></li>
						<li><a href="#">Phasellus venenatis egestas lacus</a></li>
						<li><a href="#">Duis fermentum arcu quis urna</a></li>
						<li><a href="#">Aliquam auctor mi et sem</a></li>
						<li><a href="#">In mattis ligula vitae ligula</a></li>
						<li><a href="#">Fusce sodales dapibus est</a></li>
						<li><a href="#">Curabitur placerat viverra felis</a></li>
					</ul>
				</li>
				<li>
					<h2>A Padded Content</h2>
					<div class="pad">
						<p>&ldquo;Morbi volutpat vehicula justo sem non libero. Aliquam erat volutpat. Nullam quis nulla vel quam egestas accumsan. Nam porttitor pulvinar ante.&rdquo;</p>
						<p style="text-align: right;">&mdash; <cite><a href="http://www.lipsum.com/">Lipsum.com</a></cite></p>
					</div>
				</li>
			</ul>
		</div>
		<!-- end sidebar -->
	</div>
	<!-- end page -->
	<!-- begin footer -->
	<div id="footer">
		<!-- All we ask of you is to keep this credits intact. We hope you don't mind :) -->
		<p class="legal"><a href="http://www.thewebhub.com/2008/11/lightspeed/">LightSpeed Free CSS Template</a> by <a href="http://thewebhub.com/">TheWebHub.com</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a>.<br />
			<a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/"><img alt="Creative Commons License" src="http://i.creativecommons.org/l/by-sa/3.0/ph/88x31.png" /></a></p>
	</div>
	<!-- end footer -->
</div>
<!-- end wrap -->
</body>
</html>
