<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="style.css" media="screen" title="style (screen)" />
<title>Western Night Lights</title>
</head>
<body>
<div id="container">
	<div id="header">
		<h2>Western Night Lights</h2>
	</div>
	<div id="navigation">
		<ul>
			<li id="current"><a href="#"><span>Home</span></a></li>
			<li><a href="#"><span>Activities</span></a></li>
			<li><a href="#"><span>Visitor Information</span></a></li>
			<li><a href="#"><span>About US</span></a></li>
			<li><a href="#"><span>Contact US</span></a></li>
			<li><a href="#"><span>Daily News</span></a></li>

		</ul>
	</div>
	<div id="content">
		<h3>Lights of the West...</h3>
		<img src="img/lighthouse.gif" class="float-right" alt="lighthouse on the beach" />
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
		erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
		Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
		Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
		pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
		Quisque et neque vitae odio sagittis
		tincidunt.</p>
		<img src="img/moon.gif" alt="Full Moon" class="float-left"/>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
		erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
		Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
		Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
		pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
		Quisque et neque vitae odio sagittis
		tincidunt.</p>
		<hr />
		<div id="news">
			<p class="header">Latest News:</p>
			<p>
			Another template submitted to Open Web Design.
			I hope everyone likes it. Perhaps it could even become a popular design.
			</p>
			<p class="header">Links:</p>
			<p class="link"><a href="http://www.openwebdesign.org">OWD ROCKS</a></p>
			<p class="link"><a href="http://www.idavista.com">My Site</a></p>
			<p class="link"><a href="http://www.youtube.com/watch?v=zJ9qYhQgQmo">My Hunting Video</a></p>
			  <p class="link">
			    <a href="http://validator.w3.org/check?uri=referer"><img
			        src="http://www.w3.org/Icons/valid-xhtml10"
			        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
			  </p>

		</div>
		<p>This template is free to use for both commercial and personal websites provided you give credit where credit is due by leaving the footer information at the bottom.</p>
		<p class="mainText">If you feel particularly generous you can provide a link to one of my other websites. You can link to either <a href="http://www.findmytwinonline.com">www.findmytwinonline.com</a> or
		<a href="http://www.snappyad.com">www.snappyad.com</a>.</p>
		<p>All images on the website are on the public domain and were found at <a href="http://www.pdphoto.org">www.pdphoto.org</a> and <a href="http://www.copyrightfreephotos.com">www.CopyrightFreePhotos.com</a>.</p>
	</div>
	<div id="footer">
		Copyright your name, Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a>, Inc.
		<br />Download your free auto maintenance reminder at <a href="http://www.idavista.com/transroster">www.idavista.com</a>
	</div>
</div>

</body>
</html>