<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="main.css" media="screen" title="style (screen)" />
<title>Sunspot</title>
<!--[if IE]>
<link rel="stylesheet" href='ie_fixes.css' type="text/css" media="screen, projection" />
<![endif]-->
</head>
<body>
	<div id="full">
		<div id="container">
			<div id="header">
				<div id="headerContent">
					<br />
					<div id="search">
						<input type="text" id="searchText" />
						<span style="background-color:black;color:#FFF;padding:2px;border:#FCE796 solid 1px;">SEARCH</span>
					</div>
					<h3>Your Header can go right Here</h3>
					<br />
					<p>You can place some comments right here under the line.</p>
					<h3>Sunspot-A template for the rest of us</h3>
				</div>
			</div>
			<div id="left">
				<div id="navcontainer">
					<ul id="navlist">
						<li id="active"><a id="current" href="#">Home</a></li>
						<li><a href="#">Products</a></li>
						<li><a href="#">Services</a></li>
						<li><a href="#">Support</a></li>
						<li><a href="#">Order</a></li>
						<li><a href="#">News</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>

				<div style="margin:auto;text-align:center;background:yellow;width:110px;border:1px dashed white;">
					<a href="http://validator.w3.org/check?uri=referer">Valid XHTML<br />1.0 Strict</a>
				</div>
				<img src="nova.jpg" alt="Nova" />
			</div>
			<div id="content">
				<img src="sunset.jpg" alt="sunset" class="float-right" style="border: solid 2px yellow" />
				<p style="margin-top:0;">
					Here is a template that I hope you will all enjoy. All photos/graphics on this page were taken and designed by me and you are free to use them on your own site if you wish provided that you give credit where credit is due by leaving the design credit in the footer. You can see more of my photos at <a href="http://www.flickr.com/photos/75319039@N00/">my flickr account</a>.
					<br />
					This template is free to use for both commercial or personal use.
					If you feel particularly generous you can link to <a href="http://www.findmytwinonline.com">http://www.findmytwinonline.com</a> or <a href="http://www.snappyad.com">http://www.snappyad.com</a>.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
					erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
					Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
					Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
					pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
					Quisque et neque vitae odio sagittis
					tincidunt.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
					erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
					Sed ac tellus. Nulla vel arcu.
					Proin ac sapien et neque pellentesque mollis.
					Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
					pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
					Quisque et neque vitae odio sagittis
					tincidunt.
				</p>

				<p>
					Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
					erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
					Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
					Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
					pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
					Quisque et neque vitae odio sagittis
					tincidunt.
				</p>


			</div>
			<div id="footer">
				Copyright your name, Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a>, Inc.
				<br />Find your look alike online at <a href="http://www.findmytwinonline.com">www.findmytwinonline.com</a>
			</div>
		</div>
	</div>
</body>
</html>