<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Blue Sky 2.0</title>
<LINK REL=StyleSheet HREF="include/style.css" TYPE="text/css" MEDIA=screen>
</head>
<body>
<center>
<div id="container">
<div id="image">
<br>
<br>
<font size="7">&nbsp;<u>Blue Sky 2.0</u></font><br>
&nbsp;&nbsp;&nbsp;<u>Created by Chris Smith</u>
</div>
<div id="menu">
<ul>
<li><a href="index.html">Lorum ipsum</a></li>
<li><a href="index.html">dolor sit</a></li>
<li><a href="index.html">amet, consectetuer</a></li>
<li><a href="index.html">apidiscing</a></li>
<li><a href="index.html">elit. Fusce</a></li>
<li><a href="index.html">tristique</a></li>
<li><a href="index.html">ante quis quam</a></li>
<li><a href="index.html">Aenean</a></li>
<li><a href="index.html">faucibus</a></li>
<li><a href="index.html">tortor a libero</a></li>
</div>
<div id="main">
<h1>Blue Sky 2.0</h1><font size="2"><p>
Welcome to Blue Sky 2.0, this brand new version actually WORKS with firefox and displays correctlly (thank goodness)! The image was taken from <a href="http://www.sxc.hu">sxc.hu</a>!<br>
You may use this template for personal or commercial purposes, as long as the "Designed by: Christopher Smith" stays in the footer. 
<p>
<h2>Sub Header</h2><p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Fusce tristique ante quis quam. Aenean faucibus tortor a libero. Vivamus suscipit sem sit amet velit. Aenean ac metus. Sed ultricies nulla ut mauris. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam sed nulla lobortis arcu fringilla convallis. Curabitur laoreet, lectus eu porttitor blandit, dui ligula adipiscing mi, eget tempus leo dui eget elit. Nullam pellentesque pellentesque quam. Donec consequat risus in lectus. Aliquam neque tortor, sodales id, cursus quis, vestibulum at, mauris. Curabitur dui diam, hendrerit a, pulvinar tincidunt, viverra at, nisl. Nulla mollis volutpat sapien. Sed placerat leo a lacus. Pellentesque at odio. 
</div>
<div id="copyright">
Copyright <a href="index.html">your site</a> 2006 | Valid <a href="index.html">css</a> and <a href="index.html">html</a><br>
Designed by:<a href="http://www.random-world.net"> Christopher Smith</a>
</div>
</div>
</center>
</body>
</html>