<?xml version="1.0" encoding="iso-8859-2"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">    
<head>
<meta http-equiv="Content-Type"
content="text/html; charset=iso-8859-2" />
<style type="text/css">
    body { text-align: center; margin: 0 0 0 0; padding: 0px }
    img { border: none }
    #container { margin: 0 auto; width: 750px; height: auto; background-color: Gray; text-align: center; font-family: sans-serif; border: solid 1px Black }
</style>
<title>Read me</title>
</head>
<body xml:lang="pl">
<div id="container">
<h2><em>Fields Of Love version 1.0 note:</em></h2>
<p>Hello user! This is my layout debut so please don't crucify me:)</p>
<p>I placed everything you need in comment tags: &#8249;-- comment for each editable block --&#62;.
The site height is automatic, place everyhing in specified structure and there should be no problems.
You can put many pictures in gallery, it's height it's also automatic. But please remember that picture size should be 65px on 65px and it's also link friendly. I think that's all important. Fell free to inform me: <a href="mailto:fedek6@o2.pl">fedek6@o2.pl</a></p>
<h5>Another fine relase from: Fabryka Marzen (eng. Dream Factory)</h5> 

<p>
    <a href="http://validator.w3.org/check?uri=referer"><img
        src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
  </p>
</div>
</body>
</html>









