<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Blue Template</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>
<body>
<div class="wrapper">
<div class="navbg">
  <div id="navcontainer">
<ul id="navlist">
<li><a href="../sitemap.html">Home</a></li><li><a href="../about.html">Services </a>
</li><li><a href="../sitemap.html">Techniques</a></li><li><a href="../about.html">Partners </a>
</li><li><a href="../sitemap.html">Clients</a></li>
</ul>
</div>
</div>
<div class="banner">
  <div class="bannerontop"><a href="#"><img src="images/logo.png" alt="logo" width="340" height="51" border="0"/></a></div>
  <div class="content">
    <div class="leftcolumn">
      <h2>Navigation</h2>
	  <div class="navvy">
<ul class="navvylist">
<li><a href="#">Home</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">Templates</a></li>
</ul>
</div>
<h2> Partners </h2>
<div class="navvy">
<ul class="navvylist">
<li><a href="#">Link</a></li>
<li><a href="#">Webmaster Resources </a></li>
<li><a href="#">Intelligent Studios </a></li>
<li><a href="#">Free CSS </a></li>
<li><a href="#">Sporting IQ </a></li>
</ul>
</div>
    </div>
	<div class="rightcolumn">
	  <h3>News Update </h3>
	  <div class="info">25th Febuary - Submitted by mikka23</div>
	  <div class="maincontevt">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam metus  tortor, pulvinar et, ultricies sit amet, tempus non, orci. Nunc in  arcu. Pellentesque lacinia arcu id risus. Proin quis lectus. Nulla sed  dolor quis pede euismod eleifend. Duis eget est. Cras eleifend felis in  mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis sit  amet justo eget enim imperdiet adipiscing. Ut eros. Quisque facilisis,  odio quis ullamcorper volutpat, nisi purus tristique massa, accumsan  interdum lectus nulla tristique dui. Suspendisse potenti. Phasellus  viverra faucibus felis. Sed cursus mauris et quam. Aliquam rutrum  bibendum est. Aenean a metus. </p>
	    <p>Pellentesque arcu. In hac habitasse <a href="#">platea</a> dictumst. Cras ipsum. Ut  nibh ipsum, molestie a, feugiat a, tempor a, ipsum. Etiam gravida felis  et justo. Etiam mollis, eros sit amet mattis accumsan, eros nulla  fringilla turpis, nec pharetra justo nunc dictum purus. Morbi vel quam.  Donec quam ante, suscipit a, iaculis eu, porta a, arcu. Vivamus nisi  velit, venenatis at, nonummy a, gravida eu, dui. Etiam at eros. Sed  velit diam, aliquam ac, hendrerit non, faucibus in, erat. Nunc quis  pede. </p>
	    <p>&nbsp;</p>
	    </div>
	 <h3>News Update </h3>
	  <div class="info">25th Febuary - Submitted by mikka23</div>
	  <div class="maincontevt">
	    <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Etiam metus  tortor, pulvinar et, ultricies sit amet, tempus non, orci. Nunc in  arcu. Pellentesque lacinia arcu id risus. Proin quis lectus. Nulla sed  dolor quis pede euismod eleifend. Duis eget est. Cras eleifend felis in  mi. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Duis sit  amet justo eget enim imperdiet adipiscing. Ut eros. Quisque facilisis,  odio quis ullamcorper volutpat, nisi purus tristique massa, accumsan  interdum lectus nulla tristique dui. Suspendisse potenti. Phasellus  viverra faucibus felis. Sed cursus mauris et quam. Aliquam rutrum  bibendum est. Aenean a metus. </p>
	    <p>Pellentesque arcu. In hac habitasse platea dictumst. Cras ipsum. Ut  nibh ipsum, molestie a, feugiat a, tempor a, ipsum. Etiam gravida felis  et justo. Etiam mollis, eros sit amet mattis accumsan, eros nulla  fringilla turpis, nec pharetra justo nunc dictum purus. Morbi vel quam.  Donec quam ante, suscipit a, iaculis eu, porta a, arcu. Vivamus nisi  velit, venenatis at, nonummy a, gravida eu, dui. Etiam at eros. Sed  velit diam, aliquam ac, hendrerit non, faucibus in, erat. Nunc quis  pede. </p>
	    <p>&nbsp;</p>
	    </div>
	  </div>
  </div>
<div class="footer">Site designed by <a href="http://www.freecss.info">FreeCSS.info </a></div>
</div>
</div>
</body>
</html>
