<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>YourCompany.com | Templates created by: LoadFoO.web.id</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<link href="style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<div id="wrapper">

<div id="header">
<div class="link">
Quick Link: <a href="#sitemap" title="Sitemap">Sitemap</a> | <a title="CPanel Login" href="#" rel="external">CPanel</a> | <a title="Webmail Login" href="#" rel="external">Webmail</a>
</div>
<div class="title">
<h1>YourCompany.com</h1>
<h2>Templates created by: LoadFoO.web.id</h2>
</div>
<ul class="menu">
<li><a href="#" title="#">Home</a></li>
<li><a href="#" title="#">Domain</a></li>
<li><a href="#" title="#">Hosting</a></li>
<li><a href="#" title="#">Support</a></li>
<li><a href="#" title="#">Portofolio</a></li>
<li><a href="#" title="#">About</a></li>
<li><a href="#" title="#">Contact</a></li>
</ul>
</div>

<div id="content">
<div class="top"></div>
<div class="isi">
<h1>All our offers here:</h1>
<p>We have Complete Web Hosting Solutions with Full Support for the newest software. We provide great web hosting facilities with unlimited pop3, webmail, web statistics, ftp, web based file manager, and other solutions, with full support for our 'top' software.</p>
<ul>
	<li>Possibility of creation / restoration of copies security</li>
	<li>Management of email, redirects, automatic responses</li>
	<li>Management of databases (MySQL)</li>
	<li>Access to phpMyadmin</li>
	<li>Ability to manage areas parqueados / extra areas</li>

	<li>Statistics detailed domains and subdomains</li>
	<li>Management of accounts FTP</li>
	<li>Protection of directories</li>
	<li>Configuration of pages of error</li>
	<li>Possibility to install / uninstall extensions Frontpage</li>
	<li>Manager files</li>

	<li>Ability to add / remove / redirect subdomains</li>
	<li>Possibility to schedule tasks (cronjobs)</li>
	<li>Management detailed the space occupied, traffic consumed etc.</li>
	<li>Tutorials Online Help in Video</li>
	<li>Ability to prevent 'hotlinking'</li>
	<li>Prevention of use of traffic by other websites</li>

	<li>Management of indexation of directories</li>
	<li>And much more is available in the Control Panel.</li>
	<li>Here more about <a title="Hoting Features" href="#">hosting features</a></li>
</ul>
</div>
<div id="kotakkiri"></div>

<div class="foot"></div>
</div>

<div id="middle">
<div class="top">
<ul class="menus">
<li><a href="#" title="#">Home</a></li>
<li><a href="#" title="#">Domain</a></li>
<li><a href="#" title="#">Hosting</a></li>
<li><a href="#" title="#">Support</a></li>
<li><a href="#" title="#">Portofolio</a></li>
<li><a href="#" title="#">About</a></li>
<li><a href="#" title="#">Contact</a></li>
</ul>
</div>
<div class="foot"></div>
<div id="footer">&copy; 2008 YourCompany.com | All Rights Reserved.<br />Design by <a href="http://www.loadfoo.web.id" target="_blank">{LF} LoadFoO</a></div>
</div>

</div>

</body>
</html>