<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<meta name="author" content="www.gorotron.com" />
<title>Lorem Ipsum</title>
<link rel="stylesheet" type="text/css" href="css/site.css"/>
</head>
<body>

<div id="wrapper">

	<div id="content">

		<div id="masthead">
			<h1>Super Happy Fun Time</h1>
		</div>

		<div id="nav">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Gallery</a></li>
				<li><a href="#">Links</a></li>
				<li><a href="#" class="noBorder">Contact</a></li>
			</ul>
		</div>

		<div id="main">

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla. Ut vel metus. Phasellus at arcu nec nibh volutpat <a href="#">ullamcorper</a>. Etiam odio. Donec rhoncus lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui. Vestibulum elit mauris, gravida nec, venenatis eu, pretium sed, metus. Ut in arcu sit amet tortor tincidunt molestie. Mauris nec ipsum.</p>

			<div id="subMain">

				<h2>Lorem Ipsum</h2>

				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla.</p>
			
				<h3>Unordered list:</h3>
		
				<ul>
					<li><p>List item</p></li>
					<li><p>Another list item</p></li>
					<li><p>Yet another list item</p></li>
				</ul>
				<p>Ut vel metus. Phasellus at arcu nec nibh volutpat ullamcorper. Etiam odio. Donec rhoncus lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui.</p>

			</div>

			<h2>Lorem Ipsum</h2>

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla. Ut vel metus. Phasellus at arcu nec nibh volutpat ullamcorper. Etiam odio. <a href="#">Donec rhoncus</a> lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui. Vestibulum elit mauris, gravida nec, venenatis eu, pretium sed, metus. Ut in arcu sit amet tortor tincidunt molestie. Mauris nec ipsum.</p>
		
			<h2>Lorem Ipsum</h2>

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla. Ut vel metus. Phasellus at arcu nec nibh volutpat ullamcorper. Etiam odio. Donec rhoncus lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui. Vestibulum elit mauris, gravida nec, venenatis eu, pretium sed, metus. Ut in arcu sit amet tortor tincidunt molestie. Mauris nec ipsum.</p>

			<blockquote>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla. Ut vel metus. Phasellus at arcu nec nibh volutpat ullamcorper. Etiam odio. Donec rhoncus lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui. Vestibulum elit mauris, gravida nec, venenatis eu, pretium sed, metus. Ut in arcu sit amet tortor tincidunt molestie. Mauris nec ipsum.</p>		
			</blockquote>

			<h2>Lorem Ipsum</h2>

			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vestibulum aliquet diam sed pede. Nam ultrices porttitor urna. Nulla iaculis ante quis massa. Sed vitae nulla. Ut vel metus. Phasellus at arcu nec nibh volutpat ullamcorper. Etiam odio. Donec rhoncus lorem placerat leo. Sed vitae turpis in nulla cursus faucibus. Vivamus a mi. Aliquam purus nibh, accumsan et, porta nec, lobortis vitae, dui. Vestibulum elit mauris, gravida nec, venenatis eu, pretium sed, metus. Ut in arcu sit amet tortor tincidunt molestie. Mauris nec ipsum.</p>
		
		</div>

	</div>

</div>

	<div id="footer">
	<p>&copy; 2007 Your Name Here. <a href="http://www.gorotron.com">CSS template</a> by <a href="http://www.gorotron.com">gorotron</a>.</p>
	</div>


</body>
</html>