<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
	<meta name="description" content="" />
	<meta name="keywords" content="" />

	<title>Blog Name</title>
	<link rel="stylesheet" href="style.css" media="screen" />	
</head>
<body>
	<div id="container">
		<div id="header">
			<h1>My Blog</h1>
			<p>a ddescription of the blog</p>
		</div>
		<ul id="nav">
			<li><a href="#">Home</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Photos</a></li>
			<li><a href="#">Links</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
		<div id="content">
			<div class="date">Oct. 21 2006</div>
			<div class="post">
				<h2>A Blog Post</h2>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. <a href="#">Aenean vitae odio vitae</a> erat imperdiet vehicula. Suspendisse mi felis, sagittis sit amet, tincidunt at, lacinia ultrices, odio. Vivamus porta venenatis augue. Morbi tempus, augue at sollicitudin fringilla, nisl diam ullamcorper dui, eu blandit augue arcu in odio. Cras at nisi ut magna tristique mollis. Morbi aliquet, magna vel facilisis dictum, erat dui rutrum augue, nec egestas lectus diam at odio. Nullam viverra. Nullam tempus lectus eget magna. Cras suscipit justo vitae mi. In augue. Nullam iaculis accumsan sem. Donec egestas.</p>
				<p>Praesent nisi neque, pellentesque sit amet, consectetuer a, aliquet sed, ligula. Nullam sed velit sed augue posuere tempus. Cras volutpat felis convallis risus. Vivamus dapibus mauris non mauris. Quisque egestas. Nulla rutrum egestas ante. Maecenas lectus magna, tempus tincidunt, mattis sit amet, pellentesque fringilla, ante. Nam tortor felis, bibendum at, dictum in, aliquet non, orci. Suspendisse tristique rhoncus est. Sed leo metus, bibendum quis, sodales sed, porttitor non, orci. Suspendisse porta justo non sapien. Sed a ante. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Vestibulum tempus ultricies sapien. Donec pede. Sed malesuada. </p>
				<p>Learn Adobe Photoshop for free at <a href="http://freephotoshopguides.com">Free Photoshop Guides</a>.</p>
				<div id="photos">
					<div class="imgbox"><img src="images/thumb1.jpg" width="88" height="88" alt="thumb 1" /></div>
					<div class="imgbox"><img src="images/thumb2.jpg" width="88" height="88" alt="thumb 2" /></div>
					<div class="imgbox"><img src="images/thumb3.jpg" width="88" height="88" alt="thumb 3" /></div>
				</div>
			</div>
			<p class="postmeta">This post has <a href="#">6 comments</a></p>
		</div>
		<div id="footer">Copyright 2006 Blog Name</div>
	</div>
</body>
</html>