<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<!-- 
This template was designed by Will Peavy - willpeavy.net
It is distributed under a Creative Commons License - http://creativecommons.org/licenses/by-sa/3.0/ 
You are free to use this design on your personal or commercial web site as long as you retain 'Site Design by Will Peavy' in the footer
-->
    
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="author" content="Design by Will Peavy / willpeavy.net" />
	<title>Forest Green Swish Design by Will Peavy</title>
	<link rel="stylesheet" type="text/css" href="styles.css" />
	<!--[if lte IE 6]><link rel="stylesheet" type="text/css" href="styles_ie6.css" /><![endif]-->
</head>

<body>
	<div id="container">
		<div id="navigation">
		<a href="index.html" id="link1">Page 1</a>
		<a href="index.html" id="link2">Page 2</a>
		<a href="index.html" id="link3">Page 3</a>
		<a href="index.html" id="link4">Page 4</a>
		<a href="index.html" id="link5">Page 5</a>
		<a href="index.html" id="logo">yoursite.com</a>
		</div>
		<div id="stretch"></div>
		<div id="content">
			<h1>Welcome To My Site</h1>
			<h2>First Section</h2>
			<p>This design was created by Will Peavy, and is distributed under a <a href="http://creativecommons.org/licenses/by-sa/3.0/">Creative Commons License</a>. 
			You are free to use this design as a template for your personal or commercial site.
			The only requirements are that you (1) keep 'Design by <a href="http://willpeavy.net" >Will Peavy</a>' in the footer; and (2) do not
			sell this template (free redistribution is okay though).</p> 
			<p>This template contains six files: one html file, two css files, and three jpg's. To use this template on your site, simply unzip all six files into the same directory. To create additional pages, make copies of the index.html file, save these copies in same directory as your other files, and update the anchor tags within the 'navigation' div. If you need help setting this template up on your site, you can reach me at <a href="http://contact.willpeavy.net">contact.willpeavy.net</a></p>
			<h2>Second Section</h2>
			<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Cras facilisis metus posuere metus vestibulum pulvinar. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Nulla fermentum, nisi ut varius tincidunt, quam tortor sodales lectus, et hendrerit augue est rutrum arcu. Morbi nec purus. Etiam ornare tincidunt quam. Duis tempor augue fringilla sem. Nunc et purus. In volutpat tortor adipiscing tellus. Aliquam vehicula. Sed rutrum.</p>
			<p>Nullam in nulla et lectus fermentum blandit. Curabitur aliquam dapibus pede. Nunc ut justo. Aliquam non augue eu augue ultricies viverra. Quisque urna mi, nonummy at, adipiscing eu, faucibus ut, nulla. In in lectus. Curabitur diam ligula, congue at, consectetuer quis, lobortis vel, nibh. Donec tristique, lacus sit amet viverra pretium, lacus turpis venenatis odio, vel dictum orci nunc tristique justo. Nam aliquam mi scelerisque lectus. Mauris nunc. Vestibulum eget mauris.</p>
			<h2>Third Section</h2>
			<p>Nulla facilisi. Aliquam ut ligula. Pellentesque varius feugiat tellus. Aenean et nisi non ipsum sagittis consequat. Phasellus eget diam in tortor luctus faucibus. Nam ac libero in ante gravida varius. Curabitur ultrices ante laoreet metus. Suspendisse rhoncus, tellus id interdum blandit, massa sem nonummy erat, non molestie turpis turpis sed metus. Donec erat. Curabitur metus erat, imperdiet et, laoreet nec, tincidunt ac, sapien. Quisque tellus ipsum, dapibus at, luctus ac, euismod id, mi. Aliquam posuere, ligula id vulputate vestibulum, urna justo imperdiet pede, sed dictum justo lectus id ipsum. Fusce faucibus mollis tortor. Phasellus eu risus adipiscing odio facilisis accumsan. Vestibulum ut urna. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Vivamus gravida lectus id ligula. Ut augue ante, ullamcorper id, convallis ac, vestibulum eget, orci.</p>
			<p>Aliquam nibh. Fusce at velit eget sapien facilisis tempus. Nullam in velit. Aliquam erat volutpat. Nam aliquam massa ut lacus. Aenean viverra neque sit amet dui. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Curabitur mollis, orci non rhoncus aliquam, velit justo pulvinar diam, eget mattis nisi est eget mi. Praesent vel tortor. Fusce rhoncus nulla cursus turpis. Sed feugiat tincidunt tortor. Maecenas vitae lorem et velit pharetra gravida. Duis mattis nisi non neque. Morbi facilisis. Maecenas eu tellus sit amet sem mattis mattis.</p>
		</div>
		<div id="footer">
			<p>Site Design by <a href="http://willpeavy.net" >Will Peavy</a> /
			Valid <a href="http://validator.w3.org/">XHTML</a> and 
			<a href="http://jigsaw.w3.org/css-validator/">CSS</a> /
			Contents by <em>Your Name</em>, Copyright 2007</p>
		</div>
	<div id="cover"></div>	
	</div>
</body>

</html>
