<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Title      : Office
Version    : 1.0
Released   : 20070403
Description: A two-column fixed-width template. Suitable for blogs and small business websites.

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Office by Free Css Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrapper">
	<div id="header">
		<h1><a href="/">Office</a></h1>
		<h2><a href="http://www.freecsstemplates.org/">by Free CSS Templates</a></h2>
		<hr />
	</div>
	<div id="content">
		<div id="blog">
			<div id="post-1" class="post">
				<h2 class="title"><a href="#">Welcome to Office!</a></h2>
				<h3 class="date">March 26, 2007</h3>
				<div class="entry">
					<p><strong>Office</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 Licens</a>. You"re free to use it for both commercial or personal use. I only ask that you link back to my site in some way. <em><strong>Enjoy :)</strong></em></p>
				</div>
				<p class="meta">Posted in <a href="http://www.pdphoto.org/">Uncategorized</a> | <a href="#">Edit</a> | <a href="#">1 Comment &raquo;</a></p>
				<div class="hr">
					<hr />
				</div>
			</div>
			<!-- end #post-1 -->
			<div id="post-2" class="post">
				<h2 class="title"><a href="#">Sample Tags</a></h2>
				<h3 class="date">January 31, 2007</h3>
				<div class="entry">
					<p>A one-sentence paragraph followed by a blockquoted paragraph.</p>
					<blockquote>
						<p>&ldquo;Nam et orci et leo iaculis tempor. Duis ante ante, pretium sit amet, feugiat ut, semper ac, nisl. Praesent eget mauris. Duis in pede. Vestibulum nec libero.&rdquo;</p>
					</blockquote>
					<h3>Heading Level Three</h3>
					<ul>
						<li>Proin eu ligula ut est congue malesuada.</li>
						<li>Nunc eleifend felis nec purus.</li>
						<li>Duis sodales urna sit amet nulla.</li>
					</ul>
					<h3>Ordered List</h3>
					<ol>
						<li>Donec fringilla leo eget erat.</li>
						<li>Nunc condimentum cursus lorem.</li>
						<li>Cras sodales venenatis metus.</li>
					</ol>
				</div>
				<p class="meta">Posted in <a href="http://www.pdphoto.org/">Uncategorized</a> | <a href="#">Edit</a> | <a href="#">1 Comment &raquo;</a></p>
				<div class="hr">
					<hr />
				</div>
			</div>
			<!-- end #post-2 -->
		</div>
		<!-- end #blog -->
		<div id="sidebar">
			<ul>
				<li id="search">
					<h2>Search</h2>
					<form id="form1" method="get" action="#">
						<div>
							<input id="inputtext1" type="text" name="inputtext1" value="" />
							<input id="inputsubmit1" type="submit" name="inputsubmit1" value="Search" />
						</div>
					</form>
				</li>
				<!-- end #search -->
				<li id="archives">
					<h2>Archives</h2>
					<ul>
						<li><a href="#">March 2007</a></li>
						<li><a href="#">February 2007</a></li>
						<li><a href="#">January 2007</a></li>
						<li><a href="#">December 2006</a></li>
						<li><a href="#">November 2006</a></li>
					</ul>
				</li>
				<!-- end #archives -->
				<li id="categories">
					<h2>Categories</h2>
					<ul>
						<li><a href="#">Uncategorized</a> <small>(6)</small></li>
						<li><a href="#">Condimentum Cursus</a> <small>(28)</small></li>
						<li><a href="#">Praesent Sit Mauris</a> <small>(14)</small></li>
						<li><a href="#">Leo Iaculis Tempor</a> <small>(23)</small></li>
						<li><a href="#">Dignissimos Ducimus</a> <small>(19)</small></li>
					</ul>
				</li>
				<!-- end #categories -->
				<li id="blogroll">
					<h2>Blogroll</h2>
					<ul>
						<li><a href="#">Lorem Ipsum Dolor</a></li>
						<li><a href="#">Tempor Leo Iaculis</a></li>
						<li><a href="#">Cursus Dignissimos</a></li>
						<li><a href="#">Ducimus Condimentum</a></li>
						<li><a href="#">Praesent Sit Mauris</a></li>
					</ul>
				</li>
				<!-- end #blogroll -->
				<li id="meta">
					<h2>Meta</h2>
					<ul>
						<li><a href="#">Site Admin</a></li>
						<li><a href="#">Logout</a></li>
						<li><a href="http://validator.w3.org/check/referer" title="This page validates as XHTML 1.0 Strict">Valid <abbr title="eXtensible HyperText Markup Language">XHTML</abbr></a></li>
						<li><a href="http://gmpg.org/xfn/"><abbr title="XHTML Friends Network">XFN</abbr></a></li>
						<li><a href="http://www.freecsstemplates.org/" title="Designed by Free CSS Templates.">Free CSS Templates</a></li>
					</ul>
				</li>
				<!-- end #meta -->
			</ul>
		</div>
		<!-- end #sidebar -->
		<div style="clear: both; height: 1px;"></div>
	</div>
	<!-- end #content -->
	<div id="footer">
		<p>Copyright &copy; 2007 Office. Designed by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
	</div>
</div>
<!-- end #wrapper -->
</body>
</html>
