<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License

Name       : Black Eyed Susan 
Description: A two-column, fixed-width design.
Version    : 1.0
Released   : 20081109

-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Black Eyed Susan by Free CSS Templates</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="style.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<!-- start header -->
<div id="header">
	<h1><strong>Black Eyed </strong>Susan  </h1>
	<p> design By Free CSS Templates</p>
</div>
<!-- end header -->
<!-- start page -->
<div id="wrapper">
<div id="page">
	<!-- start content -->
	<div id="content">
		<div class="post">
			<h1 class="title">About This Website</h1>
			<p class="byline">Posted on August 25th, 2007 by <a href="#">admin</a> | <a href="#">Edit</a></p>
			<div class="entry">
				<p><strong>Black Eyed Susan </strong> is a free template from <a href="http://freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The flower photo is fromt <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use this template for both commercial or personal use. I only ask that you link back to <a href="http://freecsstemplates.org/">my site</a> in some way. Enjoy :)</p>
				<p>&nbsp;</p>
				<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. </p>
			</div>
			<p class="meta"><a href="#" class="more">Read More</a></p>
		</div>
		<div class="post">
			<h2 class="title">Risus Pellentesque</h2>
			<p class="byline">Posted on August 25th, 2007 by <a href="#">admin</a> | <a href="#">Edit</a></p>
			<div class="entry">
				<p>Maecenas pede nisl, elementum eu, ornare ac, malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. Donec condimentum, urna non molestie semper, ligula enim ornare nibh, quis laoreet eros quam eget ante. Maecenas pede nisl, elementum  malesuada at, erat. Proin gravida orci porttitor enim accumsan lacinia. </p>
			</div>
			<p class="meta"><a href="#" class="more">Read More</a></p>
		</div>
	</div>
	<!-- end content -->
	<!-- start sidebar -->
	<div id="sidebar">
		<ul>
			<li>
				<ul>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet  molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
			</li>
			<li>
				<h2>BlogRoll</h2>
				<ul>
					<li><a href="#">Aliquam libero</a></li>
					<li><a href="#">Consectetuer adipiscing elit</a></li>
					<li><a href="#">Metus aliquam pellentesque</a></li>
					<li><a href="#">Suspendisse iaculis mauris</a></li>
					<li><a href="#">Urnanet  molestie semper</a></li>
					<li><a href="#">Proin gravida orci porttitor</a></li>
				</ul>
			</li>
			<li>
				<h2>Archives</h2>
				<ul>
					<li><a href="#">January</a> (23)</li>
					<li><a href="#">December</a> (31)</li>
					<li><a href="#">November</a> (31)</li>
					<li><a href="#">October</a> (30)</li>
					<li><a href="#">September</a> (31)</li>
					<li><a href="#">August</a> (30)</li>
				</ul>
			</li>
		</ul>
	</div>
	<!-- end sidebar -->
</div>
	<div style="clear:both">&nbsp;</div>
</div>
<!-- end page -->
<div id="footer">
	<p>&copy;&nbsp;2007 All Rights Reserved &nbsp;&bull;&nbsp; Design by &nbsp;&nbsp;<a href="http://www.freecsstemplates.org/">Free CSS Templates</a></p>
</div>
</body>
</html>
