<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>freeSite template</title>
<link rel="stylesheet" href="style.css" type="text/css" />
</head>

<body>
<div id="header">
		<h1>freeSite</h1>
		<h2>spyka.net, pure lust</h2>
</div>
<div id="nav">
	<ul>
		<li><a href="#">Home</a></li>
		<li><a href="#">About</a></li>
		<li><a href="#">Blog</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Support</a></li>
		<li><a href="#">Contact</a></li>
	</ul>
</div>
<div id="wrap">	
	<div id="main">
		<div class="main_header headtext">
			<h1>Welcome</h1>
		</div>
		<div class="main_content area">
			<p>Welcome to a template by <a href="http://www.spyka.net">spyka.net</a>. This template is a simple, 2 columns valid XHTML and CSS layout. Tested in:</p>
		  <ul>
			<li>Firefox 1.5/2</li>
			<li>Internet Explorer 7 </li>
			<li>Opera 9 </li>
		  </ul>
		  <p> This template is free to use as long as the link to spyka.net is kept in the footer. You can remove this link by buying a template license at a cost of £3.30 from us <a href="http://www.spyka.net">here</a>. You must not redistribute this template unless given written permission by us and you cannot claim it as your own work. </p>
		  <p>We can customise this template for you from £10, check out <a href="http://www.spyka.net/services">spyka.net/services</a> for more info</p>
		  <h2>Some Examples</h2>
		  <p>Your standard paragraph. Quisque a elit. Nullam bibendum posuere neque. Integer pede nibh, tristique vel, iaculis id, rutrum condimentum, massa. In condimentum, quam nec molestie auctor, quam mauris sagittis augue, nec lobortis sem dolor eu libero. Maecenas blandit arcu varius massa.</p>
		  <h3>Sub heading</h3>
		  <blockquote>Here is an example of a blockquote</blockquote>
		  <p>&nbsp;</p>
		  <code>And some lovely code!</code>
		  <p>&nbsp;</p>
		</div>
	</div>
	
	<div id="sidebar">
		<div class="side_header headtext">
			<h1>Navigation</h1>
		</div>
		<div class="side_content area">
			<ul>
				<li><a href="#">Home</a></li>
				<li><a href="#">About</a></li>
				<li><a href="#">Blog</a></li>
				<li><a href="#">Products</a></li>
				<li><a href="#">Support</a></li>
				<li><a href="#">Contact</a></li>
			</ul>
		</div>
		<div class="spacer"></div>
		<div class="side_header headtext">
			<h1>Links</h1>
		</div>
		<div class="side_content area">
			<ul>
				<li><a href="http://www.spyka.net">spyka.net</a></li>
				<li><a href="http://www.plutomedia.net">plutomedia.net</a></li>
				<li><a href="http://www.farehamweather.co.uk">farehamweather.co.uk</a></li>
			</ul>
		</div>
		<div class="spacer"></div>
		<div class="side_header headtext">
			<h1>Valid</h1>
		</div>
		<div class="side_content area">
			<ul>
				<li><a href="http://validator.w3.org/check?uri=referer">XHTML</a></li>
				<li><a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a></li>
			</ul>
		</div>
	</div>
	<div id="footer">
		<p>&copy; Copyright freeSite. <a href="http://www.spyka.net" title="Design by spyka.net">Design by spyka.net</a></p>
	</div>

</div>
</body>
</html>
