<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Template Design by TheWebhub.com | http://www.thewebhub.com | Released for free under a Creative Commons Attribution-Share Alike 3.0 Philippines -->
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<title>Template Design by TheWebhub.com</title>
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" media="screen" />
</head>
<body>
<div id="menu">
	<ul>
		<li class="first"><a href="#">Home</a></li>
		<li><a href="#">Products</a></li>
		<li><a href="#">Services</a></li>
		<li><a href="#">About Us</a></li>
		<li><a href="#">Contact Us</a></li>
	</ul>
	<div style="clear: both;">&nbsp;</div>
</div>

<div id="header">
	<h1>Spot Light</h1>
	<h2>Template Design by TheWebHub.com</h2>
</div>
<div id="content">
	<div id="colOne">
		<h2>Recent Updates</h2>
		<div class="content">
		<h3>Etiam suscipit et</h3>
		<p>Rhoncus ac, lacinia, nisl. Aliquam gravida massa eu arcu. <a href="#">More&#8230;</a></p>
		<h3>Fusce dolor totique</h3>
		<p>Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis  erat. Curabitur malesuada. <a href="#">More&#8230;</a></p>
		<h3>Nunc pellentesque</h3>
		<p>Sed vestibulum blandit nisl. Quisque  convallis purus. Suspendisse potenti. Donec nulla est,  quis, pellentesque in. <a href="#">More&#8230;</a></p>
		<h3>Suspendis potenti</h3>
		<p>Donec nulla est, laoreet quis, pellentesque in, congue in, dui. Nunc rhoncus placerat augue. Donec justo odio, eleifend varius, volutpat venenatis, sagittis ut, orci. <a href="#">More&#8230;</a></p>
	</div></div>
	<div id="colTwo">
		<h2>Welcome to Sitename.com!</h2>
		<div class="content">
		<p><strong>SPOTLIGHT</strong>  is a free CSS web template coded with valid <strong><a href="http://validator.w3.org/check/referer">XHTML 1.0 Transitional</a></strong> and <strong><a href="http://jigsaw.w3.org/css-validator/validator?uri=http%3A//www.thewebhub.com/preview/lightspeed/index.html&amp;profile=css21&amp;usermedium=all&amp;warning=1&amp;lang=en">CSS 2.1 standards</a></strong> that uses pure CSS and no tables for layout. This design is released under the <span class="legal"><a rel="license" href="http://creativecommons.org/licenses/by-sa/3.0/ph/">Creative Commons Attribution-Share Alike 3.0 Philippines License</a></span>, which basically says that:</p>
		<ul>
          <li>You <strong>CAN</strong> use, copy, distribute and transmit this template.</li>
		  <li>You <strong>CAN</strong> modify this template however you want.</li>
		  </ul>
		<p>In return, we only ask that you keep the attribution link in the footer intact or if you modify it, just add a link back to our site in any way you like.</p>
		<p><a href="http://www.thewebhub.com"><strong>TheWebHub.com</strong></a> will also give additional credit to <a href="http://www.sxc.hu/profile/drniels">DRNIELS</a> for the studio light photo used in the header of this template. </p>
		<p>Sed vestibulum blandit nisl. Quisque elementum convallis purus. Quisque pellentesque semper massa:</p>
		<ul>
			<li><a href="#">Suspendisse quis gravida massa felis.</a></li>
			<li><a href="#">Vivamus sagittis bibendum erat.</a></li>
			<li><a href="#">Nullam et orci in erat viverra ornare.</a></li>
			<li><a href="#">Suspendisse quis gravida massa felis.</a></li>
			<li><a href="#">Curabitur malesuada turpis nec ante.</a></li>
		</ul>
		<h3>Lorem Ipsum Dolore </h3>
		<p>Aliquam gravida massa eu arcu. Fusce mollis tristique sem. Sed eu eros imperdiet eros interdum blandit. Vivamus sagittis bibendum erat. Curabitur malesuada turpis nec ante. Suspendisse quis felis. Suspendisse potenti. Nullam et orci in erat viverra ornare. Quisque elementum convallis purus.</p>
	</div>
	</div>
	<div id="colThree">
		<h2>Ipsum Dolorem</h2>
		<div class="content">
		<ul>
			<li><a href="#">Sed bibendum tellus  </a></li>
			<li><a href="#">Vivamus commodo </a></li>
			<li><a href="#">Sed bibendum risus </a></li>
			<li><a href="#">Nulla ullamcorper arcu </a></li>
			<li><a href="#">Vestibulum ultricies  nec</a></li>
			<li><a href="#">Proin a dui non elit</a></li>
			<li><a href="#">Praesent utumsan </a></li>
			<li><a href="#">In posuere risus ac felis</a></li>
			<li><a href="#">In posuere risus ac </a></li>
			<li><a href="#">Proin facilisis sagittis </a></li>
			<li><a href="#">Tincidunt consectetuer</a></li>
		</ul>
		<h3>Nulla vel  mollis</h3>
		<ul>
			<li><a href="#">Nulla ullamcorper arcu </a></li>
			<li><a href="#">Vestibulum ultricies  nec</a></li>
			<li><a href="#">Proin a dui non elit</a></li>
			<li><a href="#">Praesent utumsan </a></li>
			<li><a href="#">In posuere risus ac felis</a></li>
			<li><a href="#">In posuere risus ac </a></li>
			<li><a href="#">Proin facilisis sagittis </a></li>
			<li><a href="#">Tincidunt consectetuer</a></li>
			<li><a href="#">In posuere risus ac </a></li>
			<li><a href="#">Proin facilisis sagittis </a></li>
			<li><a href="#">Tincidunt consectetuer</a></li>
		</ul>
	</div>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>

<div id="footer">
  <p class="copyright">Copyright &copy; 2006 Sitename.com. Template Designed by <a href="http://www.thewebhub.com/">TheWebHub.com</a></p>
  <p class="links"><a href="http://validator.w3.org/check/referer" class="xhtml">Valid XHTML</a>&nbsp;&nbsp;&nbsp;<a href="http://jigsaw.w3.org/css-validator/check/referer" class="css">Valid CSS</a> </p>
</div>
</body>
</html>
