<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>TITLE HERE</title>
<link rel="stylesheet" type="text/css" href='css/style.css' />
</head>

<body>
<!-- START LEFT MENU HERE ................................................................................................................................. -->
<div id="leftmenu">
     <ul>
	 <li><a href="#">navigation1</a></li>
 	 <li><a href="#">navigation2</a></li>
 	 <li><a href="#">navigation3</a></li>
	 <li><a href="#">navigation4</a></li>
	 <li><a href="#">navigation5</a></li>
	 <li><a href="#">navigation6</a></li>	 
	 <li><a href="#">navigation7</a></li>
	 </ul>
</div>
<!-- END LEFT MENU HERE ................................................................................................................................. -->

<!-- START MAIN AREA HERE ................................................................................................................................. -->
<div id="main">
<div id="wrapper">
<h2>Your title here</h2>
<a href="http://www.illusivecreations.com"><img src="http://www.illusivecreations.com/templates/align.gif" alt="http://www.illusivecreations.com" border="0" /></a></div>

<!-- START MAIN Center here ................................................................................................................................. -->

<!-- START Impressum Box here ................................................................................................................................. -->
<div class="box">
  <p class="icontext"><img class="icon" src="img/iconmusic.gif" width="16" height="14" alt="" />heading here </p>
</div>
<div class="lightbox">

<p class="text">text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here </p>
</div>

<!-- START About Box here ................................................................................................................................. -->

<div class="box">
  <p class="icontext"><img class="icon" src="img/iconmusic.gif" width="16" height="14" alt="heading" />heading here </p>
</div>
<div class="lightbox">
<p class="text">text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here text here </p>
</div>

<!-- START Programming Box here ................................................................................................................................. -->


<div class="lightbox"></div>

<!-- START Footer Box here ................................................................................................................................. -->
<!-- no edit -->
<div class="box">
<!-- To use this template you must leave this below, I spent alot of time on this layout for you guys -->
  <p class="icontext"><img class="icon" src="img/iconfooter.gif" width="16" height="14" alt="" /> Designed by <a href="http://www.illusivecreations.com">Calgary Canada Web Design</a></p>
</div>
<!-- end no edit -->
</div>
<!-- END MAIN AREA HERE ................................................................................................................................. -->

<!-- START RIGHT BAR HERE ................................................................................................................................. -->
<div id="rightmenu">
	<img class="knot" src="img/knot.jpg" width="191" height="101" alt="" />
</div>
<!-- END RIGHTBAR HERE HERE ................................................................................................................................. -->

</body>
</html>