<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Your description goes here" />
  <meta name="keywords" content="your,keywords,come,here" />
  <meta name="author" content="Your Name or Company / Template design: Norrash / August12,2006" /> 

  <title>Title of Your Web Page Goes Here</title>
  
  <link href="style.css" rel="stylesheet" type="text/css"/>
  
</head>
<body>
<div id="wrapper">
<div id="header">
<img src="header1.jpg" alt="No Frills Header"/>  

<div id="navcontainer"> 
<ul id="navlist">
<li><a href="#" id="current" name="current">Products</a></li>
<li style="list-style: none">||</li>
<li><a href="#">About Us</a></li>
<li style="list-style: none">||</li>
<li><a href="#">Downloads</a></li>
<li style="list-style: none">||</li>
<li><a href="#">News</a></li>
<li style="list-style: none">||</li>
<li><a href="#">Contact</a></li>
<li style="list-style: none">||</li>
</ul>
</div> <!-- close wrapper --> 
</div> <!-- close header --> 
</div> <!-- close nav --> 

 
<div id="main" ><br /> 

<h1>NO FRILLS GREEN!</h1>
<p>This is  an "Open Source" template  and released under a Creative Commons License<br />
 which means you can use it in any way you would like.<br />You are free to change it or use it as is
and can use it commercially with no fees.<br />Once you download  it's YOURS!!!<br /> The only request I have is<br />
 please keep the"Designed by Norrash"   
 in the footer. <br /><br />Xhtml and CSS Validate </p><br /> 
<p>This is my first template.<br />I love making graphics and web pages so thought I would try my hand at web page templates <br />
I hope you like it. <br /><br /> If you decide to use it please<a href=":mailto:%20radclyfffe@gmail.com"> EMAIL</a> me so I will be able to take a look.<br />
at what you have done!<br />  <br /> </p>
 
<div class="rule">
 </div>
 <h1>NO FRILLS GREEN!</h1>
<p> The header is an original design.<br />

To view more templates visit my website</p><br />
<div class="rule"> </div>

 <h1>NO FRILLS GREEN!</h1>
<p>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <br />
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
 fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

<div class="rule"></div>
 <h1>NO FRILLS GREEN!</h1>
<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
 exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br /><br />
  <div class="rule">
 </div>
 
 
  
<div id="footer">
<div class="left">||copyright&copy;2006 Your Company | All Rights Reserved||<br />
Designed by<br /><a href="http://www.creativedistortion.com/freetemp.html">Norrash</a>
</div><!-- close main -->  
 </div> <!-- close footer -->  
</div><!-- closeleft -->  
<br/><br/>  
</body>
</html>

 