<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en">


<!--  Version: Multiflex-5.0 / Overview                     -->
<!--  Date:    January 30, 2008                             -->
<!--  Design:  www.1234.info                                -->
<!--  License: Fully open source without restrictions.      -->
<!--           Please keep footer credits with the words    -->
<!--           "Design by 1234.info". Thank you!            -->

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta http-equiv="Content-Script-Type" content="text/javascript" /> 
  <meta http-equiv="cache-control" content="no-cache" />
  <meta http-equiv="expires" content="3600" />
  <meta name="revisit-after" content="2 days" />
  <meta name="robots" content="index,follow" />
  <meta name="publisher" content="Your publisher infos here" />
  <meta name="copyright" content="Your copyright infos here" />
  <meta name="author" content="Designed by www.1234.info / Modified: Your Name" />
  <meta name="distribution" content="global" />
  <meta name="description" content="Your container description here" />
  <meta name="keywords" content="Your keywords, keywords, keywords, here" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="./css/mf5_reset.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="./css/mf5_grid.css" />
  <link rel="stylesheet" type="text/css" media="screen,projection,print" href="./css/mf5_content.css" />
  <link rel="icon" type="image/x-icon" href="./img/favicon.ico" />
  <title>Multiflex-5.0 | Overview |</title>
</head>

<!-- Global IE fix to avoid layout crash when single word size wider than column width -->
<!-- Following line MUST remain as a comment to have the proper effect -->
<!--[if IE]><style type="text/css"> body {word-wrap: break-word;}</style><![endif]-->

<body>
  <!-- CONTAINER FOR ENTIRE PAGE -->
  <div class="container">

    <!-- A. HEADER -->         
    <div class="corner-top"></div>        
    <div class="header">
      <div class="header-top">
        
        <!-- A.1 SITENAME -->      
        <a class="sitelogo" href="#" title="Home"></a>
        <div class="sitename">
          <h1><a href="index.html" title="Home">MULTIFLEX&bull;5.0</a></h1> 
          <h2>Open Source Designs</h2>
        </div>
    
        <!-- A.2 BUTTON NAVIGATION -->
        <div class="navbutton">
          <ul>
            <li><a href="#" title="English"><img src="./img/icon_flag_us.gif" alt="Flag" /></a></li>
            <li><a href="#" title="Deutsch"><img src="./img/icon_flag_de.gif" alt="Flag" /></a></li>
            <li><a href="#" title="Svenska"><img src="./img/icon_flag_se.gif" alt="Flag" /></a></li>
            <li><a href="#" title="RSS"><img src="./img/icon_rss.gif" alt="RSS-Button" /></a></li>
          </ul>
        </div>

        <!-- A.3 GLOBAL NAVIGATION -->
        <div class="navglobal">
          <ul>
            <li><a href="#" title="">About</a></li>
            <li><a href="#" title="">Contact</a></li>								
            <li><a href="#" title="">Sitemap</a></li>								                        
            <li><a href="#" title="">Links</a></li>								            
          </ul>
        </div>        
      </div>
    
      <!-- A.4 BREADCRUMB and SEARCHFORM -->
      <div class="header-bottom">

        <!-- Breadcrumb -->
        <ul>
          <li class="nobullet">You are here:&nbsp;</li>
          <li><a href="#">Home</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Sub-Page</a></li>
          <li><a href="#">Sub-Sub-Page</a></li>          
        </ul>

        <!-- Search form -->                  
        <div class="searchform">
          <form action="index.html" method="get">
            <fieldset>
              <input name="field" class="field"  value=" Enter search word ..." />
              <input type="submit" name="button" class="button" value="Search" />
            </fieldset>
          </form>
        </div>
      </div>
    </div>      
    <div class="corner-bottom"></div>    
    
    <!-- B. NAVIGATION BAR -->
    <div class="corner-top"></div>        
    <div class="navbar">
	
      <!-- Navigation item -->
      <ul>
        <li><a href="index.html">Overview</a></li>
      </ul>
      <!-- Navigation item -->
      <ul>
        <li><a href="mf5_tutorial.html">Tutorial</a></li>
      </ul>            
      <!-- Navigation item -->
      <ul>
        <li><a href="mf5_grid.html">Grid Toolbox</a></li>
      </ul>
      <!-- Navigation item -->
      <ul>
        <li><a href="mf5_content.html">Content Toolbox</a></li>
      </ul>
      <!-- Navigation item -->
      <ul>
        <li><a href="#">Drop-down Menu<!--[if IE 7]><!--></a><!--<![endif]-->
          <!--[if lte IE 6]><table><tr><td><![endif]-->
            <ul>
              <li><a href="#">Menu subitem 1</a></li>
              <li><a href="#">Menu subitem 2</a></li>
              <li><a href="#">Menu subitem 3</a></li>
              <li><a href="#">Menu subitem 4</a></li>
              <li><a href="#">Menu subitem 5</a></li>
            </ul>
          <!--[if lte IE 6]></td></tr></table></a><![endif]-->
        </li>
      </ul>                  
    </div>    
  
    <!-- C. MAIN SECTION -->      
    <div class="main">

      <!-- C.1 CONTENT -->
      <div class="content">

        <!-- CONTENT CELL -->                
        <div class="content-cell-corner-top"></div>                        
        <div class="content-cell">
          <h1>Welcome to Multiflex-5</h1>
          <h5>Overview</h5>
          <p>Multiflex-5 is the fifth generation Multiflex template and is robust, flexible and universally browser-compatible in the spirit of Web 2.0 feeling. Due to its flexible and modular nature, the template can be used for any type of website, such as a personal, company, blog or portal homepage. The coding is done in XHTML 1.0 Strict and CSS 2.0, corresponding to the current state of coding technology.</p>
          <p>This template will be used for my own <a href="http://1234.info">personal website</a>, which is the reason why I invested much time in perfecting the code and design. This also means, that there will be a good future support of this template.</p>
          <h5>Features</h5>
          <p>Multiflex-5 contains a large number of design features, both in the grid (layout) styles as well as for the content (text) styles. There are four basic grid styles available, and around twelve different content styles such as headings, paragraph text, lists, quotes, images, links, tables, menus, contact forms, login forms, search forms, and even video and audio players for online media content. The header area can easily and quickly be adapted to your needs.</p>
          <h5>Packages</h5>
          <p>The Basic Template Package contains all the HTML, CSS and image files necessary to run the template. This corresponds to the package downloaded from various open source webdesign homepages. See the <a href="mf5_tutorial.html#anchor-package">Basic Template Package Tutorial</a> for further instructions. However, in order to run video and audio content, the auxiliary flash player files are necessary and could not be included in the Basic Template Package for space limitations reasons. To give you the files necessary for media content, simply download the Media Package. See the <a href="mf5_tutorial.html#anchor-package">Media Package Tutorial</a> for further instructions. If you want to modify the various graphical elements, such as the logo, flags, icons to suit the needs of your website, then you find the files needed in the Graphics Package. See the <a href="mf5_tutorial.html#anchor-package">Graphics Package Tutorial</a> for further instructions.</p>
          <p>The Full Template Package contains all of the above three packages combined into one package. See the <a href="mf5_tutorial.html#anchor-package">Full Template Package Tutorial</a> for further instructions. Installing the Full Template Package automatically includes a setup of the Media Package, so you are ready to go from the very start. The Full Template Package is not available on open source webdesign homepages due to the file size.</p>
          <h5>Getting Started</h5>
          <p>If you you just can't wait to get started, go the <a href="mf5_tutorial.html#anchor-start">Multiflex-5 Tutorial</a> right away and create your new website in seven easy steps. There you will find everything you need to get your webpage going.</p>          
          <p><b>Experience Multiflex-5.</b><br />Robust. Flexible. Easy.</p>
        </div> 
        <div class="content-cell-corner-bottom"></div>                       

        <!-- CONTENT CELL -->                
        <div class="content-cell-corner-top"></div>                        
        <div class="content-cell">
          <h1>Who can use Multiflex-5?</h1>
          <h5>License</h5>
          <p>Multiflex-5 is released under the Open Source License, giving any person the right to use, adapt or modify the template for personal, educational or commercial purposes. It is not obligatory, but as a sign of appreciation I am sure you don't mind keeping the credit line "<a href="http://1234.info">Design by 1234.info</a>" in the footer.</p> 
          <h5>Philosophy</h5>
          <p>Multiflex-5 is more than a template. It is actually a webpage design toolbox where you can choose from a collection of design elements to decide how your site should look. For this reason you will not see any specific audience targeted in the template (like blog, portal, etc.), but rather here find the tools you need to create your own layout and appearance. See the <a href="mf5_tutorial.html">Multiflex-5 Tutorial</a> for more instructions.</p> 
          <h5>Audience</h5>
          <p>Because of Multiflex-5 being a webpage design toolbox, it is not suitable for WYSIWYG HTML editors like FrontPage or Dreamweaver, which usually cannot edit code in templates of this kind. Creating a website using Multiflex-5 requires a working knowledge of HTML. If you have no experience in HTML or are not planning to learn HTML, then the best way for you to use Multiflex-5 is to see if any portings have been made to a Content Management System (CMS). When a template is ported to a CMS, then data entry is easy and happens via input forms without difficulty, even for your grandmother.</p>
          <h5>Content Management Systems</h5>
          <p> I myself do not perform any CMS-portings since that often requires a detailed knowledge about the particular CMS of interest. However, I will post news at the <a href="http://1234.info/webtemplates/multiflex5">Multiflex-5 homepage</a> whenever I get informed about a new CMS-porting. All CMS developers are kindly asked to report to me once they have a successful port available, so I can post that information inside the template and on the Multiflex-5 homepage.</p>
          <ul>
            <li>As of January 18, 2008 no portings known.</li>
          </ul>
        </div> 
        <div class="content-cell-corner-bottom"></div>                       

        <!-- CONTENT CELL (subcells ARE boxes) -->                
        <div class="content-cell-box">
          <!-- Subcell LEFT-->
          <div class="content-subcell-left-box">
          <!-- Subcell content -->
            <div class="content-subcell-corner-top"></div>          
            <div class="content-subcell-cell-box">
              <h1>Color Scheme Contest</h1>                    
              <p>If you like Multiflex-5, but feel sorry that you didn't find your favorite color, you can participate in the Multiflex-5 Color Scheme Contest. The community at <a href="http://www.opendesigns.org">OpenDesigns</a> will vote for a winner. The winner will receive a linked credit recognition in the template package itself.</p>
              <h6>How to participate</h6>
              <p>All necessary graphical elements needed to participate in the color contest are found in the <a href="mf5_tutorial.html#anchor-package">Graphics Package</a>. Your color scheme must include all the elements found in the default template package, that is:</p>
              <ul>
                <li>Rounded corner graphics</li>
                <li>Header graphics (if you need them)</li>
                <li>Logo, icons and bullets</li>
                <li>Font colors</li>
                <li>Border colors</li>                
                <li>Background colors</li>                
              </ul>
              <p>Go to the <a href="http://www.opendesigns.org/forum/discussion/1669/">Multiflex-5 Color Contest</a> at the OpenDesigns.org forum if you want to participate.</p>
              <h6>Screenshot</h6>
              <p>To get a quick feeling of the scheme, post a screenshot at the forum that contains the most important features of your color scheme.</p>                            
              <h6>File format</h6>
              <p>All final contributions should be submitted as (high-resolution) PNG files with transparencies.</p>
              <h6>Voting date</h6>
              <p>July 1, 2008</p>              
            </div>
            <div class="content-subcell-corner-bottom"></div>                    
          </div>

          <!-- Subcell RIGHT -->          
          <div class="content-subcell-right-box">

            <!-- Subcell content -->
            <div class="content-subcell-corner-top"></div>          
            <div class="content-subcell-cell-box">
              <h1>Author</h1>                    
              <p><img src="./img/image_author.jpg" width="100" alt="Image description" title="Image title" />My name is Gerhard and you may be surprised to hear that for my real occupation I work as a full-time pastor for a <a href="http://www.adventist.org/">Christian church</a>. If you have thoughts about the meaning of life, or have an interest in healthy living, or like to discover the principles of harmonious relationships, or enjoy discussing science, society, religion and politics, or would like to find out what the Bible says about things that matter most to you, or if you just want check my latest webtemplates, then feel free to come and <a href="http://1234.info/">visit my homepage</a>. You are always a welcome guest!</p>
              <p>The road to Multiflex-5 was long and rough. In 2006 I decided to start my own website, but didn't find the template I needed. So I began developing my own. About eight experiments, two years and countless nights later, I feel that I finally have reached the goal I was aiming for. It was a long journey, but I think it was worth the price!</p>
              <p>Until my homepage is up and running fully, you can reach me via the <a href="http://www.oswd.org/user/profile/id/10227/">OSWD.org</a> contact form.</p>
            </div>
            <div class="content-subcell-corner-bottom"></div>                                

            <!-- Subcell content -->
            <div class="content-subcell-corner-top"></div>          
            <div class="content-subcell-cell-box">
              <h1>Credits</h1>                    
              <ul>
                <li><a href="http://www.famfamfam.com/lab/icons/">Mark James</a> (UK) -- Flags</li>
                <li><a href="http://www.gosquared.com/liquidicity/archives/122">Go Squared Ltd.</a> (UK) -- Icons</li>                
              </ul>
            </div>
            <div class="content-subcell-corner-bottom"></div>                                
           
          </div>
        </div> 

        <!-- CONTENT CELL -->                
        <div class="content-cell-corner-top"></div>                        
        <div class="content-cell">
          <h1>Release Notes</h1>
          <h5>Multiflex-5.0</h5>
          <h6>January 18, 2008</h6>
          <p>Template submitted to <a href="http://www.opendesigns.org/">Open Designs</a>, <a href="http://www.openwebdesign.org/">Open Webdesign</a>, <a href="http://www.oswd.org/">Open Source Webdesign</a> and <a href="http://www.freelayouts.com/">Free Layouts</a>.</p>
        </div> 
        <div class="content-cell-corner-bottom"></div>                               
      </div>
                
      <!-- C.2 SUBCONTENT -->
      <div class="subcontent">

        <!-- SUBCONTENT CELL -->
        <div class="subcontent-cell-corner-top"></div>                        
        <div class="subcontent-cell">
          <h1>Download</h1>                    
          <h6>Full Template Package</h6>
          <p>Contains the Basic Template Package, Media Package and Graphics Package all in one. Automatically installs all files needed for multimedia content.
          <br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex5/">Download</a> (17.1 MB)</p>

          <h6>Basic Template Package</h6>
          <p>Contains HTML, CSS and image files. Multimedia content not possible.
          <br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex5/">Download</a> (70 KB)</p>
          <h6>Media Package</h6>
          <p>Contains media setup (1.1MB), plus demo audio and video files (15 MB).
          <br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex5/">Download</a> (16.1 MB)</p>
          <h6>Graphics Package</h6>
          <p>Contains original graphics files.
          <br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex5/">Download</a> (0.8 MB)</p>
        </div>  
        <div class="subcontent-cell-corner-bottom"></div>
      
        <!-- SUBCONTENT CELL -->
        <div class="subcontent-cell-corner-top"></div>                        
        <div class="subcontent-cell">
          <h1>Multiflex Series</h1>                    
          <h6>Multiflex-1</h6>
          <p>Released: 15.05.2006<br />OK for operational use.<br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex1/">Latest update</a></p>
          <h6>Multiflex-2</h6>
          <p>Released: 08.06.2006<br />OK for operational use.<br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex2/">Latest update</a></p>
          <h6>Multiflex-3</h6>
          <p>Released: 25.11.2006<br />Well suited for operational use.<br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex3/">Latest update</a></p>
          <h6>Multiflex-4</h6>
          <p>Released: 18.12.2007<br />Well suited for operational use.<br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex4/">Latest update</a></p>
          <h6>Multiflex-5</h6>
          <p>Released: 18.01.2008<br />BEST for operational use.<br />&rarr; <a href="http://www.1234.info/webtemplates/multiflex5/">Latest update</a></p>
        </div>  
        <div class="subcontent-cell-corner-bottom"></div>
      </div>    
    </div>
      
    <!-- D. FOOTER -->      
    <div class="footer">
      <p>Copyright &copy; 2008 Your Company&nbsp;&nbsp;|&nbsp;&nbsp;All Rights Reserved</p>
      <p class="credits">Design by <a href="http://1234.info/" title="Designer Homepage">1234.info</a> | Modified by <a href="#" title="Modifyer Homepage">Your Name</a> | Powered by <a href="#" title="CMS Homepage">Your CMS</a> | <a href="http://validator.w3.org/check?uri=referer" title="Validate XHTML code">XHTML 1.0</a> | <a href="http://jigsaw.w3.org/css-validator/" title="Validate CSS code">CSS 2.0</a></p>
    </div>
    <div class="corner-bottom"></div>        
  </div> 
  
</body>
</html>



