<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>foxy - free web template</title>
<link rel="stylesheet" href="styles.css" type="text/css" />
</head>
<body>
<div id="wrap">
	
	<div id="header">
		<div id="innerheader">
			<div id="title">
				<h1>foxy template</h1>
				<h2>Another free web template by spyka webmaster</h2>
			</div>
		</div>
	</div>
	
	<div id="content">
		<div id="page">
		<div class="innerpage">
			<h3>List</h3>
				<ul>
					<li>List item</li>
					<li>List item</li>
					<li>List item</li>
				</ul>
				<p>&nbsp;</p>
				
				<h3>Code</h3>
				<code>&lt;? echo('Hello world'); ?&gt;</code>
				<p>&nbsp;</p>
				
				<h3>Form</h3>
				<form action="#" method="get">
					<p><label for="name">Name:</label><br />
					<input type="text" name="name" id="name" value="" /><br /></p>

					<p><label for="email">Email:</label><br />
					<input type="text" name="email" id="email" value="" /><br /></p>
					<p><label for="message">Message:</label><br />
	
					<textarea cols="60" rows="11" name="message" id="message"></textarea><br /></p>
					<p><input type="submit" name="send" class="formbutton" value="Send" /></p>
				</form>
				<p>&nbsp;</p>
				
				<h3>Table</h3>
				<table>
					<tr>
						<th>ID</th>
						<th>Name</th>
						<th>Age</th>
					</tr>
					<tr>
						<td>1</td>
						<td>John Smith</td>
						<td>28</td>
					</tr>
					<tr>
						<td>2</td>
						<td>Fred James</td>
						<td>49</td>
					</tr>
					<tr>
						<td>3</td>
						<td>Rachel Johnson</td>
						<td>19</td>
					</tr>
				</table>
				</div>
		</div>
		<div id="sidebar">
			<ul>
				<li><a href="index.html">Home</a></li>
				<li><a href="examples.html" class="selected">Examples</a></li>
				<li><a href="http://www.spyka.net/web-templates">Web templates</a></li>
				<li><a href="http://www.spyka.net/licesing">License</a></li>
				<li><a href="http://www.spyka.net/contact">Contact</a></li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="footer">
		<p>&copy; 2009. MySite.com. Design: <a href="http://www.spyka.net">spyka webmaster</a> | <a href="http://www.justfreetemplates.com">Free Web Templates</a></p>
	</div>
</div>

</body>
</html>
