<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">

<head>

	<title>SimplyAwesome</title>

	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<link rel="stylesheet" type="text/css" media="screen,projection" href="screen.css" />
	
	<!--[if lt ie 7]>
		<link rel="stylesheet" type="text/css" media="screen,projection" href="ie-win.css" />
	<![endif]-->

</head>

<body id="bhome">

	<div id="container">
	
		<div id="header">
            
			<h1><a href="#home">SimplyAwesome</a></h1>
            <h2>brain.save(universe.fetch(everything_interesting));</h2>
            
		</div>
            
		<div id="navigation">
    
			<ul>
				<li id="home"><a href="#home" title="Home">Home</a></li>
				<li id="about"><a href="#about" title="About">About Us</a></li>
				<li id="contact"><a href="#contact" title="Contact">Contact Us</a></li>
				<li id="blog"><a href="#blog" title="Blog">Our Blog</a></li>
				<li id="news"><a href="#news" title="News">News</a></li>
			</ul>
            
		</div>
		
		<div id="wrapper">
		
			<div id="content-wrapper">
			
				<div id="content">
				
					<h1>This is a Big Heading (As If You Couldn't Tell)</h1>
					
					<p>
						Feel free to use this template for personal or commercial use. Make any modifications you want.
						Just refrain from selling it to other people. You don't need to attribute the design to me, but
						a name and a <a href="http://www.nikhedonia.com/" title="SimplyGold">link</a> is appreciated. 
						This page validates as Xhtml 1.0 Strict and Css 2.0 Strict. Acronym example: the <acronym  
						title="National Security Agency">NSA</acronym> deals with <code>lots of code</code>.
					</p>
					
					<h2>This is a Slightly Smaller Heading</h2>
					
					<blockquote>
						<p>
							This is a blockquote. I might need to write a couple more lines for it to show up properly,
							which is why I'm rambling on. I guess I could have used the Lorem Ipsum generator, but it's 
							not very interesting to read, is it? I think this should be enough for you to get the idea.
						</p>
					</blockquote>	
					
					<h4>A Definition List</h4>
					
					<dl>
					
						<dt>
							<a href="http://www.math.utah.edu/~alfeld/math/q1.html" 
							title="Irrationality of the Square Root of 2">
								Why is the square root of 2 irrational?
							</a>
						</dt>
						
						<dd>
						
							[...] The Greeks discovered that the diagonal of a square whose sides are 1 unit long has a diagonal 
							whose length cannot be rational. By the Pythagorean Theorem, the length of the diagonal equals the 
							square root of 2. So the square root of 2 is irrational!
							
						</dd>
						
						<dt class="alt">
							<a href="http://en.wikipedia.org/wiki/Genghis_kahn" title="Genghis Kahn">
								Genghis Kahn
							</a>
						</dt>
						
						<dd class="alt">
							An ugly-looking guy (we can be fairly confident that he is indeed ugly, because any artist who rendered
							his portrait differently would have been presumably summarily executed). But if you insist on reading a 
							more boring biography of him, go ahead and click the link. 
						</dd>
					
					</dl>
				
				</div>
				
			</div>
			
			<div id="sidebar-wrapper">
			
				<div id="sidebar">
				
					<div class="searchBox">
					
						<form action="#" method="post" id="searchForm">
						
							<p>
								<input type="text" size="20" id="keywords" />
								<input type="submit" id="search" value="Search" />
							</p>
						
						</form>
					
					</div>
				
					<h2>Here's the Heading Again</h2>
					
					<ul>
						<li>This</li>
						<li>is</li>
						<li>an unordered</li>
						<li>list.</li>
					</ul>
					
					<h2>And Yet Another Heading</h2>
					
					<ol>
						<li>Whereas</li>
						<li>this</li>
						<li>is</li>
						<li>an ordered</li>
						<li>list.</li>
					</ol>
					
					<h1>Heading 1</h1>
					<h2>Heading 2</h2>
					<h3>Heading 3</h3>
					<h4>Heading 4</h4>
					<h5>Heading 5</h5>
					<h6>Heading 6</h6>
				
				</div>
				
			</div>
		
		</div>
		
		<div id="footer">
		
			<p>
				Copyright &copy; 1162 &ndash; 1227 Genghis Kahn and company. All rights reserved | 
				Destroying countries at people's expense since 1206 | Recently finished conquering 
				<a href="http://validator.w3.org/check/referer" title="Xhtml 1.0 Strict">Xhtml</a> 
				and <a href="http://jigsaw.w3.org/css-validator/check/referer?warning=no&amp;profile=css2" 
					title="Css 2.0 Strict">Css</a>
			</p>
		
		</div>
	
	</div>

</body>
</html>