<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" id="www-nikhedonia-com">

<head>

	<title>Natatorium</title>
	
	<meta http-equiv="content-language" content="en-us" />
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	
	<meta name="author" content="The name of your company goes here" />
	<meta name="description" content="The awesome one-line description goes here" />
	<meta name="keywords" content="Keywords, keywords, keywords, keywords gallore" />
	
	<link rel="stylesheet" type="text/css" media="screen" href="screen.css" />
	
</head>

<body id="bhome">

	<div id="container">

		<p id="meta">
		
			<a href="#01" title="Home">Home</a> | 
			<a href="#02" title="Login">User Login</a> |
			<a href="#03" title="Register">Register</a> | 
			<a href="#04" title="Events">Events</a> | 
			<a href="#04" title="Sitemap">Sitemap</a>
		
		</p>
		
		<div id="header">
		
			<h1><a href="/" title="Home">Natatorium</a></h1>
			
			<h2>A damned good swimming pool</h2>
		
		</div>
		
		<div id="navigation">
		
			<ul>
			
				<li id="lhome"><a href="#06" title="Home">Home</a></li>
				<li id="lproducts"><a href="#07" title="Products">Products</a></li>
				<li id="lsolutions"><a href="#08" title="Solutions">Solutions</a></li>
				<li id="lsupport"><a href="#09" title="Support">Support</a></li>
				<li id="lblog"><a href="#10" title="Blog">Blog</a></li>
				<li id="labout"><a href="#11" title="About">About Us</a></li>
				<li id="lcontact"><a href="#12" title="Contact">Contact Us</a></li>
			
			</ul>
		
		</div>
		
		<div id="wrapper">
		
			<div id="featured">
			
				<!-- Featured item (or a big image) goes here -->
				<p><img src="featured.png" width="640px" height="240px" alt="Featured Image Goes Here" /></p>
			
			</div>
			
			<div id="content-wrapper">
			
				<div id="content">
				
					<h3 class="top">Introduction</h3>
					
					<p>
						Hi there! Natatorium is a free template designed by <a href="http://www.nikhedonia.com/" title="SimplyGold">SimplyGold</a>.
						Feel free to use it for personal or commercial use. Make any modifications whatever. Just refrain from selling it to people.
						You aren't <strong>required</strong> to attribute the design to me, but a mention and a link would be much appreciated. :-)
					</p>
					
					<table summary="A table of random people" cellspacing="0" border="0">
					
						<caption>Table 1: A Table Of Random People</caption>
						
						<tr>
							<th scope="col">First Name</th>
							<th scope="col">Middle Initial</th>
							<th scope="col">Last Name</th>
							<th scope="col">SSN</th>
							<th scope="col">Boredom Level</th>
						</tr>
						
						<tr>
							<td>Monkey</td>
							<td></td>
							<td>Man</td>
							<td>xxx-xx-0000</td>
							<td>2</td>
						</tr>
						
						<tr class="alt">
							<td>Donkey</td>
							<td>D.</td>
							<td>Man</td>
							<td>xxx-xx-3832</td>
							<td>10+</td>
						</tr>
						
						<tr>
							<td>Cranky</td>
							<td></td>
							<td>Man</td>
							<td>xxx-xx-3821</td>
							<td>1</td>
						</tr>
						
						<tr class="alt">
							<td>Franky</td>
							<td>F.</td>
							<td>Manderake</td>
							<td>382-238-2833</td>
							<td>9</td>
						</tr>
					
					</table>
				
				</div>
			
			</div>
			
			<div id="sidebar-wrapper">
			
				<div id="sidebar">
				
					<h6>Unordered List</h6>
					
					<ul>
					
						<li><a href="#">Lorem</a></li>
						<li><a href="#">Dolor</a></li>
						<li><a href="#">Sit</a></li>
						<li><a href="#">Amet</a></li>
					
					</ul>
					
					<h6>Ordered List</h6>
					
					<ol>
					
						<li>Lorem</li>
						<li>Ipsum</li>
						<li>Sit</li>
						<li>Amet</li>
						<li>Dolor</li>
						<li>Kurb</li>
						<li>Metita</li>
					
					</ol>
				
				</div>
			
			</div>
		
		</div>
		
		<div id="footer">
		
			<p>
			
				Copyright &copy; 2006 Natatorium. All rights reserved. | 
				<a href="#13" title="Legal">Legal</a> | 
				<a href="#14" title="Privacy">Privacy</a> | 
				<a href="#1%" title="Accessibility">Accessibility</a> | 
				<a href="#16" title="Sitemap">Sitemap</a>
			
			</p>
		
		</div>
		
	</div>

</body>
</html>
	
	