<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Rambling Soul</title>
<link href="style.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="wrap">
<div id="header">
<div id="topnav">
  <ul>
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">About</a></li>
    <li><a href="#">Blog</a></li>
    <li><a href="#">Contact</a></li>
  </ul>
</div>
<div class="spacer"></div>
<h1><a href="#">YourWebsiteName.com</a></h1>
</div>
<div class="spacer"></div>

<div class="subnav">
<h2>Categories</h2>
<ul class="cats">
<li><a href="#">Events </a>(12)</li>
<li><a href="#">News</a>(5)</li>
<li><a href="#">Business</a>(25)</li>
<li><a href="#">Government</a>(15)</li>
<li><a href="#">Entertainment</a>(8)</li>
<li><a href="#">Education</a>(4)</li>

</ul>
<h2>Archives</h2>
<ul>
<li><a href="#">January</a></li>
<li><a href="#">February</a></li>
<li><a href="#">March</a></li>
<li><a href="#">April</a></li>
<li><a href="#">May</a></li>
<li><a href="#">June</a></li>
<li><a href="#">..more</a></li>

</ul>
<h2>User Menu </h2>
<ul>
<li><a href="#">Register</a></li>
<li><a href="#">Subscribe</a></li>
<li><a href="#">Login</a></li>
<li><a href="#">My Account </a></li>
<li><a href="#">Submit Article </a></li>

</ul>
<h2>Links</h2>
<ul>
<li><a href="http://www.ramblingsoul.com">Rambling Soul</a></li>
<li><a href="http://opendesigns.org">OpenDesigns </a></li>
</ul>

</div>
<div id="content">
<h1><a href="#">Welcome : Heading One with link</a></h1>
  <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Pellentesque  pede dui, egestas quis, sagittis vel, tincidunt a, metus. Vivamus  consectetuer justo quis ipsum. Duis eleifend commodo turpis. Morbi eu  elit. Curabitur porta euismod eros. Vestibulum ante ipsum primis in  faucibus orci luctus et ultrices posuere cubilia Curae; Aliquam erat  volutpat. Vivamus libero. Pellentesque habitant morbi tristique  senectus et netus et malesuada fames ac turpis egestas. Duis sapien  elit, scelerisque vel, tristique et, placerat quis, arcu. Quisque ac  justo et arcu pulvinar aliquam. </p>
  <h1>Welcome : Heading </h1>
  <p>Sed lacinia, sapien non auctor scelerisque, lacus eros cursus metus,  et porta elit libero nec nulla. Cum sociis natoque penatibus et magnis  dis parturient montes, nascetur ridiculus mus. Etiam accumsan nonummy  tellus. Class aptent taciti sociosqu ad litora torquent per conubia  nostra, per inceptos hymenaeos. Suspendisse non arcu nec lorem  ullamcorper lacinia. Etiam mauris elit, elementum et, ullamcorper in,  </p>
<blockquote><p>Placerat eget, purus. Sed in elit non odio fringilla mollis. Proin mi.  Class aptent taciti sociosqu ad litora torquent per conubia nostra, per  inceptos hymenaeos. Fusce non nisi ac lacus tincidunt adipiscing. Donec  viverra.</p></blockquote>
  <p>Praesent diam nibh, molestie et, faucibus id, vulputate vel, risus.  Curabitur bibendum adipiscing est. In hac habitasse platea dictumst.  Aliquam erat volutpat. Phasellus iaculis mollis libero. Integer  venenatis. Nullam quis neque. Duis luctus, erat a gravida accumsan,  lectus nunc cursus neque, non molestie neque libero eu libero. Mauris  tortor. Nullam luctus orci sit amet ante. </p>
  <h2>Heading Two</h2>
  <p>Nam aliquam rhoncus sem.  Pellentesque nec dolor. Integer laoreet ullamcorper augue. Praesent  adipiscing ligula sit amet mi. Integer sed est. Nulla ac tortor. Nulla  commodo varius augue. Sed cursus, metus vitae imperdiet luctus, nulla  magna luctus nisl, ut aliquet eros massa sit amet magna. Maecenas vitae  augue sed turpis congue facilisis. </p>
  <p>Nullam at sem. Curabitur auctor. Pellentesque habitant morbi  tristique senectus et netus et malesuada fames ac turpis egestas.  Suspendisse nonummy pretium enim. Nam id nulla. Vivamus velit purus,  volutpat sed, luctus in, eleifend eget, nisl. Aliquam tortor purus,  aliquet eu, ornare id, facilisis vitae, velit. </p>
  <h3>Heading Three</h3>
 <p>Integer pharetra, neque  ac fermentum pretium, justo odio ullamcorper mi, nec ultrices nisl  nulla a quam. Donec viverra luctus ligula. Nunc suscipit turpis sit  amet augue sodales bibendum. Sed venenatis augue nec nunc. Suspendisse  vestibulum blandit justo. Phasellus sapien. Proin sed dui. Maecenas ac  arcu eu dui elementum tincidunt. Integer facilisis. Integer et mauris.  Ut adipiscing semper est. Praesent justo. </p>
</div>
<div class="spacer">&nbsp;</div>

<div id="footer">
Your copy right information | Put | Some | Links | Here <br />
Designed by - <a href="#">Rambling Soul
</a></div>
</div>
</body>
</html>
