<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>
	Blue Monkey
	</title>
	<link rel="stylesheet" type="text/css" href="main.css" media="screen" title="Blue Monkey (screen)"  />
</head>
<body>
<div id="container">
	<div id="header">
		<div id="headerLeft">
			<h1><span style="color:#599EC8;">Blue</span><br />&nbsp;&nbsp;&nbsp;&nbsp;Monkey</h1>
		</div>
		<div id="headerMain">
			<div id="navcontainer">
				<ul>
					<li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
					<li><a href="#">Home</a></li>
					<li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
					<li><a href="#">About</a></li>
					<li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
					<li><a href="#">Products</a></li>
					<li><img src="img/banana_icon.jpg" width="40" height="44" alt="Go Bananas" /></li>
					<li><a href="#">Services</a></li>
				</ul>
			</div>
		</div>
	</div>
	<div id="lowerMenu">
		<a href="#">Message Center</a> |
		<a href="#"> What's New?</a> |
		<a href="#"> Downloads</a> |
		<a href="#">About us</a>
	</div>
	<div id="mainBody">
		<p>Tuesday October 17, 2006</p>
		<div id="content">
			<div class="searchBox">
				<div class="float-left">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input name="T1" /></div><img src="img/btnSearchBlue3.jpg" alt="Search our Site" />
			</div>
			<p>Well, hello	there!</p>
			<p>Thanks for coming to BlueMonkey!</p>
			<p>We hope you will
			hang around for a while and check out the site, see how you like
			it. Let your eyes relax, this is a haven from flashing banner
			ads and popup windows. Any advertising on this site is done in a
			tasteful manner. If you do experience popup windows, you have
			some type of AdWare on your computer. If so, click
			<a href="#">here</a> for
			information on how to remove it. Please visit our sponsors so we
			can feed our monkey.</p>
			<hr />
			<div class="sponsors">
				Our Sponsors:
				<div class="sponsor">
					<a href="http://www.findmytwinonline.com">Find Your Look-Alike</a><br />
					Search for you look-alike, doppelganger or even find your Long Lost Twin.
				</div>
				<div class="sponsor">
					<a href="http://www.snappyad.com">Snappy-Ad Classifieds</a><br />
					Post unlimited free classified ads with images. Free Registration.
				</div>
				<div class="sponsor">
					<a href="#">Savers</a><br />
					Save money on apparel, furniture, paintings and
					more. Quality used items for less.
				</div>
				<div class="sponsor">
					<a href="#">Pizza Hut</a><br />
					Hungry? Come have dinner under the red roof, treat
					yourself to a delicious meal tonight.
				</div>
			</div>
			<p>Latest News:</p>
			<p>We've expanded
			operations, we are now supporting the tri-west area, including
			Oregon and Washington. A big thank you goes out to all of you
			who make it possible for us to continue.</p>
			<h3>Free Template for commecial and personal use.</h3>
			<p>This template is free to use for both personal and commercial use provided you leave the footer information in place.</p>
			<p>Also if you feel generous you could provide a link to either <a href="http://www.findmytwinonline.com">http://www.findmytwinonline.com</a> or <a href="http://www.snappyad.com">http://www.snappyad.com</a>.</p>
			<p>If you choose to use this template, let me know. I would love to see it in use. Just email me at bryanlass at idavista.com.</p>
			<p>I hope you all enjoy this template.</p>
			<p>Special thanks to <a href="http://www.mikesnow.com">Mike Snow</a> for his graphics work on this template.</p>
			<p>
			<a href="http://validator.w3.org/check?uri=referer"><img
				src="http://www.w3.org/Icons/valid-xhtml10"
				alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
		  </p>

		</div>
		<div id="footer">Copyright YourName Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a>, Inc.</div>
	</div>


</div>



</body>

</html>