<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<title>BlackInGreen Template by Xeonfx.com</title> 
<meta name="keywords" content="Free Template By Ace." />
<meta name="description" content="Descripton" />
<META name="author" content="Ace" />
<link rel="shortcut icon" href="/favicon.png" />  
<link rel="stylesheet" type="text/css" href="style.css" />
</head>
<!-- default margin = default layout -->



<div id="container">

	<div id="header">

	
		
	</div>
<div id="navigation">
<div id="tabs3">
                        <ul>
                                <!-- CSS Tabs -->
<li id="current"><a href="#"><span>Home</span></a></li>
<li><a href="#"><span>Products</span></a></li>
<li><a href="#"><span>Services</span></a></li>
<li><a href="#"><span>Support</span></a></li>
<li><a href="#"><span>Order</span></a></li>
<li><a href="#"><span>News</span></a></li>
<li><a href="#"><span>About</span></a></li>

                        </ul>
                </div></div>


        <div id="main">

        <h1> Heading One </h1>a
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Lorem ipsum dolor sit amet,<a href="#">consectetuer</a>  adipiscing elit. Suspendisse hendrerit ante ut mauris.
 Fusce rutrum <a href="#">consectetuer</a>  elit. Ut et tellus. Nunc non sem. Duis ultricies. Praesent vestibulum,
 dolor sed convallis pretium, sem felis auctor odio, a suscipit pede turpis id nunc. 
Nulla aliquam augue sed orci. Cras <a href="#">consectetuer</a> . Sed hendrerit risus vel enim bibendum laoreet. Lorem 
ipsum dolor <a href="#">consectetuer</a>  amet,consectetuer adipiscing elit. <a href="#">consectetuer</a>  eros. Morbi ac eros condimentum nulla 
<a href="#">consectetuer</a>  congue. <br><br>

 <h2> Heading Two </h2>a
        Lorem ipsum dolor sit amet, consectetuer adipiscing elit. 
Lorem ipsum dolor sit amet,<a href="#">consectetuer</a>  adipiscing elit. Suspendisse hendrerit ante ut mauris.
 Fusce rutrum <a href="#">consectetuer</a>  elit. Ut et tellus. Nunc non sem. Duis ultricies. Praesent vestibulum,
 dolor sed convallis pretium, sem felis auctor odio, a suscipit pede turpis id nunc. 
Nulla aliquam augue sed orci. Cras <a href="#">consectetuer</a> . Sed hendrerit risus vel enim bibendum laoreet. Lorem 
ipsum dolor <a href="#">consectetuer</a>  amet,consectetuer adipiscing elit. <a href="#">consectetuer</a>  eros. Morbi ac eros condimentum nulla 
<a href="#">consectetuer</a>  congue. <br><br>
		
	</div>

        <div id="footer">

	<div class="f1">

				<h2>New Stuff</h2>
				<ul>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					

				</ul>

			</div>
<div class="f2">
				<h2>Links</h2>
				<ul>
                                	<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					<li><a href="#">Link</a></li>
					
				</ul>
			</div>

			<div class="f1">
				<h2>About</h2>
				<ul>
                              Info about you and your site.
				</ul>


			</div>
	
	</div>
<div id="footer2">
	<center>Template created by Ace © 2007-08 <a href="http://www.xeonfx.com">Xeonfx</a></center>	
	</div> 
	</div>




             