<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
<title>new</title>
<link rel="stylesheet" href="1.css" />
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="author" content="coollew - http://www.opendesigns.org/profile/?user=coollew" />
</head>
<body>
<div id="head">
<div class="navbox">
<div id="menu">
<ul>
<li><a href="#">Home</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Events</a></li>
<li><a href="#">Photos</a></li>
<li><a href="#">Forum</a></li>
</ul>
</div>
</div>
<br />
<div id="textbox">
<h1>Summer Breeze</h1>
</div>
</div>
<div id="container">
<div id="content">
<h2>Thoughts of summer</h2>
<p>
<img class="right" src="picks/7.jpg" alt="#"></img>
<span class="firstbigletter">S</span>ame time every year around the end of march or so I always start 
thinking about summer and the fact that its just around the 
corner. From the smell of freshly mowed grass,the lilacs in 
my back yard to the songs of all the different birds 
building there nests in my crab apple trees and those warm 
summer breezes. </p>
<p>
<span class="firstbigletter">I</span> look forward to Saturday mornings going fishing with my son and my two grandsons
later on firing up the ol barbecue grill and sitting back with a tall glass of lemonade.
Catch and release fire fly competitions, bat mitten,Frisbees and baseball
with the whole family at the same time what chaotic fun!.
</p>
<p><span class="firstbigletter">N</span>ot to brag mind ya but I can invite five people to a cookout and 15 will show up
not including drive bys and neighbors but there always welcome and always contribute 
to the fun and being the musically inclined bunch we are we usually end up in an acoustic guitar jam and we even write our own songs.
</p> 
<p><span class="firstbigletter">W</span>ell I guess it will all come full circle soon enough but for now Spring has sprung!<br />
I hear the fish are starting to bite and you couldn't hold me back with a truck.
Enough rambling hope you find this template useful.
</p>
<hr />
<h4>Oh yea this template:</h4>
<p><img class="right" src="picks/sb.jpg" alt="#"></img>
<span class="firstbigletter">C</span>oded in Notepad: <br />
It is valid xhtml 1.0 Strict and Valid css.<br />
No conditional comments, no hacks.<br />
Drove it around the block a couple a times runs good.
</p>
<h4>Browsers tested:</h4>
<ul>
<li>- IE7 </li>
<li>- IE6</li> 
<li>- IE5.5</li>
<li>-Mozilla Firefox 1.5</li> 
<li>-Mozilla Firefox 2.0</li> 
</ul>

<h4>Platforms tested:</h4>
- Windows XP / 2000 / 98 
</div>
<div id="sidebar">
<table id="calendar" cellspacing="0" cellpadding="0" summary="This month's calendar">
<caption><a href="#" title="previous month" class="nav">&laquo;</a> March <a href="#" title="next month" class="nav">&raquo;</a></caption>

 <tr>
<th scope="col" abbr="Sunday" title="Sunday">S</th>
<th scope="col" abbr="Monday" title="Monday">M</th>
<th scope="col" abbr="Tuesday" title="Tuesday">T</th>
<th scope="col" abbr="Wednesday" title="Wednesday">W</th>
<th scope="col" abbr="Thursday" title="Thursday">T</th>
<th scope="col" abbr="Friday" title="Friday">F</th>
<th scope="col" abbr="Saturday" title="Saturday">S</th>
 </tr>
 <tr>
<td>&nbsp;</td>
<td>&nbsp;</td>
<td>1</td>
<td>2</td>
<td>3</td>
<td>4</td>
<td>5</td>
 </tr>
 <tr>
<td >6</td>
<td>7</td>
<td>8</td>
<td>9</td>
<td><a href="#">10</a></td>
<td>11</td>
<td>12</td>
 </tr>
 <tr>
<td><a href="#">13</a></td>
<td>14</td>
<td>15</td>
<td>16</td>
<td>17</td>
<td>18</td>
<td>19</td>
 </tr>
 <tr>
<td>20</td>
<td>21</td>
<td>22</td>
<td><a href="#">23</a></td>
<td>24</td>
<td>25</td>
<td>26</td>
 </tr>
 <tr>
<td>27</td>
<td>28</td>
<td>29</td>
<td>30</td>
<td class="today"><a href="#">31</a></td>
<td>&nbsp;</td>
<td>&nbsp;</td>
 </tr>
</table>
<br />
<h3>Memorial Day</h3>
<p>
Always the first big family get together of the season
outdoors.
A beautifull spot along the mississippi
<a href="#"> read....</a></p>
<h3>4th of July</h3>
<p>
Well because of the little incident with uncle Johns
barn last year we have to re think the setting off our own fire works
thing.
<a href="#"> read....</a></p>

<h3> Look ma! <br />no Lorem ipsum</h3>
<p>
Well I thought I would give it a shot and use real text
for this design because sometimes the best filler text for a design is actual text .
</p>

</div>
<div id="footer">
<strong>By Coollew</strong>
</div>
</div>
</body>
</html>