<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
     "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
<title>Anibanner01 - Open Source Web Template </title>
  <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
  <meta name="author" content="http://www.animatedbanner.com/" />
  <link rel="stylesheet" type="text/css" href="style.css" media="screen" title="screen"/>
 </head>
<body>
	<div id="container">

<div id="header">

	 <span class="quotes1">
"Lorem ipsum dolor sit
<b>consectetuer adipiscing</b>
 sed diem ibh euismod<b> tincidunt ut </b>dolore magna."
</span>
	
	
</div>


<div id="navcontainer">
<ul id="navlist">
<li id="active"><a href="index.html" id="current">Home<span>Back to the main page.</span></a></li>
<li><a href="index.html">Consectetuer<span>This is the link to consectetuer.</span></a></li>
<li><a href="index.html">Dignissim Qui Blandit<span>Anyone for dignissim qui blandit?</span></a></li>
<li><a href="index.html">Vero Eros Et<span>Did you vero your eros et today?</span></a></li>
<li><a href="index.html">Duis Te Feugi<span>There is a duis in my te feugi. </span></a></li>
</ul>
</div>


<div id="content">


<div class="corona">
<b class="top"><b class="b1"></b><b class="b2"></b><b class="b3"></b><b class="b4"></b><b class="b5"></b></b>

<div class="float-right">
<h2 class="noprint">Features:</h2>
<ul>
  <li><span class="black"><a href="http://validator.w3.org/check?uri=referer">Valid XHTML 1.0 Strict</a></span></li>
  <li><span class="black">It has a bird on it.</span></li>
  <li><span class="black">It is open source with no restrictions</span></li>
  <li><span class="black">It has a bird on it.</span></li>
  <li><span class="black">It is free so the price is right.</span></li>
</ul>
<div class="linkcent">
<a href="index.html">Dignissim Qui Blandit</a>
</div>
</div>



<div class="boxcontent">
<h1>A template with a bird on it.  You bet.</h1>

<p>
This template was inspired by elements of a number of templates here as well
as the work of <a href="http://www.webreference.com/programming/css_borders/index.html ">Stu Nicholls</a> (the nifty borders),
and <a href="http://www.sethgunderson.com/">Seth Gunderson</a> (the original code for the menu)
and the bird came from <a href="http://www.sxc.hu/index.phtml">Stock.XCHNG</a>. The CSS is my "working" version and is a friggin mess
 - but it does <a href="http://jigsaw.w3.org/css-validator/check/referer">validate</a>. The template is free for use with no restrictions
but leaving the link to my website in there somewhere would be nice. 

My website is <a href="http://www.animatedbanner.com/">AnimatedBanner.com</a> and
we specialize in sane, unobtrusive banner design as well as many types of website development. If
you need professional help with this template or need a custom banner or template design, you can contact
me by viewing my profile or via the <a href="http://www.animatedbanner.com/contact.html">contact form</a> on AnimatedBanner.com. Okay...
enough shameless self promotion and on to Lorem ipsum dolor.
</p>

<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad 
minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut 
aliquip ex ea commodo consequat. Duis te feugi facilisi.</p>

<h1>Lorem ipsum dolor sit amet, consectetuer adipiscing...</h1>

<p>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad 
minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut 
aliquip ex ea commodo consequat. Duis te feugi facilisi. 
</p>


<div class="blurb"><span class="bkbig">Other Stuff:</span><br/>
Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. <a href="index.html">Ut wisis enim</a> ad 
minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut 
aliquip ex ea commodo consequat :
<ul>
  <li><span class="black">Dolore magna aliguam erat volutpat.</span></li> 
  <li><span class="black">Ex ea commodo consequat.</span></li>  
  <li><span class="black">Vulputate velit esse molestie consequa.</span></li> 
  <li><span class="black">Tution ullam corper suscipit.</span></li>  
  <li><span class="black">Suscipit lobortis nisi ut.</span></li> 
  <li><span class="black">Norem ipsum dolor sit amet, consectetuer.</span></li> 
</ul>
<div class="linkcent">
<a href="index.html">Dignissim Qui Blandit</a>
</div>
</div>




<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed</p>

<p>Norem ipsum dolor sit amet, consectetuer adipiscing elit, sed diem nonummy nibh 
euismod tincidunt ut lacreet dolore magna aliguam erat volutpat. Ut wisis enim ad 
minim veniam, quis nostrud exerci tution ullam corper suscipit lobortis nisi ut 
aliquip ex ea commodo consequat. Duis te feugi facilisi. Duis autem dolor in 
hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat 
nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent 
luptatum zzril delenit au gue duis dolore te feugat nulla facilisi.</p>

</div>
<b class="bottom"><b class="b5"></b><b class="b4"></b><b class="b3"></b><b class="b2"></b><b class="b1"></b></b>
</div>
</div>

<div class="botsmall">
| <a href="index.html">Home</a>
| <a href="index.html">Consectetuer</a>
| <a href="index.html">Dignissim Qui Blandit</a>
| <a href="index.html">Vero Eros Et</a>
| <a href="index.html">Duis Te Feugi</a> |

</div>
<div id="copyright">
Copyright 2006 yoursite.com | Design by <a href="http://www.animatedbanner.com/">AnimatedBanner.com</a>
</div>
</div>	
</body>
</html>
