<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<!--
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
-->
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>The Barn by Free CSS Templates</title>
<meta name="Keywords" content="" />
<meta name="Description" content="" />
<link href="default.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header">
	<h1>The Barn</h1>
	<h2><a href="http://www.freecsstemplates.org/">By Free CSS Templates</a></h2>
</div>
<div id="menu">
	<ul>
		<li class="active"><a href="#" accesskey="1" title="">Homepage</a></li>
		<li><a href="#" accesskey="1" title="">My Blog</a></li>
		<li><a href="#" accesskey="1" title="">Photo Gallery</a></li>
		<li><a href="#" accesskey="1" title="">Favorite Sites</a></li>
		<li><a href="#" accesskey="1" title="">Contact Me</a></li>
	</ul>
</div>
<div id="content">
	<div id="colOne">
		<h3>Veroeros Etiam</h3>
		<ul>
			<li><a href="#">Sed accumsan congue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nunc ante elit nulla</a></li>
			<li><a href="http://www.freecsstemplates.org/">Aliquam suscipit consequat</a></li>
			<li><a href="http://www.freecsstemplates.org/">Cursus sed arcu sed</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Sed accumsan congue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nunc ante elit nulla</a></li>
			<li><a href="http://www.freecsstemplates.org/">Aliquam suscipit consequat</a></li>
			<li><a href="http://www.freecsstemplates.org/">Cursus sed arcu sed</a></li>
			<li><a href="http://www.freecsstemplates.org/">Sed accumsan congue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nunc ante elit nulla</a></li>
			<li><a href="http://www.freecsstemplates.org/">Aliquam suscipit consequat</a></li>
			<li><a href="http://www.freecsstemplates.org/">Cursus sed arcu sed</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Sed accumsan congue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nulla dignissim nec augue</a></li>
			<li><a href="http://www.freecsstemplates.org/">Nunc ante elit nulla</a></li>
			<li><a href="http://www.freecsstemplates.org/">Aliquam suscipit consequat</a></li>
			<li><a href="http://www.freecsstemplates.org/">Cursus sed arcu sed</a></li>
		</ul>
	</div>
	<div id="colTwo">
		<h2>Welcome to My Website</h2>
		<p class="byline">Posted in <a href="#">Uncategorized</a> by Farmer on the December 6th, 2006</p>
		<p><strong>The Barn</strong> is a free template from <a href="http://www.freecsstemplates.org/">Free CSS Templates</a> released under a <a href="http://creativecommons.org/licenses/by/2.5/">Creative Commons Attribution 2.5 License</a>. The header photo is from <a href="http://www.pdphoto.org/">PDPhoto.org</a>. You're free to use this template for both commercial or personal use. I only ask that you link back to <a href="http://www.freecsstemplates.org/">my site</a> in some way.</p>
		<p><strong><em>Enjoy! :)</em></strong></p>
		<h3>Lorem Ipsum Dolorem</h3>
		<p class="byline">Posted in <a href="#">Uncategorized</a> by Farmer on the December 6th, 200 </p>
		<p><img src="images/img6.jpg" alt="" width="102" height="102" class="image" /></p>
		<p>Sed tempus turpis vel quam molestie pulvinar. Suspendisse venenatis dolor semper ipsum. Quisque tempus erat ac mi. Aliquam semper, est nec hendrerit dignissim, ligula turpis sagittis purus, ut viverra velit eros at augue. Pellentesque mi nisi, porta eget, pharetra ac, sollicitudin sit amet, nisi. In sapien ligula lorem sollicitudin facilisis, sodales eget, tempus in, mauris. Cras risus sem, adipiscing non, convallis ac, consectetuer eu, dolor. In quam lorem ipsum dolor sit amet. Curabitur tempus aliquam nulla. Etiam eros.</p>
	</div>
	<div style="clear: both;">&nbsp;</div>
</div>
<div id="footer">
	<p>Copyright (c) 2006 Sitename.com. All Rights Reserved. Design by <a href="http://www.freecsstemplates.org/">Free CSS Templates</a>.</p>
</div>
</body>
</html>
