<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<title>Free CSS Template</title>
<link rel="stylesheet" type="text/css" href="style.css"/>
</head>

<body>
<div id="main">
  <div id="wrapper">
  <div id="header">
    <div class="logo"><a href="#" class="logo"><span>Eco</span>Friendly</a></div>
    <div id="top">
	<div id="user">7 users Online</div>
	<div id="nav">
  <div id="navcontainer">
<ul id="navlist">
<li><a href="../index.html"><span>Home</span></a></li>
<li><a href="../products.html"><span>Products</span></a></li>
<li><a href="../services.html"><span>Services</span></a></li>
<li><a href="../tips.html"><span>Contact</span></a>
</li>
</ul>
</div>
</div>
	</div>
	</div>
  <div id="bannerbg">
    <div id="banner">
      <h1>Another Free Release  </h1>
      <div class="leftcontent">
      Yet another free release from FreeCSS.info. If you use this template I ask that you do not distribute it to other and that you keep the footer link back to www.freecss.info. If you would like to request a template or copyright removal from an existing template please email me and I will try to get back to you as soon as possible. The template is easy to edit and comes with all the required files. If you need anything or think something has been missed out please email me. The email for the queries is info@freecss.info.
	  </div>
	   <div class="rightcontent"><img src="woodland.jpg" alt="woodland" width="372" height="146" class="image" /></div>
    </div>
    <div class="contentmain">
      <div class="leftcolumn">
        <h2>Free CSS Template </h2>
		<div id="navvy">
<ul id="navvylist">
<li><a href="#">Home</a></li>
<li><a href="#">Contact</a></li>
<li><a href="#">About</a></li>
<li><a href="#">Sitemap</a></li>
<li><a href="#">Templates</a></li>
</ul>
</div>
<h2>This Template </h2>
This is yet another free release from www.freecss.info.  If you downloaded it from a site other than www.freecss.info or www.webmaster-files.com please email me at info@freecss.info.
      </div>
      <div class="rightcolumn">
        <h3>News Update </h3>
        <div id="lipsum">
          <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas  mauris augue, posuere vitae, iaculis vitae, volutpat nec, urna. Donec  quam nunc, convallis ut, pretium quis, rhoncus ut, nunc. Vivamus luctus  velit. Mauris facilisis fermentum leo. Vivamus rutrum pede quis libero.  Fusce sed neque id nibh congue aliquam. Nunc dolor lacus, aliquam  mollis, congue a, iaculis eget, ante. Nunc dictum lectus vel metus.  Maecenas commodo nunc at justo. Mauris velit. Nulla facilisi. Mauris  aliquet, nibh vel vestibulum cursus, ligula arcu molestie purus, ut  mollis nunc eros eget urna. Vestibulum non nisi in purus laoreet  lobortis. Integer ornare velit eget sem. Sed adipiscing. Aliquam pede  erat, laoreet et, fringilla a, rutrum ac, libero. Nam pulvinar, nibh id  varius ultrices, urna lorem pulvinar justo, ac posuere mi massa ac  purus. Nullam id elit. Mauris sollicitudin. </p>
          <p>Phasellus eget felis quis nibh mattis lacinia. Proin lacinia mollis  neque. Phasellus enim. Donec ut lectus. Fusce sit amet nisl id turpis  hendrerit rutrum. Mauris consectetuer condimentum neque. Phasellus  semper commodo massa. Vivamus ornare est. Phasellus sed lorem.  Phasellus fringilla suscipit lacus. Morbi ornare nisl nec dolor.  Aliquam erat volutpat. Duis scelerisque turpis in neque. Suspendisse  tortor massa, rhoncus id, facilisis a, porttitor eget, nunc. </p>
        </div>
        <h3>News Update </h3>
        <div id="div">
          <p> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Maecenas  mauris augue, posuere vitae, iaculis vitae, volutpat nec, urna. Donec  quam nunc, convallis ut, pretium quis, rhoncus ut, nunc. Vivamus luctus  velit. Mauris facilisis fermentum leo. Vivamus rutrum pede quis libero.  Fusce sed neque id nibh congue aliquam. Nunc dolor lacus, aliquam  mollis, congue a, iaculis eget, ante. Nunc dictum lectus vel metus.  Maecenas commodo nunc at justo. Mauris velit. Nulla facilisi. Mauris  aliquet, nibh vel vestibulum cursus, ligula arcu molestie purus, ut  mollis nunc eros eget urna. Vestibulum non nisi in purus laoreet  lobortis. Integer ornare velit eget sem. Sed adipiscing. Aliquam pede  erat, laoreet et, fringilla a, rutrum ac, libero. Nam pulvinar, nibh id  varius ultrices, urna lorem pulvinar justo, ac posuere mi massa ac  purus. Nullam id elit. Mauris sollicitudin. </p>
          <p>Phasellus eget felis quis nibh mattis lacinia. Proin lacinia mollis  neque. Phasellus enim. Donec ut lectus. Fusce sit amet nisl id turpis  hendrerit rutrum. Mauris consectetuer condimentum neque. Phasellus  semper commodo massa. Vivamus ornare est. Phasellus sed lorem.  Phasellus fringilla suscipit lacus. Morbi ornare nisl nec dolor.  Aliquam erat volutpat. Duis scelerisque turpis in neque. Suspendisse  tortor massa, rhoncus id, facilisis a, porttitor eget, nunc. </p>
        </div>
        <p>&nbsp;</p>
      </div>
    </div>
  </div> <div class="clear"></div>
  <div id="footer"><a href="http://www.freecss.info">Free CSS Templates </a></div>
  </div>
</div>
</body>
</html>
