<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="main.css" media="screen" title="style (screen)" />
<title></title>
</head>
<body>
	<div id="container">
		<div id="header">
			<div class="left">
				<img src="star.gif" alt="star" />
			</div>
			<div class="right">
				<img src="star.gif" alt="star" />
			</div>
			<div class="content">
				<h3>American Patriot * Support Our Troops</h3>
				<br />
				<ul id="nav">
					<li><a href="#">Home</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">About</a></li>
					<li><a href="#">Contact Us</a></li>
				</ul>
			</div>
		</div>
		<div id="content">
			<div id="innerContent">
				<img src="flag.gif" alt="American Flag" class="float-right" />
				<h3>American Patriot Template</h3>
				<p>This template is free to use for both commercial and personal websites provided you give credit where credit is due by leaving the footer information at the bottom.</p>
				<p class="mainText">If you feel particularly generous you can provide a link to one of my other websites. You can link to either <a href="http://www.findmytwinonline.com">www.findmytwinonline.com</a> or
				<a href="http://www.snappyad.com">www.snappyad.com</a>.</p>
				<p>All images on the website, with the exception of the flag and ribbon, were designed by me and can be used on your own website if you wish. The flag and ribbon were found on <a href="http://www.webweaver.nu/clipart/usa-patriotic3.shtml">USA Patriotic Clipart</a>.</p>
				<img src="bar.gif" alt="patriotic ribbon" class="center" />
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
				erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
				Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
				Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
				pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
				Quisque et neque vitae odio sagittis
				tincidunt.</p>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nulla ac elit ut
				erat tempor vehicula. Duis enim eros, gravida eu, pretium ut, dapibus et, enim.
				Sed ac tellus. Nulla vel arcu. Proin ac sapien et neque pellentesque mollis.
				Praesent ut magna sed tortor luctus pretium. Proin a est gravida dui
				pellentesque tincidunt. Nunc at ipsum. Suspendisse elit. Fusce sit amet lectus.
				Quisque et neque vitae odio sagittis
				tincidunt.</p>
				  <p>
				    <a href="http://validator.w3.org/check?uri=referer"><img
				        src="w3c.gif"
				        alt="Valid XHTML 1.0 Strict" height="31" width="88" /></a>
				  </p>

			</div>
		</div>
		<div id="footer">
			<div class="left">
				<img src="star.gif" alt="star" />
			</div>
			<div class="right">
				<img src="star.gif" alt="star" />
			</div>
			<div class="content">
				<br />
				Copyright your name, Design by Bryan Lass, <a href="http://www.idavista.com">IdaVista</a>, Inc.
				<br />Download your free auto maintenance reminder at <a href="http://www.idavista.com/transroster">www.idavista.com</a>
			</div>
		</div>
	</div>
</body>
</html>