<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>mo05f</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="keywords" content="Ossoba, design, templates" />
<meta name="description" content="Short description of your website..." />
<style type="text/css">
@import url("mo05f.css");
</style>
</head>
<body>
<div class="container">
  <!-- Title begin -->
  <div id="title"><img src="images/logo.gif" alt="Logo" /> Company Name</div>
  <div id="slogan" >Your Company's slogan here... </div>
  <!-- Title end -->
  <table width="770" border="0" cellpadding="0" cellspacing="0" bgcolor="#FFFFFF">
    <tr valign="top">
      <td colspan="2"><img src="images/mo05f_01.gif" width="770" height="93" alt="" /></td>
    </tr>
    <tr>
      <td valign="top"><img src="images/mo05f_02.gif" width="289" height="15" alt="" /></td>
      <td width="481" height="15"><!-- Navigation begin -->
        <div id="navigation">
          <table border="0" cellspacing="0" cellpadding="0">
            <tr>
              <td><a href="index.html" title="Home">Home</a> </td>
              <td><a href="about.html" title="About Us">About</a> </td>
              <td><a href="services.html" title="Services">Services</a> </td>
              <td><a href="news.html" title="News">News</a> </td>
              <td><a href="contact.html" title="Contact">Contact</a></td>
            </tr>
          </table>
        </div>
        <!-- Navigation end -->
      </td>
    </tr>
    <tr>
      <td valign="top"><img src="images/mo05f_04.gif" width="289" height="29" alt="" /></td>
      <td valign="top"><img src="images/mo05f_05.gif" width="481" height="29" alt="" /></td>
    </tr>
    <tr>
      <td valign="top" id="leftBgr"><img src="images/mo05f_06.gif" width="289" height="404" alt="" />
        <!-- Left Panel begin -->
        <div id="leftPan">
          <ul>
            <li><a href="#">Solutions</a></li>
            <li><a href="#">Partners</a></li>
            <li><a href="#">Advantages</a></li>
          </ul>
        </div>
        <!-- Left Panel end -->
      </td>
      <td width="481" height="404" align="left" valign="top"><!-- Main content begin -->
        <div id="content">
          <h1>Welcome to our website</h1>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean <a href="#">nonummy</a> hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
          <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean <a href="#">nonummy</a> hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
          <p>&nbsp;</p>
          <p><img src="images/bullet2.gif" width="11" height="8" alt="bullet" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean <a href="#">nonummy</a> hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris.</p>
          <p> <a href="http://validator.w3.org/check?uri=referer"><img src="http://www.w3.org/Icons/valid-xhtml10"
        alt="Valid XHTML 1.0 Transitional" width="88" height="31" border="0" /></a> </p>
        </div>
        <!-- Main content end -->
        <div id="bottom"><img src="images/circles.png" width="102" height="116" alt="" /></div>
        <!-- Copyright Texts begin -->
        <div id="ossobaLink"><a href="http://www.ossoba.com">Designed by Ossoba Studio</a></div>
        <div id="copyright">Copyright &copy; 200X Your Company</div>
        <!-- Copyright Texts end -->
      </td>
    </tr>
    <tr>
      <td colspan="2"><img src="images/mo05f_08.gif" width="770" height="9" alt="" /></td>
    </tr>
  </table>
</div>
</body>
</html>
