<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="realitysoftware.ca" />
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
<div id="container">
	<div id="main">
    	<div id="navbar">
        	<ul>
            	<li><a href="#">home</a></li>
                <li><a href="#">about us</a></li>
                <li><a href="#">our products</a></li>
                <li><a href="#">contact us</a></li>
            </ul>
        </div>
        <div id="header">
       		<div id="left_bar_header"><span class="title" >REALITY </span><span class="title_dark">DESIGN</span>
            	<p><b>Orange</b> is a free template released by <a href="http://www.realitysoftware.ca">Reality Software</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution 3.0</a> license, which means you can use it in any way you want provided you keep the link to the author intact.</p>
          </div>
        	<div id="right_bar_header"><img src="images/head_bckg_right.jpg" alt="" /></div>
        </div>
        <div id="content">
        	<div id="first_column">
            	<h1><span class="red">About</span> Us</h1>
        	  <p><strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. <a href="#">Pellentesque</a> scelerisque mauris eu nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis Nunc ultricies dictum purus. Vestibulum volutpat. Integer dui. Nullam tellus nisl, pellentesque eu, iaculis ullamcorper, arcu. Nullam dui. </p>
        	  
        	</div>
        	<div id="second_column">
            	<h1><span class="red">Our</span> Benefits</h1>
        	  <p><strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Pellentesque scelerisque mauris eu nunc. <a href="#">Pellentesque habitant</a> morbi tristique senectus et netus et malesuada fames ac turpis Nunc ultricies dictum purus. Vestibulum volutpat. Integer dui. Nullam tellus nisl, pellentesque eu, iaculis ullamcorper, arcu. Nullam dui. </p>
       	    </div>
           	<div id="third_column">
            	<h1><span class="red">Who</span> We Are</h1>
           	  <p><strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Pellentesque scelerisque mauris eu nunc. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis Nunc ultricies dictum purus. Vestibulum volutpat. Integer dui. <a href="#">Nullam tellus nisl</a>, pellentesque eu, iaculis ullamcorper, arcu. Nullam dui. </p>
       	    </div>
            <div class="gallery">
	   <div style="text-align: center; width:100%;"> 
       <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/1.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/2.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/1.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/2.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/1.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/2.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/1.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/2.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/1.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
	    <div class="picture" onmouseover="this.className='picture_2'"  onmouseout="this.className='picture'">
		   <div class="image"><img src="images/2.jpg" alt=" "/></div>
		   <div class="footer"><a href="#">Caption</a></div>
		</div>
</div>
	  </div>
        <div id="footer">
          <div class="left_footer"><a href="#">home</a>&nbsp; | &nbsp;<a href="#">about us</a>&nbsp; | &nbsp;<a href="#">our products</a>&nbsp; | &nbsp;<a href="#">contact us</a></div>
          <div  class="right_footer">
            <div id="footer_right">©2007 All Rights Reserved&nbsp; • &nbsp;Design by <a href="http://www.realitysoftware.ca" title="Website Design">Reality Software</a></div>
          </div>
        </div>
    </div>
</div></div>
</body>
</html>
