<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>Gallery</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<script language="JavaScript1.2" type="text/javascript">
<!--
function MM_findObj(n, d) { //v4.01
  var p,i,x;  if(!d) d=document; if((p=n.indexOf("?"))>0&&parent.frames.length) {
    d=parent.frames[n.substring(p+1)].document; n=n.substring(0,p);}
  if(!(x=d[n])&&d.all) x=d.all[n]; for (i=0;!x&&i<d.forms.length;i++) x=d.forms[i][n];
  for(i=0;!x&&d.layers&&i<d.layers.length;i++) x=MM_findObj(n,d.layers[i].document);
  if(!x && d.getElementById) x=d.getElementById(n); return x;
}
function MM_swapImgRestore() { //v3.0
  var i,x,a=document.MM_sr; for(i=0;a&&i<a.length&&(x=a[i])&&x.oSrc;i++) x.src=x.oSrc;
}

function MM_preloadImages() { //v3.0
  var d=document; if(d.images){ if(!d.MM_p) d.MM_p=new Array();
    var i,j=d.MM_p.length,a=MM_preloadImages.arguments; for(i=0; i<a.length; i++)
    if (a[i].indexOf("#")!=0){ d.MM_p[j]=new Image; d.MM_p[j++].src=a[i];}}
}

function MM_swapImage() { //v3.0
  var i,j=0,x,a=MM_swapImage.arguments; document.MM_sr=new Array; for(i=0;i<(a.length-2);i+=3)
   if ((x=MM_findObj(a[i]))!=null){document.MM_sr[j++]=x; if(!x.oSrc) x.oSrc=x.src; x.src=a[i+2];}
}
//-->
</script>
<link href="tm06f.css" rel="stylesheet" type="text/css" />
</head>
<body bgcolor="#ffffff" onload="MM_preloadImages('images/home_f2.jpg','images/aboutus_f2.jpg','images/activities_f2.jpg','images/services_f2.jpg','images/gallery_f2.jpg','images/links_f2.jpg');">
<div class="container">
<div class="sitename"><img src="images/site_name.png" alt="Site name" /></div>
<div class="content"><h1>Gallery</h1>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. <a href="#" target="_top">Phasellus porta</a>. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi.<img src="images/p2.jpg" alt="p2" width="200" height="150" style="float:left; margin: 10px 10px 10px 0; border:solid #FFFFFF;" /> Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi.</p>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. <img src="images/p4.jpg" alt="p4" width="200" height="132" style="float:right; margin: 10px 0px 10px 10px; border:solid #FFFFFF;" />Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturi.</p>
<p>&nbsp;</p>
</div>
<table width="800" border="0" align="center" cellpadding="0" cellspacing="0">

  <tr>
   <td><img src="images/spacer.gif" width="224" height="1" border="0" alt="" /></td>
   <td><img src="images/spacer.gif" width="576" height="1" border="0" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="1" border="0" alt="" /></td>
  </tr>

  <tr>

   <td colspan="2"><img name="top" src="images/top.jpg" width="800" height="125" border="0" id="top" alt="Top" /></td>
   <td><img src="images/spacer.gif" width="1" height="125" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><a href="index.html" onmouseout="MM_swapImgRestore()" onmouseover="MM_swapImage('home','','images/home_f2.jpg',1);"><img name="home" src="images/home.jpg" width="224" height="77" border="0" id="home" alt="Home" /></a></td>
   <td rowspan="6"><img name="content" src="images/content.jpg" width="576" height="422" border="0" id="content" alt="" /></td>
   <td><img src="images/spacer.gif" width="1" height="77" border="0" alt="" /></td>
  </tr>
  <tr>

   <td><a href="about.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('aboutus','','images/aboutus_f2.jpg',1);"><img name="aboutus" src="images/aboutus.jpg" width="224" height="71" border="0" id="aboutus" alt="About us" /></a></td>
   <td><img src="images/spacer.gif" width="1" height="71" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><a href="activities.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('activities','','images/activities_f2.jpg',1);"><img name="activities" src="images/activities.jpg" width="224" height="72" border="0" id="activities" alt="Activities" /></a></td>
   <td><img src="images/spacer.gif" width="1" height="72" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><a href="services.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('services','','images/services_f2.jpg',1);"><img name="services" src="images/services.jpg" width="224" height="64" border="0" id="services" alt="Services" /></a></td>

   <td><img src="images/spacer.gif" width="1" height="64" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><a href="gallery.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('gallery','','images/gallery_f2.jpg',1);"><img name="gallery" src="images/gallery.jpg" width="224" height="53" border="0" id="gallery" alt="Gallery" /></a></td>
   <td><img src="images/spacer.gif" width="1" height="53" border="0" alt="" /></td>
  </tr>
  <tr>
   <td><a href="links.html" onmouseout="MM_swapImgRestore();" onmouseover="MM_swapImage('links','','images/links_f2.jpg',1);"><img name="links" src="images/links.jpg" width="224" height="85" border="0" id="links" alt="Links" /></a></td>
   <td><img src="images/spacer.gif" width="1" height="85" border="0" alt="" /></td>

  </tr>
  <tr>
   <td colspan="2"><img name="footer" src="images/footer.jpg" width="800" height="53" border="0" id="footer" alt="b" /></td>
   <td><img src="images/spacer.gif" width="1" height="53" border="0" alt="" /></td>
  </tr>
</table>
<div class="bottom">Copyright &copy; 200X Your Company Name<br />Design by <a href="http://www.ossoba.com" target="_blank" class="copy">Ossoba Studio</a></div>
</div>
</body>

</html>
