 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1" />
  <meta name="description" content="Free Web Templates for your web pages" />
  <meta name="keywords" content="Free web template, Open Source," />
  <meta name="author" content=" Template design: Norrash / August12,2006" /> 

  <title>CALLA</title>
  
  <link href="style.css" rel="stylesheet" type="text/css"/>
  
</head>
<body>
<div id="wrapper">
<div id="header">
<img src="callahd.jpg" alt="Calla Header" />
</div> 

<div id="navcontainer"> 
<ul id="navlist">
<li><a href="#" id="current" name="current">Products</a></li>
<li style="list-style: none">||</li>
<li><a href="#">About Us</a></li>
<li style="list-style: none">||</li>
<li><a href="#">Downloads</a></li>
<li style="list-style: none">||</li>
<li><a href="#">News</a></li>
<li style="list-style: none">||</li>
<li><a href="#">Contact</a></li>
<li style="list-style: none">||</li>
</ul>
</div>

</div> 
 
 
<div id="main" ><br /> 

<h1>CALLA LILY!</h1>

  
<p> This is an open source XHTML/CSS template released under a Creative Commons license.<br /> 
which means you can use it in any way you would like.<br />
You are free to change it or use it as is<br/>
and can use it commercially with no fees <br /><br /><br />

The only request  I have is to please keep the "Designed by Norrash" <br />and the credit for the PSP Calla Brush 
in the Footer. <br />
It is only fair the author of the  Brush receives credit for her work<br /><br />


 
 This is a simple single column layout with minimal code . <br />
  The header is my own creation.<br /> XHTML and CSS validate. <br /> Has been reviewed in FireFox and IE6.<br /> Displays well on all screen sizes.<br /><br /> 
 If you any questions or problems please feel free to  <a href="mailto:%20radclyfffe@gmail.com">EMAIL</a> me<br />
 and also contact me so I can see how you used the template.<br /><br />
 
Be sure to put your information in the Meta Tags and also in the Footer </p>
 
 
  
<h1>CALLA LILY!</h1>
<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.<br />
 Ut enim ad minim veniam, quis nostrud exercitation ullamco<br /> laboris nisi ut aliquip ex ea commodo consequat.<br /> 
 Duis aute irure dolor in reprehenderit in voluptate<br /> velit esse cillum dolore eu fugiat nulla pariatur. <br />
 Excepteur sint occaecat cupidatat non proident,<br /> sunt in culpa qui officia deserunt mollit anim id est laborum.<br />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt</p><br />
<div class="rule"> </div>

<h1>CALLA LILY!</h1>
<p>ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco <br />
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
 fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br />
Lorem ipsum dolor sit amet, consectetur adipisicing elit</p>

 
 <h1>CALLA LILY!</h1>
<p>sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
  Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

Lorem ipsum dolor sit amet, consectetur adipisicing elit, 
sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
 Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
 Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.<br /><br />

Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor 
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
 exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
 Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.
  Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p><br /><br />
  <div class="rule">
 </div>
 
 
<div id="footer">
<div class="left">
||copyright&copy;2006 Your Company | All Rights Reserved||<br />
Designed by <br /><a href="http://www.creativedistortion.com/freetemp.html">Norrash</a><br />

Paint Shop Pro Brush by<br /><a href="http://www.siteofwonders.com/brusheslk.html" >L&amp;K</a><br /><br />

 
</div> 
</div> 
</div>  
</body>
</html>

