<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta name="Keywords" content="Misty Grey template" />
<meta name="Description" content="Misty Grey template" />
<meta name="robots" content="index, follow" />

<link rel="stylesheet" type="text/css" href="layout.css" />

<!-- 
      Design: Daniel Kocherscheidt, Jens Wolters
      Open Source: This template is free to use for personal and commercial projects.
	  It is not allowed to remove the footer link though !						
-->

<title>Misty Grey</title>
</head>

<body>
	<div id="center">
	<div id="banner"></div>
		<div id="navigation">
		<ul>
						<li><a class="current" href="index.html">HOME</a></li>
						<li><a href="index.html">NEWS</a></li>
						<li><a href="index.html">ABOUT</a></li>
						<li><a href="index.html">PRODUCTS</a></li>
						<li><a href="index.html">SUPPORT</a></li>
						<li><a href="index.html">PARTNERS</a></li>
						<li><a href="index.html">CONTACT</a></li>
		  </ul>
		</div>
			<div id="main">
				<div id="subnavigation">
					<ul>
						<li><a href="index.html">Submenu 1</a></li>
						<li class="active"><a href="index.html">Submenu 2</a></li>
						<li class="normal"><a href="index.html">Submenu 3</a></li>
						<li class="normal"><a href="index.html">Submenu 4</a></li>
						<li class="normal"><a href="index.html">Submenu 5</a></li>
					</ul>
				</div>
				<div id="content">
					<h1>Headline</h1>
					<p class="float-left">
					 Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Sed erat. Sed dui odio, tristique in, viverra sit amet, tristique nec, odio. Integer in dui vel tellus rutrum ultricies. Vestibulum convallis, lectus non auctor dignissim, mi sem fringilla diam, nec aliquet mauris metus eu elit. Maecenas nec diam vel massa faucibus bibendum. Fusce arcu. Curabitur nec arcu. Curabitur a dui .</p>
	<img class="float-left" src="images/kid.jpg" alt="kid"/>

	<p class="float-none">
	Integer ligula. In tempus ultricies nisl. Duis auctor, tellus scelerisque fermentum luctus, erat turpis pharetra est, mollis consectetuer justo risus sit amet eros. Mauris tortor. Sed velit. Aliquam turpis odio, imperdiet sed, mattis sit amet, tempor non, pede. Nullam tincidunt turpis id dolor. Suspendisse lectus. Curabitur venenatis, arcu vel condimentum tincidunt, enim turpis blandit mauris, et tincidunt velit nisl sit amet velit. Morbi vitae erat. Sed fermentum, nisl et iaculis sodales, neque sapien aliquet pede, blandit dignissim ligula eros eu sem. In quam lectus. 
				  </p>
					<p class="float-none">
	Integer ligula. In tempus ultricies nisl. Duis auctor, tellus scelerisque fermentum luctus, erat turpis pharetra est, mollis consectetuer justo risus sit amet eros. Mauris tortor. Sed velit. Aliquam turpis odio, imperdiet sed, mattis sit amet, tempor non, pede. Nullam tincidunt turpis id dolor. Suspendisse lectus. Curabitur venenatis, arcu vel condimentum tincidunt, enim turpis blandit mauris, et tincidunt velit nisl sit amet velit. Morbi vitae erat. Sed fermentum, nisl et iaculis sodales, neque sapien aliquet pede, blandit dignissim ligula eros eu sem. In quam lectus. 
					</p>
				</div>
				
				   <div class="cleaner"> &nbsp;</div>
               
    </div>
	 <!-- This template ist Open Source as long as the footer links to the authors are included ! -->
	</div>
	<div id="footer"><a href="http://www.gebaeude7.de">Webdesign</a> by <a href="http://www.shocktone.de/">shocktone</a></div>
					
</body>
</html>
