<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="author" content="realitysoftware.ca" />
<title></title>
<link rel="stylesheet" type="text/css" href="css/style.css" />
</head>

<body>
<div id="container">
  <div id="head_navbar">
    	<ul>
        	<li> · <a href="#">home</a></li>
            <li>&nbsp; · <a href="#">contact us</a></li>
        </ul>
  </div>
  <div id="company_name"><a href="#">REALITY <span class="y">DESIGN</span></a><span class="y"></span></div>
  <div id="content_container">
    <div id="main">
      <div id="menu"><a href="#">home</a> | <a href="#">about us</a> | <a href="#">our team</a> | <a href="#">products</a> | <a href="#">contact us</a> </div>
      <div id="first_post">
        <h1>Welcome to Reality <span class="b">Design</span></h1>
         <p><strong>Blue Sky</strong> is a free template released by <a href="http://www.realitysoftware.ca">Reality Software</a> under the <a href="http://creativecommons.org/licenses/by/3.0/">Creative Commons Attribution   3.0</a> license, which means you can use it in any way you want provided you   keep the link to the author intact.<br /><br />
         Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Morbi consectetuer   nisl. Sed nisi lacus, dapibus eget, dapibus eu, luctus vitae, turpis. Sed orci   mi, vehicula nec, egestas et, dignissim sed, purus. Integer sed erat. Ut eget   elit ut diam mattis mattis. Donec venenatis viverra elit. Suspendisse orci.   Morbi aliquet. In rutrum, pede non rutrum luctus, risus lorem blandit nulla, vel   fermentum sem est in metus. Ut mauris. Cras fermentum dui sed neque. </p>
      </div>
       <div id="first_column">
       <h1>About Reality <span class="b">Design</span></h1>
       <p><strong>Lorem ipsum</strong> dolor sit amet, <a href="#">consectetuer</a> adipiscing elit. Morbi consectetuer   nisl. Sed nisi lacus, dapibus eget, dapibus eu, luctus vitae, turpis. Sed orci   mi, vehicula nec, <a href="#">egestas</a> et, dignissim sed, purus. Integer sed erat. Ut eget   elit ut diam mattis mattis. Donec venenatis viverra elit. Suspendisse orci.   Morbi aliquet. In rutrum, pede non rutrum luctus, risus lorem blandit nulla, vel   fermentum sem est <a href="#">in metus</a>. Ut mauris. Cras fermentum dui sed neque. 
       <a href="#" class="read_more">more...</a></p>
      </div>
       <div id="second_column">
       <h1> Reality <span class="b">Vision</span></h1>
       <p>Morbi consectetuer <a href="#">lorem 
ipsum</a>, vel fermentum sem est in metus. Ut mauris. Cras fermentum dui sed neque vitae.

          <br />
           <br />
           <strong>Lorem ipsum</strong> dolor sit amet, consectetuer adipiscing elit. Morbi consectetuer nisl. Sed nisi lacus, dapibus eget, dapibus eu, <a href="#">luctus vitae</a>, turpis. Sed orci mi, vehicula nec, egestas et, dignissim sed, purus. Integer sed 


         <a href="#" class="read_more">more...</a></p>
      </div>
    </div>
    <div id="right">
     	<div id="search">
     	  <input type="text" name="textfield" id="textfield" />
   	    <a href="#">SEARCH</a></div> 
        
        <div id="categories">
        <h1>Reality <span class="b">Categories</span></h1>
        <div id="items">
        	<div class="item" onmouseover="this.className='item_over'"  onmouseout="this.className='item'"> <a href="#"><span class="y">DIGITAL PHOTOGRAPHY</span></a><span class="b">creating comercial<br /> 
       	    pictures</span></div>	
          <div class="item" onmouseover="this.className='item_over'"  onmouseout="this.className='item'"> <a href="#"><span class="y">CREATIVE WEB DESIGN</span></a><span class="b">professional web<br /> 
   	      design</span></div>	
          <div class="item" onmouseover="this.className='item_over'"  onmouseout="this.className='item'"> <a href="#"><span class="y">PRINTS  DESIGN</span></a><span class="b">creating comercial<br /> 
   	      prints</span></div>	
          <div class="item" onmouseover="this.className='item_over'"  onmouseout="this.className='item'"> <a href="#"><span class="y">PHOTO RETOUCH</span></a><span class="b">amazing photo<br /> 
   	      retouch</span></div>	
          <div class="item" onmouseover="this.className='item_over'"  onmouseout="this.className='item'"> <a href="#"><span class="y">FLASH PROJECTS</span></a><span class="b">creating professional<br /> 
   	      flash projects</span></div>		
      </div>
     </div>
     <h1>Social <span class="b">Links</span></h1>
        <div id="links">
        	<ul>
            	<li> <a href="#">best designs</a></li>
                <li> <a href="#">photoshop tutorials</a></li>
        	    <li> <a href="#">digital books</a></li>
        	    <li> <a href="#">best awards 2007</a></li>
        	    <li> <a href="#">photoshop tutorials</a></li>
        	    <li><a href="#"> digital books</a></li>
        	</ul>
      	</div>
        <div id="links_2">
        	<ul>
            	<li> <a href="#">best awards 2007</a></li>
       	      	<li><a href="#"> photoshop tutorials</a></li>
        	    <li> <a href="#">digital books</a></li>
                <li><a href="#">best designs</a></li>
             	<li> <a href="#">photoshop tutorials</a></li>
       	        <li> <a href="#">digital books</a></li>
           </ul>
        </div>
    </div>
  </div>
  <div id="footer">
  <div id="footer_left"><a href="#" >home</a>  |  <a href="#">about us</a>  |  <a href="#">our team</a>  |  <a href="#">our people</a>  |  <a href="#">products</a>  | <a href="#">contact us</a></div>
  <div id="footer_right">©2007 All Rights Reserved  •  Design by <a href="http://www.realitysoftware.ca" title="Website Design">Reality Software</a></div>
  </div>  
</div>
</body>
</html>
