<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8"/>
<title>Blueberry</title>
<link rel="shortcut icon" href="favicon.ico" type="image/x-icon"/>
<link rel="stylesheet" type="text/css" href="gorotron1.css"/>
</head>
<body>
<div id="container">

<div id="banner">
<div id="bannerLeft"></div>
<div id="bannerRight">
<h1>Blueberry :.</h1>
<h2>The Free CSS Template with a Blue Background.</h2>
</div>
</div>

<div id="content">

<div id="leftColumn">
<ul id="nav">
<li><a href="index.html">&raquo; Home</a></li>
<li><a href="index.html">&raquo; News</a></li>
<li><a href="index.html">&raquo; Blog</a></li>
<li><a href="index.html">&raquo; Store</a></li>
<li><a href="index.html">&raquo; Links</a></li>
<li><a href="index.html">&raquo; About Us</a></li>
</ul>
<div id="leftColumnBottom">
<p>FYI the image above the navigation bar should be sized 100h x 150w.</p>
<p>Feel free to do whatever you want with this template. Just be sure to leave my link/credit at the bottom. Thanks!</p>

</div>
</div>

<div id="rightColumn">
<h3>This is a Header <span class="date">12.28.06 // Comments (3)</span></h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer euismod ante non diam. Sed eleifend odio sed quam. Sed vulputate, turpis at tincidunt porttitor, est elit consequat metus, non dignissim augue mauris quis arcu. Phasellus faucibus blandit eros. Curabitur porttitor ante non est. Maecenas dolor. Aenean egestas sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed suscipit, nisi sit amet pharetra malesuada, sem velit laoreet sem, vitae iaculis diam neque consequat est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt eros non quam. Mauris a magna sit amet libero accumsan auctor.</p>

<h3>This is a Header <span class="date">12.24.06 // Comments (0)</span></h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer euismod ante non diam. Sed eleifend odio sed quam. Sed vulputate, turpis at tincidunt porttitor, est elit consequat metus, non dignissim augue mauris quis arcu. Phasellus faucibus blandit eros. Curabitur porttitor ante non est. Maecenas dolor. Aenean egestas sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed suscipit, nisi sit amet pharetra malesuada, sem velit laoreet sem, vitae iaculis diam neque consequat est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt eros non quam. Mauris a magna sit amet libero accumsan auctor.</p>

<h3>This is a Header <span class="date">12.06.06 // Comments (1)</span></h3>
<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Integer euismod ante non diam. Sed eleifend odio sed quam. Sed vulputate, turpis at tincidunt porttitor, est elit consequat metus, non dignissim augue mauris quis arcu. Phasellus faucibus blandit eros. Curabitur porttitor ante non est. Maecenas dolor. Aenean egestas sem. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Sed suscipit, nisi sit amet pharetra malesuada, sem velit laoreet sem, vitae iaculis diam neque consequat est. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Pellentesque tincidunt eros non quam. Mauris a magna sit amet libero accumsan auctor.</p>
</div>

<div id="clear">
</div>

</div>

</div>
<div id="copyright"> &copy; 2007 Your Name Here. Site design by <a href="http://www.gorotron.com">gorotron</a>.</div>
</body>
</html>