<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<title>Ginger-esque - A Ginger Ninja! template</title>
		<style type="text/css" media="screen">
			@import url( style.css );
		</style>
</head>
<body>

<div id="wrapper">

	<div id="header">
		<h3><a href="#">Ginger-esque</a></h3>
	</div>

	<div id="sidebar">
				<h2>Navigation</h2>
				<ul>
					<li><a href="http://www.ginger-ninja.net/" title="Home">Link 1</a></li>
					<li><a href="http://www.ginger-ninja.net/" title="Home">Link 2</a></li>
					<li><a href="http://www.ginger-ninja.net/" title="Home">Link 3</a></li>
					<li><a href="http://www.ginger-ninja.net/" title="Home">Link 4</a></li>
				</ul>

				<h2>Recent Entries</h2>
				<ul>
					<li><a href="#">New website design</a></li>
					<li><a href="#">Welcome</a></li>
				</ul>
	
				<h2>Categories</h2>
				<ul>
					<li><a href="#">General</a></li>
					<li><a href="#">News</a></li>
					<li><a href="#">Funny</a></li>
				</ul>
	
				<h2>Links</h2>
				<ul>
					<li><a href="#">Link 1</a></li>
					<li><a href="#">Link 2</a></li>
					<li><a href="#">Link 3</a></li>
					<li><a href="#">Link 4</a></li>
				</ul>
	</div>

	<div id="content">
		<div class="item">
		<h1><a href="#">New website design</a></h1>
		<div class="meta">By Admin on 10th September 2006</div>
		<p>Ginger-esque was designed by Donny Burnside of <a href="http://www.ginger-ninja.net/">Ginger-Ninja.net</a> and is released under the <a href="http://creativecommons.org/licenses/by-nc/2.5/">Creative Commons 2.5 license</a>. If you use the design all I ask is that you keep the credit link in the footer. Also, it would be nice if you email me at inbox[at]ginger-ninja.net to let me know how you're using the design. An editable Fireworks .PNG file is included for the header image. Enjoy.</p>

<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>
		
				<div class="item">
		<h1><a href="#">Lorem Ipsum</a></h1>
		<div class="meta">By Admin on 1st September 2006</div>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
		</div>

	</div>

</div>

<div id="footer">
<p>&copy; 2006 Your-Website.com | <a href="http://validator.w3.org/check/referer">XHTML</a> | Design by <a href="http://www.ginger-ninja.net/">Ginger Ninja!</a></p>
</div>

</body>
</html>